[2014-07-22 22:28] pixelzoom opened #73 "Beaker contains slight concentration after 'Reset All'"
Originally reported by @bryo5363 in https://github.com/phetsims/joist/issues/138.

While using the Concentration simulation or the Concentration portion of Beer's Law, it is possible to restart the simulation with an initial concentration. I am testing on iOS 8. This is a multitouch issue

Steps to reproduce
-Open simulation
-Use one finger to evaporate the water
-Press 'Reset All' button with oth

[2014-11-21 20:03] samreid opened #80 "Instrument a few components for data analysis"
@kathy-phet requested to instrument a few components for data analysis.  This work should be done in a branch.

[2015-01-05 19:28] pixelzoom opened #82 "gap between light housing and beam"
See red arrow in screenshot below. This happens on some browsers, with some window sizes.  The solution is to add a 1-pixel overlap.

![gap](https://cloud.githubusercontent.com/assets/3046552/5618436/47cb1c34-94d6-11e4-9300-42f2397d9616.png)

[2015-01-05 19:29] #82 closed

[2015-01-22 03:42] pixelzoom opened #83 "rendering quality of title changes in navbar when switching screens (scenery 0.2)"
Observed on Mac OS 10.9.5 with Chrome 40 and Safari 7.1.2.   Screenshots below. Note how the title gets thicker and fuzzier.

![screenshot_434](https://cloud.githubusercontent.com/assets/3046552/5850195/f16041be-a1ad-11e4-902b-500a7171374e.png)
![screenshot_435](https://cloud.githubusercontent.com/assets/3046552/5850196/f6ae02dc-a1ad-11e4-9bcc-b35dfa635baf.png)

[2015-02-05 03:43] samreid opened #84 "According to Color.js, lightGray is not a color"
Perhaps we should use lightgrey instead?

See ConcentrationControl and WavelengthControl.

[2015-02-05 03:44] samreid commented on #84
Same question for scenery-phet/js/ShadowText.js

[2015-02-05 17:52] pixelzoom commented on #84
I'll search and fix. But..

This is a porting error. lightGray is defined for java.awt.Color.  Likely to happen again, given how many times java.awt.Color is used in PhET Java sims. *HIGHLY* recommend to define all Java colors in scenery.Color. Or perhaps create scenery-phet.PhetColors.

A couple of other observations about scenery.Color:

• It's not using HTML5 color names, http://www.w3schools.c

[2015-02-05 17:57] pixelzoom commented on #84
Hmm... @samreid flagged 'lightGray' as incorrect, but it's working in BLL.ConcentrationControl and BLL.WavelengthControl.  Can someone clarify?...

[2015-02-05 18:00] pixelzoom commented on #84
HTML color names are case insensitive. 'lightGray' is a valid color name. See http://www.w3schools.com/html/html_colornames.asp.  This confusion seems to be caused by the fact that scenery.Color doesn't define all supported HTML5 colors.

[2015-02-05 18:21] jonathanolson commented on #84
Missing colors from http://www.w3.org/TR/css3-color/, I'll fix that. Notably, CSS defines both 'gray' and 'grey' variants.

Re: LIGHT_GRAY, this is meant for Java porting, and is unrelated to the CSS colors. I'll also check Java's Color for things we could be missing.

[2015-02-05 18:31] jonathanolson commented on #84
Looks like we will be adding:
darkgrey
darkslategrey
dimgrey
grey
lightgray
lightslategrey
slategrey

Changing color values for:
mediumpurple
palevioletred

Removing colors:
feldspar
violetred

I'll be checking for usages of changed/removed colors before applying the CSS fixes.

[2015-02-05 18:50] jonathanolson commented on #84
Fixed, reassigning to @pixelzoom to see if there's anything else to do.

[2015-02-05 19:01] pixelzoom commented on #84
Looks good to me. Assigning to @samreid to take a peek, since he reported this.

[2015-02-06 14:42] samreid commented on #84
I tested BLL under pixi again and no longer saw the problem, thanks!  Closing.

[2015-02-06 14:42] #84 closed

[2015-02-06 17:50] pixelzoom commented on #84
Ah... I had no idea this was manifesting as a problem under Pixi.

[2015-02-06 23:59] jbphet opened #85 "Create a prototype "sonification" version of the Concentration sim"
As part of the work towards accessibility, I've been asked to create a prototype version of the Concentration simulation (which is a subset of Beer's Law Lab) that includes sonification, meaning audio cues and feedback for the various actions that the user can perform.  This will be done on a branch named "sonification-prototype".

[2015-03-07 01:02] samreid opened #86 "Properties should have `Property` suffix"
While adding API features to Concentration, I noticed that many properties do not have Property suffix:

[code]

This made things a little confusing when trying to isolate properties for api instrumentation.

[2015-03-07 23:48] pixelzoom commented on #86
This was brought up long ago, and we decided it wasn't worth the effort, see https://github.com/phetsims/beers-law-lab/issues/78.  Happy to re-discuss.

[2015-03-07 23:49] pixelzoom commented on #86
This was brought up twice before (#6, #78) and we decided that it would be too destabilizing. Happy to re-discuss.

[2015-03-08 00:56] samreid commented on #86
It looks like Movable.locationProperty is the only var with Property suffix in Beers Law Lab/Concentration.  I don't feel too strongly about adding suffixes, but let's discuss on Monday.

[2015-03-08 02:37] samreid commented on #86
I should also note (as a reminder for discussion): I have been adding some properties as part of the public API for https://github.com/phetsims/concentration/issues/34, and I have been using *Property suffix.  (This is consistent with the PhET Style Guidelines but inconsistent with the majority of the rest of the sim).  I don't feel strongly that they remain that way, but just want to discuss it.

[2015-03-08 18:03] pixelzoom commented on #86
Repos where this convention is violated. Are we going to fix them all?...

area-builder
balancing-act
beers-law-lab
bending-light
build-a-molecule
build-an-atom
energy-forms-and-changes
forces-and-motion-basics
gravity-and-orbits
scenery-phet
sugar-and-salt-solutions
under-pressure

[2015-03-09 17:32] pixelzoom commented on #86
Discussed with @samreid. Since this has come up 3x, I'll go ahead and do it.  And it should be done for all other sims.  I will defer until @samreid is done with https://github.com/phetsims/concentration/issues/34.

[2015-03-09 17:36] samreid opened #87 "Use together API for addComponent/removeComponent"
See https://github.com/phetsims/concentration/issues/34

Many simulation components are created dynamically, and we need a nice way to handle them regarding the together API.  @pixelzoom & I discussed creating an addComponent/removeComponent API to phet.together that will manage that.  I'll create a new branch `together` for beers-law-lab for working on this.

[2015-03-09 18:59] samreid commented on #87
Initial work committed above, this approach seems promising so far.  Save/load/record/playback/queryParameters/archstreams all seem like they will work as well as in the previous "batched" methodology.  Still need to address dynamic components here.

[2015-03-25 21:09] pixelzoom commented on #86
@samreid concentration still has a 'together' branch.

[2015-03-30 18:36] pixelzoom opened #88 "branch: sonification-prototype"
@jbphet I believe that you created the branch named 'sonification-prototype'. Could you briefly describe what its for, and when (or whether) you expect to delete it?

[2015-03-30 23:03] pixelzoom opened #89 "rework SoluteFormNode for together instrumentation"
Address issue that was created by together instrumentation, in SoluteFormNode:

[code]

[2015-03-30 23:03] pixelzoom commented on #89
Above TODO was added by @samreid.

[2015-03-31 00:33] pixelzoom opened #90 "use DerivedProperty where appropriate"
There are quite a few places where it would be more appropriate to use DerivedProperty than Property.

[2015-03-31 01:17] pixelzoom opened #91 "use PropertySet where appropriate"
This sim doesn't use PropertySet, there are places where it would be appropriate.

Related to #90 (use DerivedPropertySet where appropriate).

[2015-03-31 01:34] pixelzoom commented on #86
Note to self... Remaining files to fix:

Absorbance
BeersLawModel
BeersLawSolution

[2015-03-31 03:18] pixelzoom commented on #86
Done. This was a brutal refactor, took 4+ hours. Definitely not worth the effort. I'll be amazed if I didn't break something.

Closing.

[2015-03-31 03:18] #86 closed

[2015-03-31 03:57] samreid commented on #89
Yes, it is very awkward in the data stream how the radio button toggles the visibility of the dropper, and that toggles the model for which solute form is selected.  It should be the other way around.

[2015-03-31 04:40] pixelzoom commented on #90
Done, closing.

[2015-03-31 04:40] #90 closed

[2015-03-31 04:41] pixelzoom commented on #91
I decided not to do this. Most model and view types have 1 or 2 Properties.  And the syntax for specifying together componentID is quite a bit uglier for PropertySet.

[2015-03-31 04:43] pixelzoom commented on #88
Question is answered in https://github.com/phetsims/beers-law-lab/issues/85.

[2015-03-31 04:45] pixelzoom commented on #83
Still seeing this as of 3/30/15, now on Mac OS 10.10.2 + Safari 8, Chrome latest.  Very ugly. Assigning to @jonathanolson.

[2015-03-31 04:47] pixelzoom commented on #80
@samreid can this be closed?  Seems like we've gone a little further than "a few components".

[2015-03-31 04:47] pixelzoom commented on #87
@samreid what else needs to be done here?

[2015-03-31 04:48] pixelzoom commented on #88
@jbphet's description from #85:

[2015-03-31 04:48] pixelzoom commented on #85
Duplicate of https://github.com/phetsims/beers-law-lab/issues/88.

[2015-03-31 04:48] #85 closed

[2015-03-31 16:40] jbphet commented on #88
Work on sonfication is on hold pending funding of some submitted grants.  Unassigning for now, will pick it back up when and if funding comes through.

[2015-03-31 17:26] pixelzoom opened #92 "branch: together-values"
Branch created for exploring how to set values for things that are not Number, String, Boolean (e.g., Solute in Concentration).

This branch is expected to be (possibly) merged to master, then deleted.

[2015-03-31 18:56] pixelzoom commented on #89
Moved soluteFormProperty to ConcentrationModel (good thing componentID is decoupled from implementation route!)  Assigning to @samreid to verify that this didn't break any of the together examples. I recall one example that hides either the shaker or dropper radio button, but didn't see an easy way to test that.

[2015-03-31 18:59] pixelzoom commented on #89
Btw... Just wanted to point out that there is some redundancy and incompleteness related to this in concentration-api.js.

These 2 control the same thing:

'concentrationScreen.soluteForm': { type: property( String ), values: [ 'liquid', 'solid' ] },
'concentrationScreen.dropper.visible': { type: property( Boolean ) },

And there is no 'concentrationScreen.shaker.visible'.  Perhaps it should be ad

[2015-03-31 19:02] pixelzoom opened #93 "issues related to "solute form" in concentration-api.js"
Related to #89, addition of soluteFormProperty.

There is some redundancy and incompleteness related "solute form" in concentration-api.js.

Redundancy: These 2 entries control the same thing:

[code]

Incompleteness: There is no 'concentrationScreen.shaker.visible'.  Perhaps it should be added. Or perhaps concentrationScreen.dropper.visible' should be deleted, since 'concentrationScreen.soluteFor

[2015-03-31 19:39] pixelzoom commented on #92
Notes from our discussion are in https://github.com/phetsims/concentration/issues/38.

[2015-04-01 02:36] samreid opened #94 "Review changes in Solute.js related to together.js refactoring"
@pixelzoom I thought you would probably want to review changes in https://github.com/phetsims/beers-law-lab/commit/95a5c7fb22460cf8a7322ef739f599fe19b78d8f for Solute.js.  Particularly: the Solute constructor signature previously allowed several optional arguments--I revised them to be an options argument so the componentID could be passed through options as well.

[2015-04-01 03:52] samreid commented on #92
I just used this branch as inspiration and worked directly in master.  Branch is now deleted.  Closing.

[2015-04-01 03:52] #92 closed

[2015-04-01 04:42] samreid commented on #80
Yes, we have gone further.  Closing.

[2015-04-01 04:42] #80 closed

[2015-04-01 04:43] samreid commented on #87
The sim has been converted to use the together.addComponent paradigm, so this seems good to go.  Closing.

[2015-04-01 04:43] #87 closed

[2015-04-01 04:43] samreid commented on #89
I tested configuration and data streaming and did not see any issues, thanks.

[2015-04-01 04:43] #89 closed

[2015-04-01 04:44] samreid commented on #93
Yes, now that #89 is complete, I think we can just put soluteForm in the together-API.

[2015-04-01 04:45] samreid commented on #93
Removed dropper.visible above, anything else to do here?

[2015-04-01 18:32] pixelzoom commented on #94
Looks good, thanks for doing that. I changed the formatting a bit.

One question about this:

Since componentID is optional, shouldn't it be this?:

[2015-04-01 18:36] samreid commented on #94
We have been putting componentID in options for compatibility with sims that are not instrumented yet.  In the future, will we want componentID to be required?

Also, I have been thinking of componentID as required when together!==null.

[2015-04-01 18:42] pixelzoom commented on #94
I don't think we want componentID to be required. If it's in a common-code component, we may or may not want to instrument that component depending on the instrumentation needs of a sim.  For example, if it's redundant to instrument a specific component, we may choose to not instrument it in some sim.  So I think it's very appropriate that its an option (not just for compatibility with sims that a

[2015-04-01 19:10] samreid commented on #94
Sounds good to keep componentID in options.  This is critical for common code components anyways.

However, for items that *must* be instrumented, such as user interface components, I think it is appropriate to use:

[code]

without a check for componentID.  This will cause an assertion error in together.addComponent.  This makes it very easy to identify components that still need to be instrument

[2015-04-01 19:17] pixelzoom commented on #94
Sounds good. So what about Solutes, shall they be truly optional or required? (Thinking ahead to the possibly of reusing these Solutes in the [possible] scaled-down version of Concentration that you mentioned yesterday.)

[2015-04-01 19:24] samreid commented on #94
For Concentration and the new Concentration Sim, whenever together!==null, we will want Solutes to report to the API--(may just need different componentIDs to be assigned to them based on their context), so we should omit the check for componentID in this case.

[2015-04-01 19:29] pixelzoom commented on #94
Sounds good. Closing.

[2015-04-01 19:29] #94 closed

[2015-04-02 19:58] pixelzoom commented on #93
Looks good, closing.

[2015-04-02 19:58] #93 closed

[2015-04-15 05:39] samreid commented on #91
Since https://github.com/phetsims/together/issues/49 has been resolved by https://github.com/phetsims/together/issues/72, an uglier syntax for PropertySet is no longer a valid reason for avoiding this work.  However, perhaps "most model and view types have 1 or 2 Properties" may still be a sufficient reason to leave this issue closed.  Up to @pixelzoom to decide, I'm fine either way.

[2015-04-17 18:04] pixelzoom commented on #91
The majority of model elements have 1 axon.Property.  Dropper is the outlier, with 5 axon.Properties.  I see no benefits to switching to PropertySet, so closing.

[2015-04-17 18:04] #91 closed

[2015-04-17 21:02] pixelzoom opened #95 "toggle button on light is broken"
The toggle button on the light in the "Beer's Law" screen is broken in master. It doesn't stay pressed when you press it.  Not sure when this happened, will need to bisect.

[2015-04-17 22:39] pixelzoom commented on #95
Broken in cc87259 while addressing phetsims/scenery-phet#80

[2015-04-17 22:40] pixelzoom commented on #95
Needed to use RoundStickyToggleButton instead of RoundToggleButton. Fixed, closing.

[2015-04-17 22:40] #95 closed

[2015-04-21 02:37] samreid opened #96 "Wrong constructor name SoluteControls/SoluteControlsNode"
In SoluteControls.js, the constructor is named SoluteControlsNode.  I'm happy to resolve it if you like, just let me know which name you recommend.

[2015-04-21 02:47] #96 closed

[2015-04-21 04:00] samreid opened #97 "branch: tandem"
see https://github.com/phetsims/together/issues/85

[2015-04-22 15:05] samreid opened #98 "Reinstrument using tandem"
This simulation has been somewhat of a "guinea pig" for experimentation with together.js instrumentation.  The next "experiment" is instrumentation using the tandem strategy decsribed in https://github.com/phetsims/together/issues/85 .  This issue is to track commits and make it easy and review to see what has changed.

[2015-04-22 15:31] samreid commented on #98
Commits on beers-law-lab and concentration are above.  Common library commits forthcoming, and will also be tracked in this issue.

[2015-04-22 16:58] samreid commented on #98
@jbphet & I finished converting concentration and its dependencies to use tandem for together.js support.  All change sets notes above.  @pixelzoom do you wish to review?

[2015-04-22 17:35] pixelzoom commented on #98
Yes, I wish to review.  Any general information that you want to give me describing the approach, or should I try to figure out the approach from the change sets?

[2015-04-22 17:46] jbphet commented on #98
This is pretty much what we discussed at yesterday's developer meeting, so you should be fully equipped to jump in.

[2015-04-22 18:52] samreid commented on #98
Just to elaborate: tandem instances will be passed through the sim.  Tandems are required in sim code and optional in library code.  tandem.addInstance() will be done in the most general place possible, such as sun components.  When creating a new kind of component, it will register with tandem using tandem.addInstance manually.  Tandem.createTandem() is used to create a new "context" for associat

[2015-04-23 16:46] pixelzoom commented on #98
I spot checked in beers-law-lab, looks great.  General comments about tandem are in https://github.com/phetsims/together/issues/85.  Closing this issue.

[2015-04-23 16:46] #98 closed

[2015-04-29 21:56] jbphet opened #99 "instrument the remainder of beers-law-lab with tandem"
The concentration simulation is being instrumented with tandem/together, see https://github.com/phetsims/together/issues/32.  Since concentration is a subset of Beer's Law Lab, we should instrument it as well or decide to leave the beers-law-lab code base in a partially instrumented state.

[2015-04-29 21:59] samreid commented on #99
I would recommend to (a) ensure there are no bugs in BLL due to concentration instrumentation, then (b) estimate the amount of work required to instrument then (c) discuss with @kathy-phet for prioritization.

[2015-04-30 17:02] pixelzoom commented on #99
Discussed at status meeting. I'll do this to get some first-hand experience with instrumenting a sim.

[2015-05-03 02:10] samreid commented on #99
Before @pixelzoom starts on this, it would be good for @jbphet & @samreid to provide some documentation/instruction/support that @pixelzoom or other instrumentors would be able to use.

[2015-05-19 19:56] pixelzoom commented on #99
Just to be clear... I'm waiting to start this task until @jbphet provides documentation in phetsims/together#14.

[2015-05-22 20:35] pixelzoom opened #100 "i18n layout issues"
This sim has some i18n layout issues that are apparent with ?stringTest=double, see screenshot.

![screenshot_524](https://cloud.githubusercontent.com/assets/3046552/7779204/cb171a50-008f-11e5-9c6b-a1304a716f0c.png)

[2015-05-26 16:41] pixelzoom commented on #97
@samreid Please comment on whether this branch is still necessary.

[2015-05-26 16:45] pixelzoom commented on #83
This is a general issue that affects all sims. Moved this issue to https://github.com/phetsims/scenery/issues/431.

[2015-05-26 16:45] #83 closed

[2015-05-26 17:02] pixelzoom commented on #100
Work on this after https://github.com/phetsims/scenery/issues/428 is completed.

[2015-05-26 21:37] pixelzoom commented on #99
Assigning to @jbphet.  Assign back to me when documentation is ready.

[2015-05-26 21:41] pixelzoom commented on #99
I created https://github.com/phetsims/tandem/issues/2 for documentation, and assigned to @jbphet.  That issues is a prerequisite to this issue. Assigning this issue back to me.

[2015-05-27 14:22] pixelzoom opened #101 "BLLDropperNode: address potential problem introduced by tandem"
@samreid added this TODO in BLLDropperNode:

[code]

I would prefer not to have this type of time bomb hanging out in my code. So I'll address it.

In general, I recommend that this type of "client code workaround" be avoided, and that tandem be properly addressed in common-code components.

[2015-05-27 14:38] pixelzoom opened #102 "Remove ShakerParticles.setValueToSim after #103 complete"
Here's ShakerParticles.setValueToSim and its documentation, added by @samreid:

[code]

Several questions/requests:

(1)  I don't understand "This is declared here instead of in together.js".  together.js is a general API. Ignoring the reasons why it's not declared in together.js, why would something sim-specific like this ever be declared in together.js?

(2) "The argument is defined in concentra

[2015-05-27 14:38] pixelzoom commented on #102
@jbphet please feel free to chime in.

[2015-05-27 14:42] pixelzoom opened #103 "Instrument ShakerParticle.js"
This issue was added to ShakerParticles by @samreid:

For the benefit of whoever has to address this in the future... Please describe what would be involved, whether someone is currently working on this (I have the feeling the answer is yes, but in beaker), etc.  Thanks.

[2015-05-27 14:45] pixelzoom opened #104 "instrument PrecipitateParticle.js"
ShakerParticles (the container type for shaker particles) has basic support for saving and loading the state of the particles.  Why is this support not necessary for Precipitate (the container type for precipitate particles)?

[2015-05-27 16:03] pixelzoom commented on #102
This issue also illustrates the importance of addressing https://github.com/phetsims/together/issues/125 (Should wrapper types be renamed?)  Parameter `value` is presumably poorly documented because ` `@param {ShakerParticle[]} value` would be confusing - we wouldn't know which `ShakerParticle` we're referring to, the one in concentration-api.js or the one in ShakerParticle.js.

[2015-05-28 17:20] pixelzoom commented on #99
I'm going to start on this without documentation, pairing with @jbphet.

[2015-06-01 14:57] pixelzoom commented on #99
@ariel-phet This task is on indefinite hold.  As outlined in https://github.com/phetsims/together/issues/130, together/tandem has a very big hole in its design and implementation.

[2015-06-01 15:02] ariel-phet commented on #99
@pixelzoom - understood, I read over the together issue and it seems like a good point. We can discuss with @kathy-phet when she returns. It may be that this refactoring/additional work has to wait until @samreid returns.

[2015-06-03 20:15] samreid opened #105 "branch: together"
Work on https://github.com/phetsims/beers-law-lab/issues/99 was put on hold due to difficulty in factoring out together API declarations that are used from the same screen in multiple sims.  In https://github.com/phetsims/together/issues/130, @samreid suggested how to factor out the code.  I put together a solution and discussed it briefly with @jbphet, who suggested that I commit it to a branch u

[2015-06-03 20:34] samreid commented on #99
I factored out the concentration screen together API, please see https://github.com/phetsims/together/issues/130#issuecomment-108606922 for discussion.

[2015-06-03 22:29] pixelzoom commented on #105
Can @samreid or @jbphet briefly describe the approach, and whether it required changes to together/tandem?

[2015-06-03 22:32] pixelzoom commented on #105
Never mind, looks like there's a description in https://github.com/phetsims/together/issues/130#issuecomment-108606922.

[2015-06-03 22:34] pixelzoom commented on #105
Does this branch require the "beers-law-lab" branch of together, mentioned here: https://github.com/phetsims/together/issues/134?  Confusing that the branches have different names (would be nice if they had the same name), and neither issue explicitly mentioned this dependency.

[2015-06-03 22:39] pixelzoom commented on #105
When phetsims/beers-law-lab#99 and phetsims/beers-law-lab#105 are completed, this branch can presumably be deleted.

[2015-06-04 01:10] samreid commented on #105
To run beers-law-lab with concentration fully instrumented and ready for the 2nd screen instrumentation, you need the following branches:

together: beers-law-lab
beers-law-lab: together

My hope is that these will be short-lived branches, just long enough to verify and test that they don't disturb anything for concentration, which may need to be re-released for metacog.

[2015-06-25 14:53] pixelzoom opened #106 "replace toFixed with dot.Util.toFixed"
This sim uses JavaScript's built-in toFixed. This function should not be used directly; it is notoriously buggy, and behavior differs depending on browser, because the spec doesn't specify whether to round or floor. Use dot.Util.toFixed, see its doc for details.

[2015-06-25 16:15] #106 closed

[2015-07-07 18:59] pixelzoom commented on #100
Tested with stringTest=double and stringTest=X, no layout issues noted. Closing.

[2015-07-07 18:59] #100 closed

[2015-07-13 20:33] pixelzoom commented on #101
This will involve touching common code (scenery-phet.EyeDropperNode), but isn't a blocking issue for redeploy.  So I'm going to remove the S2015R label.

[2015-07-16 18:33] pixelzoom commented on #101
I addressed this by improving internal documentations.  Closing.

[2015-07-16 18:33] #101 closed

[2015-07-29 12:59] samreid commented on #97
@jbphet can we remove this branch now?

[2015-07-29 13:01] samreid commented on #105
I don't have plans to work on this branch at the moment, unassigning.

[2015-08-03 02:22] samreid commented on #104
We will probably need to add support for save/load precipitate particles so that the sim can be loaded from an arbitrary state.  We can reassign this issues once we are working on together again, I'm working on other things so unassigning for now.

[2015-08-03 02:24] samreid commented on #103
The basic idea is to save every part of the model state so that the simulation can be loaded from any state into any other state.

Currently, we are making the simplifying assumption that the simulation states are played back in order--this means that just playing back the positions is sufficient to replicate playback.  However, things would be physically inaccurate for "load to pick up where I le

[2015-08-03 02:26] samreid commented on #102
Unassigning until we are working on together again.

[2015-08-05 18:06] jbphet commented on #97
I haven't done anything with this branch, and it looks like it basically hasn't been touched since April.  I will delete it.

[2015-08-05 18:07] jbphet commented on #97
Okay, branch removed.  Closing.

[2015-08-05 18:07] #97 closed

[2015-08-17 19:07] jbphet opened #107 "branch: label-set-demo"
This branch was created to support a demo, requested by @ariel-phet, where it is possible to override the label on the shaker using a query parameter.  See https://github.com/phetsims/concentration/issues/43 for more information.

[2015-08-20 03:29] jonathanolson opened #108 "concentration readout always 0"
See screenshot:

![bll-always-0](https://cloud.githubusercontent.com/assets/480878/9375028/472877aa-46b9-11e5-8db8-cb8ae6fb58bc.PNG)

You can switch solutions, and it is always 0 (sometimes with different units it seems). Different from online version.

[2015-08-20 16:39] pixelzoom commented on #108
It's also not updating (displayed value remains 0) when moving the slider.

[2015-08-20 16:58] pixelzoom commented on #108
Fixed. This was introduced 0n 6/25/15 in @5e74b67, when I switched to using dot.Util.toFixed. It has never appeared in a published version.  Thanks @jonathanolson for noticing this.  Closing.

[2015-08-20 16:58] #108 closed

[2015-08-24 21:12] ariel-phet opened #109 "Consider reducing size of radio buttons"
It seems the visual size of the radio buttons in this sim is a bit large, though the touch area is obviously nice. (compared to what we seem to have settled upon these days). We might consider reducing the size when we republish.

[2015-08-24 21:38] pixelzoom commented on #109
Example of the size you'd prefer, for reference?

[2015-08-25 13:59] ariel-phet commented on #109
RPAL looks right to me.

[2015-08-25 19:54] pixelzoom commented on #109
Reduced radius of radio buttons in this dev version:
http://www.colorado.edu/physics/phet/dev/html/beers-law-lab/1.3.0-dev.4/beers-law-lab_en.html

Compare to RPAL:
http://phet.colorado.edu/sims/html/reactants-products-and-leftovers/latest/reactants-products-and-leftovers_en.html

Assigning to @ariel-phet to verify.

[2015-08-25 20:42] ariel-phet commented on #109
Looks good, except the "preset" and "variable" radio buttons on the beer's law screen, those still look large.

[2015-08-25 21:02] pixelzoom commented on #109
I hate you JavaScript. Syntax error that it just completely ignored. But I should have noticed visually.

Here's another dev version:
http://www.colorado.edu/physics/phet/dev/html/beers-law-lab/1.3.0-dev.5/beers-law-lab_en.html

[2015-08-26 07:58] ariel-phet commented on #109
Hate understood...looks great now. Closing.

[2015-08-26 07:58] #109 closed

[2015-08-30 20:02] pixelzoom commented on #73
This is a general issue, tracked in https://github.com/phetsims/scenery/issues/218.  It's not appropriate to handle this specific case (and undoubtedly others) in this sim, it should be addressed generally.

I'm closing this issue as 'won't fix'. If @ariel-phet or anyone else disagrees, please reopen.

[2015-08-30 20:02] #73 closed

[2015-08-31 19:16] pixelzoom opened #110 "add visibility annotations"
Add @public, @protected or @private annotations to anything that's publicly visible.
See https://github.com/phetsims/tasks/issues/307.

[2015-09-01 00:04] #110 closed

[2015-09-02 16:10] samreid opened #111 "use ProbeNode instead of images"
In https://github.com/phetsims/bending-light/issues/165 @pixelzoom suggested factoring out the light sensor node "probe" for reuse in other sims.  I have generalized it and created a demo in scenery-phet's example launcher in https://github.com/phetsims/bending-light/issues/165 .  That should all be reviewed by someone other than @samreid.  After the review is complete, Beers Law Lab should be rew

[2015-09-02 16:40] samreid commented on #111
The name of the image to be replaced is at-detector-probe.png.  When I tried replacing:

[code]
with

[code]
in ATDetectorNode.js, things look pretty good.  I made a before/after screencast to depict the visual differences.  It seems like both sensors intercept the light in the same way as well.

![intensity-sensor](https://cloud.githubusercontent.com/assets/679486/9637597/f2aef6a8-515e-11e5-8b4e-

[2015-09-02 16:40] samreid commented on #111
If it is important for the height to exactly match the predecessor, the height can be adjusted independently in the options.

[2015-09-02 16:50] pixelzoom commented on #111
It's mainly important for the center of the probe to be in the same place.

[2015-09-04 19:59] pixelzoom commented on #111
LightSensorNode has a ways to go before I would add it to beers-law-lab, see review comments in https://github.com/phetsims/bending-light/issues/165#issuecomment-137838691.   Highly recommended to generalize it so that it can be used for both the AT Detector probe and Concentration meter probe - the shapes aren't that different.

[2015-09-04 20:03] pixelzoom commented on #111
Assigning this back to @samreid until work is completed in phetsims/bending-light#165. Please assign back to me when you're done.

[2015-09-25 05:53] samreid commented on #111
As far as I know, the outstanding probe node issues are awaiting feedback.  I'll reassign this to @pixelzoom as well.

[2015-09-28 17:59] pixelzoom commented on #111
To approximate the image that was used in beers-law-lab, I tried these options to ProbeNode in beers-law-lab.ATDetector:

[code]

Here's a comparison of the image file (left) and ProbeNode (right). The dimensions of the probes shown are identical (110x171).

![screenshot_15](https://cloud.githubusercontent.com/assets/3046552/10143630/8bef9a08-65d6-11e5-8367-ce598be479d7.png)

I could not duplicate

[2015-09-28 18:00] pixelzoom commented on #111
Note to self: BeersLaw-screen-icon.png will also need to be recreated, because it shows the AT probe, which now looks slightly different.

[2015-09-28 18:03] pixelzoom commented on #111
@samreid If you don't agree that the shading needs to be improved, feel free to run it by @ariel-phet or one of the designers.

[2015-09-28 18:05] pixelzoom commented on #111
beers-law-lab-screenshot.png will also need to be regenerated, since it also shows the AT probe.

[2015-09-28 20:48] ariel-phet commented on #111
@pixelzoom @samreid - agreed that shape is totally acceptable

agreed with @pixelzoom that shading should be improved

[2015-09-29 15:21] samreid commented on #111
I'm not sure how to create the desired shading, I added a developer-meeting label to see if anyone has ideas about that.

[2015-09-29 16:27] pixelzoom commented on #111
9/30/15 dev meeting notes:
• Some developers think this looks ok.
• Look at ShadedRectangle to see how shading was done, try to match that.
• @jonathanolson and @samreid will look at improving gradient look.
• I will revert changes to beers-law-lab and look at this after redeploy.

[2015-09-29 19:34] pixelzoom commented on #99
Unassigning until together/tandem is at a point where this can proceed.

[2015-09-29 20:24] pixelzoom commented on #111
Reverted to using an image. Will revisit this issue after S2015R.

[2015-10-07 17:31] samreid opened #112 "Dramatic drop in performance"
While I was testing https://github.com/phetsims/together/issues/130 I noticed that the performance of dragging the shaker or dropper is dramatically reduced.  I compared master/built to http://www.colorado.edu/physics/phet/dev/html/concentration/1.2.0-dev.9/ and quantified these results with the profiler.  Chrome Version 45.0.2454.101 (64-bit) on OS X El Capitan dragging the shaker back and forth:

[2015-10-07 18:03] samreid commented on #112
Testing build versions by date:

--before="2015-09-20 13:37" => 41fps
--before="2015-09-10 13:37" => 60fps
--before="2015-09-15 13:37" => 60fps
--before="2015-09-17 13:37" => 60fps
--before="2015-09-19 13:37" => 60fps
--before="2015-09-25 13:37" => 40fps
--before="2015-09-20 13:37" => 60fps ????
--before="2015-09-21 13:37" => 60fps
--before="2015-09-24 13:37" => 40fps
--before="2015-09-22 13:37" =

[2015-10-07 19:46] samreid commented on #112
Likewise if I go to master in all repos, i'm seeing 40fps.  Reverting Input.js to scenery7de85ee952d1bc78205b04a921860caafb4a1ec4 speeds it up again.

[2015-10-07 20:16] samreid commented on #105
I deleted the branch during work in https://github.com/phetsims/together/issues/130 .  Please be advised I have only deleted the remote branches and local branches will have to be deleted by each developer (or re-clone the repo).

[2015-10-07 20:17] samreid commented on #105
Reassigned to @pixelzoom as a reminder to remove local branches. Close if there is nothing else to do here.

[2015-10-07 20:43] jonathanolson commented on #112
So it affects performance in all browsers and platforms?

[2015-10-07 20:46] samreid commented on #112
Thus far I have only tested Chrome Version 45.0.2454.101 (64-bit) on OS X El Capitan and I recommend broader testing.

[2015-10-08 02:10] samreid commented on #112
iPad3 iOS9 Safari 13fps dragging the shaker, independent of whether this is before or after Input.js

[2015-10-08 05:42] jonathanolson commented on #112
I'm not able to reproduce a performance loss between 67dce082a2e44f0348791029150c4a2a7924f686 and c81e47d5494f6b933b854287fb215c1f48184621 on Windows 7 for Firefox/Chrome/IE.

I'd be curious how Firefox on OS X will behave.

[2015-10-08 16:44] pixelzoom commented on #105
Got it. Closing.

[2015-10-08 16:44] #105 closed

[2015-10-08 17:59] pixelzoom commented on #112
Do we need to put RC testing on hold?

[2015-10-08 18:01] pixelzoom commented on #112
This is caused by the preventDefault workaround added for iframe in https://github.com/phetsims/scenery/issues/464.

[2015-10-08 18:05] pixelzoom commented on #112
This is not specific to beers-law-lab, it potentially affects all sims.
This is caused by the preventDefault workaround added for iframe in phetsims/scenery#464.
Performance is much worse in the built version, and doesn't have to be in an iframe.
Only noticed in Chrome on OS X so far, but all platforms have not been tested.

Do we need to put RC testing on hold?

[2015-10-08 18:05] samreid commented on #112
@samreid demonstrated that the built version is slow, and the requirejs version is super fast.

[2015-10-08 18:06] samreid commented on #112
@jonathanolson said since the built versions are slower than the requirejs versions, it is much higher priority and he will look into it.

[2015-10-08 18:06] pixelzoom commented on #112
@ariel-phet says proceed with RC testing. We may need to put publishing on hold until this is resolved.

[2015-10-10 08:18] jonathanolson commented on #112
https://github.com/phetsims/scenery/issues/406 (layer-fitting hints) would help identify the SVG section that shouldn't be fitted (dynamic movement). In my testing I'm turning off SVG layer fitting so I can dig into the build performance issue.

Timeline for built sim:
![screen shot 2015-10-10 at 2 09 33 am](https://cloud.githubusercontent.com/assets/480878/10410108/05c25204-6ef5-11e5-9158-36e7f4f

[2015-10-10 08:25] jonathanolson commented on #112
Testing same built version (with disabled SVG layer fitting), but ALSO with preventDefault() called on all non-key events:

![screen shot 2015-10-10 at 2 23 02 am](https://cloud.githubusercontent.com/assets/480878/10410146/f55f33ea-6ef5-11e5-98eb-2df4375a1181.png)

Other testing changes to make the local version more closely match the built version (same header, etc.) haven't resulted in any impro

[2015-10-10 08:44] jonathanolson commented on #112
Committed workaround related to https://github.com/phetsims/scenery/issues/464 that calls preventDefault() again on mousemove (most notably) so that we don't have the Chrome performance loss on the dragging. We still keep the previous mousedown (no preventDefault) behavior for https://github.com/phetsims/scenery/issues/464.

Turning off layer fitting on top of this commit makes performance buttery

[2015-10-13 16:11] pixelzoom commented on #112
@jonathanolson said:

This additional issue (phetsims/scenery#406) apparently needs to be fixed before general redeployment of sims.

[2015-10-13 16:16] pixelzoom commented on #112
@jonathanolson said:

This additional issue (phetsims/scenery#406) does NOT need to be fixed before redeploy. It's not something that was caused by the workaround herein, it's been a general performance issue with scenery 0.2 that @jonathanolson has wanted to take care of.

[2015-10-13 16:19] pixelzoom opened #113 "apply layer-fitting hint to improve performance"
Factored this out of #112.

Take adavantage of a new scenery feature (https://github.com/phetsims/scenery/issues/406) to improve performance. @jonathanolson will provide guidance on where/how to apply this feature.

[2015-10-13 16:20] pixelzoom commented on #112
Applying layer-fitting hint is moved to https://github.com/phetsims/beers-law-lab/issues/113.

Closing this issue, since the performance drop has been addressed.

[2015-10-13 16:20] #112 closed

[2015-10-22 05:08] samreid commented on #111
The ProbeNode got better shading in https://github.com/phetsims/scenery-phet/issues/192 and is ready for re-evaluation for usage in Beer's Law Lab and other sims.

[2015-10-27 16:23] pixelzoom commented on #113
@ariel-phet Do you want this addressed for S2015R?  If so, @jonathanolson will need to advise.

[2015-10-27 16:24] pixelzoom commented on #113
... and perhaps @jonathanolson can comment on whether he thinks this needs to be done for S2015R. I am not aware of any reported performance issues.

[2015-10-27 16:27] pixelzoom commented on #111
The benefits to switching to ProbeNode are (1) it will eliminate 2 image files, (2) it will exercise ProbeNode.  The cost is a 1-2 hours, mostly spent trying to make ProbeNode look like the image files, and potential destabilization.

Questions for @ariel-phet:
• Do you want this done for S2105R?
• Do you want this done at all?

[2015-10-27 16:29] ariel-phet commented on #111
@pixelzoom seems worth a shot in terms of exercising ProbeNode.

[2015-10-27 16:29] jonathanolson commented on #113
If there aren't performance complaints, I wouldn't call it a blocking issue.

[2015-10-27 16:30] ariel-phet commented on #113
@pixelzoom - your call frankly, as long as the "dramatic drop in performance" is no longer present, previous performance was completely fine.

[2015-10-27 16:32] pixelzoom commented on #113
Since there are no performance issues with this sim, I see no point in doing this (for S2105R or otherwise).

Closing.

[2015-10-27 16:33] pixelzoom commented on #111
@ariel-phet And do you want that done for S2015R?

[2015-10-27 16:35] samreid commented on #103
This does not need to be completed for S2015R.

[2015-10-27 16:38] pixelzoom commented on #111
In Skype conversation with @ariel-phet, he would like this done for S2105R.

[2015-10-27 17:11] jonathanolson commented on #113
Agreed, no plan to do this for S2015R. I'll plan to do this when https://github.com/phetsims/scenery/issues/406 is completed.

[2015-10-27 18:02] pixelzoom commented on #111
Note that a change to ProbeNode was required to completed this, https://github.com/phetsims/scenery-phet/commit/fa539b27b2162fa9a10c9bfc60d64c4e2be4d374.  So the RC for beers-law-lab will need to use master of common-code repos.

[2015-10-27 18:06] samreid commented on #111
**Or** it could use a tiny, safe branch (one non-comment line changed) from the tested SHA.

[2015-10-27 18:11] pixelzoom commented on #111
This dev version uses ProbeNode:
http://www.colorado.edu/physics/phet/dev/html/beers-law-lab/1.3.0-dev.6/beers-law-lab_en.html

Here's the published version (1.2.3), which uses image files:
https://phet.colorado.edu/sims/html/beers-law-lab/latest/beers-law-lab_en.html

To my eye, using ProbeNode results in a much flatter look. But perhaps that's OK.  In any case, there's nothing else that the clie

[2015-10-27 18:12] pixelzoom commented on #111
@ariel-phet Please also advise on whether the screenshot for beers-law-lab and concentration need to be recreated, since the screenshots show the probes.

[2015-10-27 18:16] pixelzoom commented on #111
Branching common repos is outside PhET's standard process for publishing sims. If we need to do that for something as trivial as this change, then we should rethink the process.

[2015-10-27 18:36] pixelzoom commented on #111
@ariel-phet requested that the specular highlight be toned down, which I did in https://github.com/phetsims/scenery-phet/commit/33f3162822238368ddac713bf7d4c6c7bcddee86 by increasing the transparency of the 'white' portion of the linear gradient in ProbeNode.

[2015-10-27 18:38] ariel-phet commented on #111
@pixelzoom looking good to me now, no need to update screenshots

[2015-10-29 17:21] elisemorgan opened #114 "Button on Solution Dripper is Limited with Double String and Unusable with Long String"
Test device: Mac, personal

Operating System: OS X 10.10.5

Browser: Safari 9.0.1 (10601.2.7.2)

Problem description: I first noticed this issue when testing IE11 on Win 7 and am able to reproduce it on my Mac with Safari. The boundaries around the text for double and long string texts affect the ability to use the solution dropper. For double, only half of the button is active for using the dropp

[2015-10-29 17:57] pixelzoom commented on #114
This is a problem with scenery-phet.EyeDropperNode, it should be limiting the length of the label to the glass part of the dropper.  This will require a change to common code, so the next RC will need to use master of all repos.

[2015-10-29 18:01] pixelzoom opened #115 "i18n layout problem with concentration control panel"
While investigating https://github.com/phetsims/beers-law-lab/issues/114, I noticed one additional i18n layout issue.

On the "Beer's Law" screen, here's the concentration control panel:

![screenshot_38](https://cloud.githubusercontent.com/assets/3046552/10827412/6fec7846-7e34-11e5-8a8a-35069735dd72.png)

The same panel with stringTest=double and stringTest=long:

![screenshot_39](https://cloud.g

[2015-10-29 18:05] pixelzoom commented on #115
In ConcentrationPanel, the value display is initialized properly, and the slider layout is correct:

[code]

This is an issue with stringTest because the value display is being replaced with something that's not a number.  That will never happen in a real-world case.   So I'm closing this as "won't fix".

[2015-10-29 18:05] #115 closed

[2015-10-29 18:07] pixelzoom commented on #114
Good news, the issues is actually with BLLDropperNode, which decorates scenery-phet.EyeDropperNode with a label.  So all changes here will be in sim code, which can be patched into the 1.3 branch.

[2015-10-29 18:19] pixelzoom commented on #114
Fixed. Here's what it looks like with stringTest=double and stringTest=long.

![screenshot_41](https://cloud.githubusercontent.com/assets/3046552/10827904/fcafcaf6-7e36-11e5-826a-77bdbb2ba7dd.png)

![screenshot_42](https://cloud.githubusercontent.com/assets/3046552/10827905/ff6defca-7e36-11e5-931c-a559b9f92ae0.png)

So the label will no longer overlap the button, as it's size is now limited to the

[2015-10-29 18:19] #114 closed

[2015-10-29 22:46] brroberts1231 opened #116 "Problem with floating solute labels"
Test device: Dell

Operating System: Win 10

Browser: Edge 20.10240.16384.0

Problem description: In the concentration tab of the sim, I noticed that when you change the solute, the text for the chemical formula that would be on the dropper or shaker(whichever one is not selected at the time) will be floating where the unselected one would be. When you switch between the dropper and shaker, everyt

[2015-10-30 17:02] pixelzoom commented on #116
Problem appears to be Edge-specific, I can't reproduce on other platforms.  This sounds like it's related to the fix for text on Edge.  Assigning to @jonathanolson with high priority.

[2015-10-30 17:08] jonathanolson commented on #116
Reproduced. Also able to reproduce on Chrome with ?rootRenderer=canvas.

[2015-10-30 17:10] pixelzoom commented on #116
I can also reproduce on Mac OS X 10.5.5 + Chrome with `?rootRenderer=canvas`.

[2015-10-30 17:12] pixelzoom commented on #116
Also reproduced on Mac OS X 10.5.5 with Safari and Firefox and `?rootRenderer=canvas`.  So this would appear to be a general problem with the canvas renderer, rather than Edge specific.

[2015-10-30 17:15] pixelzoom opened #117 "add QA credits"
@ariel-phet This sim currently has no QA credits. Please specify the QA credits, ordered alphabetically by last name.  These same credits will be used in beers-law-lab and concentration.

[2015-10-30 17:22] jonathanolson commented on #116
Yup. The text drawables for the SubSupText are incorrectly marked as visible (Scenery-internal issue). Investigating why, and how to fix.

[2015-10-30 18:41] ariel-phet commented on #117
Steele Dalton,  Bryce Griebenow, Elise Morgan, Oliver Orejola, Benjamin Roberts, Bryan Yoelin

[2015-10-30 18:43] ariel-phet commented on #117
@pixelzoom for all the open "add QA credits" issues assigned to me can you use the above list. I will let you know if anything changes, but all these QA members are likely to help out in one way or another, or have in the past.

[2015-10-30 20:01] jonathanolson commented on #116
Applied fix, @pixelzoom, are you able to verify with the rootRenderer=canvas test?

[2015-10-30 20:23] BryceAG opened #118 "Laser initially doesn't fade"
Test device:
PC, Dell, SCHRODINGER

Operating System:
Windows 8 64-bit

Browser:
Internet Explorer 11

Problem description:
After switching substances, the laser that goes through the solution stays the same color before and after passing through. After adjusting the width of the beaker or the wavelength of the light it will correct itself

Steps to reproduce:
Turn on the laser, switch substance (

[2015-10-30 20:38] pixelzoom commented on #116
All is well on Mac OS X 10.10.5 with Chrome, Safari and FF.

@jonathanolson said he tested on Edge. But I'm not clear on whether this was tested on iOS and IE, so back to him for verification.

[2015-10-30 20:41] pixelzoom commented on #118
Reproduced on Mac OS X 10.10.5 with Safari, Chrome and FF.  So this in now specific to IE.

[2015-10-30 20:46] jonathanolson commented on #116
Build off of master now doesn't have the bug on Edge (Win10), iOS 9.1 and IE11 (Win7).

[2015-10-30 20:46] #116 closed

[2015-10-30 20:47] pixelzoom commented on #118
This issue is not present in the version published on the website (1.2.3).  It's present in 1.3.0-dev.6 (10/27/2015) but not in 1.3.0-dev.5 (8/25/2015).    And I see no commits any related code (BeamNode) in beers-law-lab since 8/25/2015.    So this smells like something has broken in common code.

@jonathanolson any hunches?

[2015-10-30 20:51] pixelzoom commented on #118
@jonathanolson said that he reproduced on IE11 Win7.

[2015-10-30 20:52] pixelzoom commented on #116
Note that this fix will require using master for the next RC.  Since it's in the Concentration screen, it affects the RCs for both beers-law-lab and concentration.

[2015-10-30 20:56] pixelzoom commented on #118
To clarify/summarize https://github.com/phetsims/beers-law-lab/issues/118#issuecomment-152647527 ...

Bisect between 8/25/2015 and 10/27/2015.

[2015-10-30 21:27] pixelzoom commented on #118
@jonathanolson made the fix in master. I'll patch it into 1.3.

[2015-10-30 21:42] #117 closed

[2015-10-30 21:46] pixelzoom commented on #118
Fix verified in master and 1.3 branches. This issue was sim-specific, not common-code changes required.

Closing.

[2015-10-30 21:46] #118 closed

[2015-10-30 21:48] #111 closed

[2015-11-03 06:39] samreid opened #119 "Fix the touch area for the Concentration Meter Probe Node"
Tracked in https://github.com/phetsims/scenery-phet/issues/204 but I wanted to create an issue here in Beer's Law Lab because (a) the code change to address this issue may be implemented here in beers-law-lab and (b) it was said that:

[2015-11-03 15:38] pixelzoom opened #120 "incorrect touchArea for light button"
While testing something else related to pointer areas (#119), I noticed that the touchArea for the button on the light is messed up.  See screenshot below.

This problem snuck in sometime between 1.3.0-dev.2 and 1.3.0-dev.3 (12/19/2014 - 8/16/2015).

![screenshot_88](https://cloud.githubusercontent.com/assets/3046552/10912237/c1b08e5e-8205-11e5-8891-530628d13f6e.png)

[2015-11-03 15:56] samreid commented on #119
@pixelzoom and I just fixed this in the scenery-phet issue, closing.

[2015-11-03 15:57] pixelzoom commented on #120
This was introduced in cc87259, when scenery-phet.RoundedRedButton was replaced with sun.RoundToggleButton.

[2015-11-03 15:58] #120 closed

[2015-11-03 16:01] pixelzoom commented on #119
This was fixed in master in https://github.com/phetsims/beers-law-lab/commit/259835a9771aa613d9ef164c8519b1d99bc8bb1e.

Reopening because it needs to be patched into 1.3 branch.

[2015-11-03 16:05] pixelzoom commented on #119
1.3 branch patched, closing.

[2015-11-03 16:05] #119 closed

[2015-11-04 23:31] pixelzoom opened #121 "fix var names for strings"
See https://github.com/phetsims/chipper/issues/396

[2015-11-05 21:17] pixelzoom commented on #121
@samreid did this in https://github.com/phetsims/beers-law-lab/commit/f751b40fbce76877239474608a95c419a9c27da7. Closing.

[2015-11-05 21:17] #121 closed

[2015-11-09 16:10] orejolaphet opened #122 "Reset button does not remove solute particles that are in mid-air."
This issue occurs on multiple browsers and OS: Windows, OS X, IOS.
Also occurs in the latest RC of Concentration: http://www.colorado.edu/physics/phet/dev/html/concentration/1.2.0-rc.2/concentration_en.html

Test device: Personal Macbook OSX 10.11
Operating System: OSX 10.11
Browser: Safari 9
Problem description: Identical to old issue https://github.com/phetsims/beers-law-lab/issues/68 where inst

[2015-11-09 16:11] samreid commented on #122
I also reproduced this problem.

[2015-11-09 22:01] pixelzoom commented on #122
Fixed in 1.3 and master. This fix was a trivial fix, so (at the concluding of 1.3.0-rc.2 testing) we'll have to evaluate whether another RC is warranted.  Closing.

[2015-11-10 16:40] pixelzoom commented on #122
This was a very minor fix, and there were no other issues found for 1.3.0-rc.2.  So I'm going to publish a dev version (1.3.0-dev.7) to verify this fix.  If all goes well, then we can publish 1.3.0 off of the 1.3 branch.

[2015-11-10 16:46] pixelzoom commented on #122
@ariel-phet says that I can just verify this (which I have), no need for a dev version.

[2015-11-10 16:46] #122 closed

[2015-11-11 00:00] ariel-phet opened #123 "Remaining 1.3.0 redeploy items"
Remaining issues from check list:

- [x] Rosetta test (Opening sim to trusted translators for beta)
- [x] Check teacher tips are up to date
- [ ] Check sim primer is up to date

[2015-11-11 00:04] pixelzoom commented on #123
This is related to Beer's Law Lab 1.3.0 redeploy.

[2015-11-11 00:24] pixelzoom opened #124 "add namespace"
See https://github.com/phetsims/tasks/issues/378

[2015-11-11 17:06] #124 closed

[2015-12-09 06:59] jonathanolson commented on #113
Applied optimization and tested to make sure fitted blocks weren't resizing (with the new ?showFittedBlockBounds query parameter). Closing.

[2015-12-09 16:11] pixelzoom commented on #113
@jonathanolson Could you please describe how a developer would go about deciding whether to add option `preventFit:true`?  I see this documentation in Node.js:

[code]

But (in the case of beers-law-lab) I have no idea why you selected ShakerNode for optimization, but not other movable nodes (eg, dropper, probes,... ) or things that animate (eg, particles that come out of shaker).

Note that this

[2015-12-09 16:34] pixelzoom commented on #113
Playing around with beers-law-lab and `?showFittedBlockBounds`... I realize that I also don't understand what I'm seeing when this query parameters is added.  And that's probably because I don't understand what a "fitted block" is.  I suspect that I am not alone.

[2015-12-09 17:18] jonathanolson commented on #113
Blocks are basically DOM/SVG/Canvas/WebGL layers.

Some blocks have the ability to, instead of taking up the full screen, be fitted closer to the bounds of their contents. Currently WebGL is set to always take up the full screen, but Canvas/SVG will try to fit to size to minimize memory usage (and if it doesn't change size every frame, potentially speed up things).

?showFittedBlockBounds displays

[2015-12-09 18:05] pixelzoom commented on #113
Thanks, that's helpful.  I'll leave labeled "developer-meeting" so that other developers can ask any questions at the next meeting.

[2015-12-10 18:54] pixelzoom commented on #113
Discussed at 12/10/15 developer meeting.  Closing.

[2015-12-10 18:54] #113 closed

[2015-12-11 17:09] samreid commented on #99
At yesterday's phet-io meeting, @kathy-phet suggested getting this ready for work around the beginning of the new year.

We decided on the following plan:
1. I would provide documentation which @pixelzoom can review before starting instrumentation of Beer's Law Lab, and Chris would also review the documentation provided to phet-io clients.
2. @pixelzoom and I would schedule an in-person meeting fo

[2015-12-19 23:38] samreid opened #125 "branch: together-preview"
This branch was created to support https://github.com/phetsims/together/issues/250 "Dry run of instrumenting Beer's Law Lab".  The branch can be removed once there is equal or superior interoperability in another branch.

[2015-12-21 17:30] pixelzoom opened #126 "use NumberControl for concentration"
In https://github.com/phetsims/together/issues/250#issuecomment-166326831, @samreid said this about instrumenting ConcentrationSlider for PhET-iO:

ConcentrationSlider likely pre-dates HSlider, and I don't see anything that wouldn't be a desirable feature in HSlider.   So I think that it would be preferable to use HSlider in ConcentrationSlider, enhancing HSlider where necessary.

[2015-12-21 17:31] samreid commented on #126
Good suggestion @pixelzoom, :+1:

[2015-12-21 17:33] pixelzoom commented on #126
Things in HSlider that would need to be mutable

• value range
• tick marks
• track fill

[2015-12-21 17:37] samreid commented on #126
Brainstorming here:

as an alternative to making immutable parts of HSlider mutable, we could instead create one instance of HSlider for each Solution

Just wanted to run this past @pixelzoom as a possibility in case he hadn't considered it, and in the end making HSlider mutable may be best if not too much work (or increase of complexity).

[2015-12-21 17:46] pixelzoom commented on #126
I'd considered a variation of that: Replacing the slider each time the solution changes. If there's no performance hit, that might be preferable to creating 8 sliders.  We'll see...

[2015-12-21 18:56] pixelzoom commented on #99
Instrumentation was apparently done by @samreid in https://github.com/phetsims/together/issues/250.

In email to @ariel-phet and @kathy-phet, I asked:

@ariel-phet replied:

... and asked me to (instead) instrument hookes-law, see https://github.com/phetsims/hookes-law/issues/38.

Assigning to @samreid to decide how to proceed with resolving this issue.

[2015-12-21 22:00] samreid commented on #99
To proceed, I would like to move the `together-preview` branch to master.  This will put it on equal footing with Concentration and simplify development as we prepare a testable version for Ido.  If @pixelzoom wants to review the instrumentation changes, he will still be able to do so after Hooke's Law has been instrumented.  Any objections?

[2015-12-21 22:09] pixelzoom commented on #99
+1 to merge into master.

[2015-12-22 02:23] samreid commented on #99
I merged the commits to master.  Would be nice for @pixelzoom to review (a) but not until after working on Hooke's Law instrumentation in Jan 2016 and (b) if time permits.  I'll leave the issue open in case @pixelzoom wants to use this issue to track reviewing.  If @pixelzoom does not want to or does not have time to review, or wants to track the review in another issue, then this issue can be clo

[2015-12-22 02:24] samreid commented on #125
Merged to master and deleted the branch.

[2015-12-22 02:24] #125 closed

[2015-12-22 19:42] pixelzoom opened #127 "use options param in BeersLawSolution constructor"
In BeersLawSolution constructor:

[code]

`saturatedColor` should be replaced with `options`, which has a `saturatedColor` field that defaults to `colorRange.maxColor`.

[2015-12-22 19:55] pixelzoom opened #128 "Movable should create tandem for its Property"
Example...  In Ruler:

[code]

This assumes that Movable only has 1 Property, which could change in the future. And it doesn't match the pattern uses elsewhere, where tandems for Properties are created in the constructor where the Property is instantiated.

The proper patterns is:

[code]

This occurs in all subtypes of Movable: ATDetector, Ruler, ConcentrationMeter, Dropper, Shaker.

Assigning to

[2015-12-22 19:57] pixelzoom commented on #99
Sorry, but since it's in master, and it's a sim that I'm responsible for maintaining, I'm going to review the beers-law-lab work now.

[2015-12-22 20:03] pixelzoom opened #129 "odd tandem for CuvetteNode"
In BeersLawView:

[code]

Why does CuvetteNode require a tandem that is further qualified with 'node'?

[2015-12-22 20:05] samreid commented on #128
Yes, this is a good suggestion.  Note that ConcentrationMeter.js has

[code]

so the API file will have to be changed (location => position) to match the change.  Please indicate whether I should fix this, or if you would like to.

[2015-12-22 20:06] pixelzoom commented on #126
PhET-iO instrumentation of ConcentrationSlider has been merged into master, and I don't see the "particularly expensive" instrumentation that @samreid described in https://github.com/phetsims/beers-law-lab/issues/126#issue-123322284.  All I see is the instrumentation of the plus/minus buttons. @samreid what am I missing?

[2015-12-22 20:08] pixelzoom opened #130 "unused tandem param in CuvetteNode.CuvetteDragHandler"
In CuvetteNode.CuvetteDragHandler:

[code]

The `tandem` param is unused. Is this an oversight or can it be removed from the constructor signature?

[2015-12-22 20:10] samreid commented on #129
Here is the corresponding API declaration:

[code]

We could alternately change this to be something more like:

[code]

Or we could code the TProperty in the TCuvetteNode api like this:
[code]

These latter two options are described in Tips and Tricks in the "Extending wrapper types" section at the bottom of https://github.com/phetsims/together/blob/master/doc/how-to-instrument-a-phet-simulation.

[2015-12-22 20:10] pixelzoom commented on #128
In ConcentrationMeter, the change should be:

[code]

Yes, please rename location => position.

Yes, please handle the fix.

[2015-12-22 20:12] samreid commented on #130
Confirmed, this tandem is unused and can be removed.

[2015-12-22 20:13] pixelzoom commented on #129
So this is a workaround, and exposes a deficiency of the design.  If I were to add a similar TProperty to Light, ATDetector or Ruler, then I would need to apply the same workaround to LightNode, ATDetector or RulerNode (respectively), and that would require a breaking change to beers-law-lab-api.js.

[2015-12-22 20:15] #130 closed

[2015-12-22 20:19] pixelzoom opened #131 "when is tandem.addInstance required?"
When is a call to tandem.addInstance required?

For example: CuvetteNode and LightNode are both subtypes of scenery.Node. CuvetteNode has a call to tandem.addInstance at the end of its constructor. LightNode does not. Why are they different?

[2015-12-22 20:22] pixelzoom commented on #131
Similar question for SolutionControls. It does not pass its tandem to sun.Panel, and sun.Panel is not instrumented (does not have a `tandem` option).

[2015-12-22 20:27] pixelzoom opened #132 "should ConcentrationMeter.valueProperty be instrumented?"
It currently is not. Oversight or intentional?

[code]

[2015-12-22 20:40] pixelzoom opened #133 "why doesn't EyeDropperNode register its tandem?"
BLLDropperNode is a subtype of scenery-phet.EyeDropperNode.

BLLDropperNode line 99:

[code]

EyeDropperNode line 51:

[code]

Why doesn't EyeDropperNode register its tandem? Does a Node only register its tandem if it's interactive? What if interactivity is added to a common-code Node in the future?

[2015-12-22 20:41] pixelzoom commented on #133
Related to #131 (when is tandem.addInstance required?)

[2015-12-22 20:45] pixelzoom commented on #133
As a counter example...  scenery-phet.FaucetNode is not draggable, but registers its tandem.  And BLLFaucetNode therefore passes the tandem to FaucetNode.  BLLDropperNode and EyeDropperNode have an identical relationship, and identical interactivity - why are they handled differently?

[2015-12-22 20:54] pixelzoom opened #134 "inconsistent creation of tandems for probe Nodes"
In ConcentrationMeterNode:

[code]

In ATDetectorNode:

[code]

Why is the tandem for BodyNode different in these 2 cases?    Both bodies are capable of being dragged. That feature is currently disabled for ATDetectorNode.BodyNode, but could conceivably be enabled in the future.

Recommended to change ATDetectorNode to:

`var bodyNode = new BodyNode( ..., modelViewTransform, tandem.createTandem( '

[2015-12-22 21:03] pixelzoom opened #135 "how does the client know when solution is saturated?"
I noticed that SaturatedIndicator is not instrumented, nor is anything related to saturation in ConcentrationSolution.  How does a client determine if the solution is saturated? Seems like they'll need to duplicate the logic in ConcentrationSolution.isSaturated, which would be unfortunate.

Perhaps `saturatedProperty` should be added to ConcentationSolution? Something like this:

[code]

And then

[2015-12-22 21:09] pixelzoom opened #136 "rename 'liquid' to 'solution'"
In SoluteFormNode constructor:

`@param {Property.<string>} soluteFormProperty form of the solute, 'solid' or 'liquid'`

The visible label is on the radio button is 'Solution' and the tandem is 'solutionRadioButton' .  So while this was at one time called 'liquid', I think it makes sense to proactively rename 'liquid' to 'solution', to improve readability and maintainability.

[2015-12-22 21:16] pixelzoom commented on #129
Perhaps the general problem is that there's distinction between model and view in tandem creation.  For example, in beers-law-lab-main.js we have:

`new BeersLawScreen( tandem.createTandem( 'beersLawScreen' ) )`

And BeersLawScreen does this:

[code]

So the same tandem is used by BeersLawModel and BeersLawView, which opens up the door to namespace collision.

[code]

I realize that we're trying t

[2015-12-22 21:30] #127 closed

[2015-12-22 21:35] #136 closed

[2015-12-22 21:36] pixelzoom commented on #102
Since beers-law-lab has now been fully instrumented, presumably it's time to revisit this.

[2015-12-22 21:36] pixelzoom commented on #103
Since beers-law-lab has now been fully instrumented, presumably it's time to revisit this.

[2015-12-22 21:37] pixelzoom commented on #104
Since beers-law-lab has now been fully instrumented, presumably it's time to revisit this.

[2015-12-22 21:46] pixelzoom commented on #126
Proposed approach:
• make no modifications to HSlider, use "as is"
• move arrow buttons from ConcentrationSlider to ConcentrationControl
• replace ConcentrationSlider with HSlider in ConcentrationControl
• when solutionProperty changes in ConcentrationControl, dispose of and replace HSlider
• delete ConcentrationSlider.js

[2015-12-22 21:59] pixelzoom commented on #126
If the HSlider is replaced each time the solution changes, how do we handle the tandem associated with the slider? Reuse it, so that it refers to the instance that currently exists? Or create a new tandem (with same id?) each time a new HSlider is created?

[2015-12-22 22:02] pixelzoom commented on #126
If we implement the approach proposed in https://github.com/phetsims/beers-law-lab/issues/126#issuecomment-166739145, then this bit in beers-law-lab-api.js:

[code]

will change to something like:

[code]

This is probably preferable, because the plus/minus buttons don't belong under the slider.

[2015-12-22 22:07] samreid commented on #126
What about using NumberSlider instead of a custom implementation of HSlider + Arrow buttons?

[2015-12-22 22:10] pixelzoom commented on #126
What is NumberSlider? Do you mean NumberControl?

[2015-12-22 22:11] pixelzoom commented on #102
Related to https://github.com/phetsims/beers-law-lab/issues/99

[2015-12-22 22:12] pixelzoom commented on #103
Related to https://github.com/phetsims/beers-law-lab/issues/99

[2015-12-22 22:12] pixelzoom commented on #104
Related to https://github.com/phetsims/beers-law-lab/issues/99

[2015-12-22 22:12] pixelzoom commented on #126
Related to https://github.com/phetsims/beers-law-lab/issues/99

[2015-12-22 22:12] pixelzoom commented on #128
Related to https://github.com/phetsims/beers-law-lab/issues/99

[2015-12-22 22:12] pixelzoom commented on #129
Related to https://github.com/phetsims/beers-law-lab/issues/99

[2015-12-22 22:12] pixelzoom commented on #131
Related to https://github.com/phetsims/beers-law-lab/issues/99

[2015-12-22 22:13] pixelzoom commented on #132
Related to https://github.com/phetsims/beers-law-lab/issues/99

[2015-12-22 22:13] pixelzoom commented on #133
Related to https://github.com/phetsims/beers-law-lab/issues/99

[2015-12-22 22:13] pixelzoom commented on #134
Related to https://github.com/phetsims/beers-law-lab/issues/99

[2015-12-22 22:13] samreid commented on #126
Yes, NumberControl.

[2015-12-22 22:13] pixelzoom commented on #135
Related to https://github.com/phetsims/beers-law-lab/issues/99

[2015-12-22 22:13] pixelzoom commented on #99
Related issues noted immediately above.

[2015-12-22 22:16] pixelzoom commented on #126
NumberControl would require an alternative layout option. It's layout currently looks like this:

![screenshot_97](https://cloud.githubusercontent.com/assets/3046552/11967294/ed190776-a8be-11e5-81d4-f2aa8daaeafd.png)

ConcentrationControl looks like this:

![screenshot_98](https://cloud.githubusercontent.com/assets/3046552/11967301/f4b175a4-a8be-11e5-8a66-e224e26ac8e0.png)

[2015-12-22 22:18] pixelzoom commented on #126
NumberControl would require an alternative layout option. Its layout currently looks like this:

![screenshot_97](https://cloud.githubusercontent.com/assets/3046552/11967294/ed190776-a8be-11e5-81d4-f2aa8daaeafd.png)

ConcentrationControl looks like this:

![screenshot_98](https://cloud.githubusercontent.com/assets/3046552/11967301/f4b175a4-a8be-11e5-8a66-e224e26ac8e0.png)

 Would you describe this

[2015-12-23 19:12] pixelzoom opened #137 "replace LightNode with scenery-phet.LaserPointerNode"
... as recommended in https://github.com/phetsims/models-of-the-hydrogen-atom/issues/2.

[2015-12-23 21:02] pixelzoom commented on #137
Done, closing.

[2015-12-23 21:02] #137 closed

[2015-12-28 17:43] pixelzoom commented on #99
I've reviewed the instrumentation and created issues labeled "phet-io" for any remaining work.  Closing this issue.

[2015-12-28 17:43] #99 closed

[2015-12-28 20:54] samreid commented on #104
Currently, the number of precipitate particles will be correct, but the exact positions of the precipitate particles will be incorrect.  Is it essential to get the exact location of all the precipitate particles correct?  I'm not sure, but will leave this assigned to me for investigation.

[2015-12-28 20:55] samreid opened #138 "When loading through together.expressions, there is an auto-shake when the sim starts up"
Using the "states" test harness, move the shaker, and pressing launch (at the bottom), the simulation will "auto-shake" some particles into the solution.

[2015-12-28 20:59] samreid commented on #126
`orientation: 'vertical'` and `orientation: 'horizontal'` will match our existing precedents nicely.  However, it's unclear to me why the word `orientation` has been used instead of `layout`.  For instance, for RadioButtonGroup, why is it `orientation: 'vertical'` instead of `layout: 'vertical'`?  In any case, it seems good to proceed with `orientation: 'vertical'` and address all orientation keys

[2015-12-28 21:01] samreid opened #139 "Prepare for deliver to Ido"
@kathy-phet said now that this simulation is instrumented, the next step will to be to get it to a good point to deliver to Ido for testing.  We should address many of the outstanding issues before sending it along.

[2015-12-28 21:12] samreid commented on #135
Fixed as described above, @pixelzoom please review at your convenience.

[2015-12-28 21:15] samreid commented on #134
Fixed as described above, @pixelzoom please review at your convenience.

[2015-12-28 21:16] pixelzoom commented on #126
I believe the term `orientation` is typically used when there's a choice between 'horizontal' and 'vertical'.  The term `layout` is much more general.

[2015-12-28 21:28] pixelzoom commented on #135
:+1: Closing.

[2015-12-28 21:29] pixelzoom commented on #134
:+1: Closing.

[2015-12-28 21:32] pixelzoom commented on #126
So back to this question: https://github.com/phetsims/beers-law-lab/issues/126#issuecomment-166741682 ... which is a question regardless of whether we use HSlider or NumberControl.   If the control is replaced dynamically to match the solution, what do we do about its associated tandem?

[2015-12-28 21:57] samreid commented on #126
I'd recommend one tandem per slider. If "throwing away" unused sliders instead of storing them in memory, then the process would look like this:
1. create slider for solution A, register with tandem under name solutionASlider
2. user selects another solution
3. un-register the solutionASlider, instantiate the slider for solution B, register with tandem under name solutionBSlider
4. user selects so

[2015-12-28 22:09] samreid commented on #133
The problem is that the dropper should not be registered until the `movableDragHandler` has been assigned.  This is related to the problem of dealing with tandems in subclasses.  In this case it may be possible to move the `movableDragHandler` declaration before the EyeDropperNode supercall, but I don't think that will work as a general solution in every case.

[2015-12-28 22:11] samreid commented on #133
One solution for this problem would be to use one tandem per each level of inheritance...  Could be confusing in the API file but practically it should work.

[2015-12-28 22:12] pixelzoom commented on #126
I'm confused by https://github.com/phetsims/beers-law-lab/issues/126#issuecomment-167664828.

"One tandem per slider" and "One tandem per conceptual component" are very different. And steps 1-5 are for the former, where there are N sliders, one for each solutions, each with a different tandem name.

But from the user's viewpoint, there is only 1 concentration slider in this sim.  So if we're "trow

[2015-12-28 23:46] pixelzoom commented on #126
@samreid and I discussed this. Either of the above examples would work in theory.  I'm partial to  https://github.com/phetsims/beers-law-lab/issues/126#issuecomment-167667955 since it fits the user's conceptual model (1 concentration slider) and since the solution can be interrogated to determine range, units, etc.

[2015-12-28 23:57] pixelzoom commented on #133
That would be very confusing in the API, and would get more confusing as the levels of inheritance increased.  The dropper should be referred to as `concentration.concentrationScreen.dropper`, not something like `concentration.concentrationScreen.dropper.EyeDropperNode`.

[2015-12-28 23:58] pixelzoom commented on #133
Methinks this issue is very much related to how drag data is being handler via TDraggableNode, see https://github.com/phetsims/together/issues/254.

[2015-12-29 00:42] pixelzoom commented on #128
@samreid said:

The change needs to be the other way around, `position` => `location`, because Movable's Property is named `locationProperty`.

[2015-12-29 00:42] pixelzoom commented on #128
I'll take a stab at this, then have @samreid verify.

[2015-12-29 00:43] pixelzoom commented on #128
Actually, looks like there's no change necessary in the API file, it's already `location`.

[2015-12-29 00:45] pixelzoom commented on #128
Ah... the entry for `ruler` uses `position`, that will need to change to `location`.

[2015-12-29 00:47] pixelzoom commented on #128
Consistency, another good reason to change this.

Ruler:
`Movable.call( ..., tandem.createTandem( 'position' ) );`

Dropper:
`Movable.call( ..., tandem.createTandem( 'location' ) );`

So the API entry for `ruler.position` needs to be changed to `ruler.location`.

[2015-12-29 00:58] pixelzoom commented on #134
Reopening.  in ATDetectorNode, we now have:

[code]

How about 'body' and 'probe', or 'bodyNode' and 'probeNode'?

[2015-12-29 01:13] pixelzoom commented on #128
Changes pushed.  I realized that I'm totally unaware of how to test this.  Are there html files somewhere that have the preloads required?  I build with `--brand=phet-io` and it runs OK, but I don't see any data stream.

Assigning to @samreid  to review, and to clue me in about how to test PhET-iO.

[2015-12-29 01:32] pixelzoom opened #140 "model and view: should we separate or combine?"
Entries in the PhET-iO API are inconsistent.  Sometime there's a separation of model and view, sometimes entries combine model and view attributes under a single tandem id.

Here's the entry for the concentration meter in beers-law-lab-api.js:

[code]

This entry combines model and view. The 2 occurrences of `location` are from the model, `readout` is from the view.  This was really confusing to f

[2015-12-29 01:36] pixelzoom opened #141 "strange entry for 'cuvette'"
In beers-law-lab-api.js

[code]

I haven't seen any other entry with a `node` attribute - and in fact, there are no other such examples in together/js/api/*.  So this smells like a workaround, probably to gather data about interaction with the cuvette.  Please explain why this approach its necessarily so different.

[2015-12-29 01:40] pixelzoom commented on #141
And this looks like bogus documentation for `TCuvetteNode`, beers-law-lab-api.js line 120:

`documentation: 'The base type for graphical objects that can be dragged by the user.',`

[2015-12-29 02:00] pixelzoom opened #142 "Evaporation API doesn't reflect implementation"
In the sim implementation, there's an evaporator (Evaporator) and associated control (EvaporationControl).  In beers-law-lab-api.js, these abstractions have been replaced by 3 disjoint entries:

[code]

I expected to see something like this, which is similar to how other parts of the sim were mapped to the API:

[code]

We now have 2 different "implementations" of evaporation (JS and API).  Why di

[2015-12-29 02:09] pixelzoom opened #143 "missing type verification in API file"
In beers-law-lab-api.js, type verification is missing for TSolution, TCuvetteNode and TConcentrationSlider.

After the supertype constructor call, other types (eg TSolute, TShakerParticles) have an assertion that verifies the type of the `instance` arg. E.g.:

[code]

[2015-12-29 02:10] pixelzoom commented on #143
As in TogetherCommon.js, this assertion also serves to document which type(s) are supported by the together-type definition.

[2015-12-29 15:47] samreid commented on #126
I'm not convinced that it should be instrumented as a single slider.  When the solution changes, the concentration slider resets to 100 and the units can change.  @pixelzoom's comment from above is that the user's conceptual model is that there is one slider that changes its units, range and gradient.

Not recommending this, but brainstorming how the sim might be different if we wanted to change t

[2015-12-29 15:48] samreid commented on #126
I should also chime in that it seems like either model (one multi-slider or many sliders) would work, as @pixelzoom pointed out in https://github.com/phetsims/beers-law-lab/issues/126#issuecomment-167680314 , it just changes how they would appear in the instrumentation/data stream, etc.

[2015-12-29 18:44] pixelzoom commented on #126
I doubt that a typical user can wrap their heads around the concept of a UI control that exists but isn't visible on the screen.  Or that they would perceive there being anything other than 1 concentration slider, regardless of whether it's faded in/out, or whether it retains its previous value for a solution.  We could make the wavelength slider also be per-solution -- do you think they would the

[2015-12-29 18:54] samreid commented on #143
Addressed in https://github.com/phetsims/together/commit/14514b74f05ec2b2fc1f0dc3234a8f54fa7f08aa

[2015-12-29 19:02] samreid commented on #142
In the above commits, I changed the API declaration to be nested under `evaporator:{}`.  This simplifies things, except for the evaporation control which has a tandem mismatch:

[code]

I think there's a tradeoff between making an elegant API declaration and matching the simulation implementation.  Part of the idea is to hide unnecessary implementation details from the API file, but its unclear wh

[2015-12-29 19:49] samreid commented on #141
Here are the possible options for this case:

[code]

[code]

[code]

I'm not sure which will be best, and indeed it may not matter too much, since all provide the same data and configurability. What do you recommend @pixelzoom?

[2015-12-29 19:57] samreid commented on #140
My thought has been to suppress unnecessary implementation details from the API file, but this must be traded off with simplicity/maintainability in instrumentation.  Another option would be to make the API file exactly match the exact implementation of the simulation (which would expose irrelevant implementation details in the API file but could ease instrumentation).  Would be great to discuss t

[2015-12-29 20:01] samreid commented on #134
Fixed above and also made bodyNode of type TNode, @pixelzoom can you take a look?

[2015-12-29 20:06] samreid commented on #132
After instrumenting this, I'm seeing odd messages like this (where the value goes from null=>null):

[code]

[2015-12-29 20:06] samreid commented on #132
I'll commit this instrumentation, but we should still understand these null=>null messages.

[2015-12-29 20:07] samreid commented on #131
This relates to the unsolved issue of subclassing in tandem registration.

[2015-12-29 20:10] samreid commented on #129
I'm open to trying

[code]

or even

[code]

Not sure what is best here, perhaps the former?  @pixelzoom shall I try reinstrumenting beers-law-lab with this paradigm?

[2015-12-29 20:12] samreid commented on #128
We discussed how to test the phet-io simulations today, and there is further documentation about testing in https://github.com/phetsims/together/blob/master/doc/how-to-instrument-a-phet-simulation.md#step-5-test-the-general-wrappers

@pixelzoom can you test and report back?

[2015-12-29 20:20] samreid commented on #133
An idea: only the most `subclassiest` (sp?) of a hierarchy registers the tandem.  If subclassing, then strip out the tandem before passing to the parent.

This seems like it wouldn't work for subclassing simulation instances where tandems are required (though we could make tandems always optional to support this idea).

[2015-12-29 22:37] samreid commented on #133
The idea from the preceding comment first appeared in this thread: https://github.com/phetsims/sun/issues/192

The problem noted there is that subtandems (by composition) still need to be registered.

[2015-12-30 01:15] samreid commented on #138
Here's a url that exhibits this incorrect behavior.  The measured concentration should be 1.7 mol/L:

http://localhost/beers-law-lab/beers-law-lab_en.html?brand=phet-io&ea&together.expressions=%5B%5B%22together%22%2C%22setState%22%2C%5B%7B%22beersLawLab.solutions.drinkMix.concentration%22%3A0.1%2C%22beersLawLab.solutions.cobaltIINitrate.concentration%22%3A0.1%2C%22beersLawLab.solutions.cobaltChlor

[2015-12-30 17:32] pixelzoom commented on #135
Reopening. When running `together/doc/site/examples/event-log.html?sim=beers-law-lab`, I'm seeing a fatal error:

[2015-12-30 17:36] pixelzoom commented on #128
Cannot test due to a error introduced elsewhere, see https://github.com/phetsims/beers-law-lab/issues/135#issuecomment-168040741.

[2015-12-30 17:46] pixelzoom commented on #135
The above error message is also misleading. It occurs at together.js line 241:

[code]

The error message should be:

`togetherID + ' could not find type for component ' + componentName`

[2015-12-30 17:51] pixelzoom commented on #135
Error message modified in 915a2c6f819e125dba2a69eaf78b24ea4dcad298.

After doing that, it's now running without error. Weird.  Perhaps something was cached.

[2015-12-30 17:54] pixelzoom commented on #135
Verified that `beersLawLab.concentrationScreen.solution.saturated` is in the data stream. Closing.

[2015-12-30 17:54] #135 closed

[2015-12-30 17:56] pixelzoom commented on #128
I don't see any errors after making this change. But there is *so much* stuff in the data stream that's it's difficult to verify the 'location' tandem for all Movables.  @samreid do you have a technique for verifying specific changes, or do you just run the tests in the together doc and assume everything is OK?

[2015-12-30 17:57] pixelzoom commented on #128
And since this is my first attempt at a tandem change, I think it would be good for you to inspect https://github.com/phetsims/beers-law-lab/commit/daac1aa1aa75f53dfb37ee4da00e969eb64c3ace, and confirm that no changes to the API file are needed.

[2015-12-30 17:58] #143 closed

[2015-12-30 17:59] pixelzoom commented on #142
This looks better, OK with the "tandem mismatch" in EvaporationControl.

[2015-12-30 17:59] #142 closed

[2015-12-30 18:03] samreid commented on #128
I would make sure the data stream contains all of the required messages.

[2015-12-30 19:17] pixelzoom commented on #141
This option seems most consistent with the approach used in other cases where the registered instance is a Node and there are additional model Properties:

[code]

[2015-12-30 19:27] pixelzoom commented on #134
This still seems unnecessarily different from the concentration meter.  Here's the concentration meter API:

[code]

Here's the AT detector API:

[code]

Why are does the AT detector require separate components (`ATDetector` and `ATDetectorNode`)?

Wouldn't this be more similar to the concentration meter? :

[code]

[2015-12-30 19:32] pixelzoom opened #144 "convention for Property tandem ids"
In some cases, the tandem id has a "Property" suffix:

[code]

In other cases, the tandem id has no "Property" suffix:

[code]

Should we follow one convention?
Which convention is correct?

[2015-12-30 19:38] samreid commented on #144
Perhaps we should investigate the “API matches sim var declarations” idea as a starting place for instrumentation.  If following this pattern, the API instances would have the Property suffix, like the sim implementation does.

[2015-12-30 19:45] pixelzoom commented on #129
@samreid and I had a Skype call about https://github.com/phetsims/beers-law-lab/issues/129#issuecomment-167866579.

With the current approach (aggregating model and view into a single tandem id), we'll be in trouble if we need to `tandem.addInstance` for both the model and view instances.  And creating multiple tandems with the same id seems like a potential maintenance issue.

If use separate tan

[2015-12-30 19:49] samreid commented on #129
I'm inclined to investigate separate tandems for model and view and live with the consequences of letting the sim implementation details leak into the API file.  If particularly egregious API structures arise, it could be a hint for us to refactor the simulation implementation.

[2015-12-30 21:27] pixelzoom commented on #139
Based on email that @samreid shared with me, it sounds like Ido's studies are in March, but he's not certain yet that he'll be using Beer's Law Lab.

[2015-12-31 05:35] samreid commented on #140
After thinking about this, I am inclined to separate model and view in the API file.  In this case, it is not a minor implementation detail that should be hidden from the API/data stream/researchers/etc.  It is an important architectural division shared by all PhET simulations.  Assigned to myself for investigation.

[2015-12-31 05:35] samreid commented on #139
@kathy-phet confirmed that we will be delivering BLL to Ido, no more information about the precise date.

[2015-12-31 06:03] samreid commented on #144
Testing this out, using the Property suffix seems good:

[code]

[2015-12-31 06:04] samreid commented on #144
There are nearly 120 places where this would have to be changed across all of the API files.

[2015-12-31 06:12] samreid commented on #144
Fixed above for Beer's Law Lab, will address other sims as part of https://github.com/phetsims/together/issues/258, @pixelzoom please take a look if you wish.

[2015-12-31 06:13] samreid commented on #141
This problem would disappear if we separate model and view in the API file as discussed in #140.

[2015-12-31 06:23] samreid commented on #134
If we separate model and view as described in #140 the concentration-meter declaration would change from:

[code]

to

[code]

where I have put `// ...` to indicate space for other model and view items for that screen.

The top version does seem nicer at face value, simpler, easier to read, better correspondence between related items (such as the body locationProperty being "close" to the body TDr

[2015-12-31 06:23] samreid commented on #140
Here's an example of before/after for the concentration meter, and discussion of the tradeoffs:

https://github.com/phetsims/beers-law-lab/issues/134#issuecomment-168133664

[2015-12-31 06:25] samreid commented on #133
Perhaps we need a way to pass the tandem to the parent, but with a flag to "only register children, not the node itself".  This seems complicated but it would solve the problem at hand.  Tagging @pixelzoom to get his thoughts on the matter.

[2015-12-31 06:27] samreid commented on #131
LightNode.js does not provide any new instance attributes or methods, it simply calls the LaserPointerNode constructor with values appropriate to Beer's Law Lab.  Hence it does not require (a) suppressing the tandem in the super call and (b) calling its own tandem.addInstance.  In the future, if LightNode adopts properties or methods that must be instrumented, then the steps (a) and (b) should be

[2015-12-31 06:29] samreid commented on #128
I reviewed the change sets and tested the data stream for the ruler and dropper, all seems well, closing.

[2015-12-31 06:29] #128 closed

[2015-12-31 22:50] pixelzoom commented on #144
:+1: Closing.

[2015-12-31 22:50] #144 closed

[2015-12-31 22:59] pixelzoom commented on #131
Let me take a stab at the general answer to this question.

A call to `tandem.addInstance` is required if the object's entry in the API file has an associated together type. Specifying a together type implies that the client can access an associated instance through that type's API, so we need to have a registered instance. Some examples from beers-law-lab-api.js:

[code]

A call to `tandem.addIns

[2016-01-01 03:33] samreid commented on #131
Yes, this explanation was perfect.  I copied your answer into the `how-to-instrument-a-phet-simulation.md` file.

[2016-01-01 03:45] samreid opened #145 "Match tandem names with var names"
As part of https://github.com/phetsims/beers-law-lab/issues/140 and https://github.com/phetsims/together/issues/258 I'd like to try matching the tandem names and the var names.  This should make it easier to instrument & maintain and verify that the instrumentation is correct.

[2016-01-01 03:47] samreid opened #146 "change "fixed" string key to "preset""
While working on https://github.com/phetsims/beers-law-lab/issues/145 I noticed a mismatch between the tandem name and the name of the associated string key:

[code]

It appears the string key for "preset" is "fixed":

[code]

This discrepancy stands out because there are so few other discrepancies in the sim.  Bringing this to @pixelzoom's attention in case he wishes to address it.

[2016-01-02 02:57] samreid commented on #140
I've separated the model and view in my working copy, and it looks very nice.  Combined with using `var` suffixes from the simulation such as `Node`, there is much more clarity about the different instrumented instances.  It is also helpful to see all of the model instances together and all of the view instances together.  I'll commit shortly.

[2016-01-02 03:02] samreid commented on #140
Committed above, should be reviewed/discussed with @pixelzoom at his convenience.

[2016-01-02 03:04] samreid commented on #145
This has worked out nicely.  I think it should be a rule of thumb to match var names to tandem names, and if an exception is needed, it should be clearly documented.  Most of the var name matching meant changing tandem names, but in one case I gave a var name a clearer name so the matching tandem name would be clearer (I forget which one it was). Ready for review/discussion with @pixelzoom.

[2016-01-02 03:06] samreid commented on #141
I've separated the model and view and now the cuvette appears like so:

[code]

In my opinion this is clearer and more maintainable,.  Ready for review/discussion with @pixelzoom at his convenience.

[2016-01-02 03:11] samreid commented on #134
After the above commits, we have:

[code]

[code]

[code]

[code]

If the detector node body is made draggable in a future version of the simulation, then the type can be changed to TDraggableNode.

The only other salient difference I see is that the detector body is missing the readout property.  I'll check whether it should be added.

[2016-01-02 03:16] samreid commented on #134
I instrumented the readout property as it appears in the sim, the detector now looks like this in the API:

[code]

While still asymmetric with the concentrationMeter, I suspect this is good enough.  Ready for discussion/review with @pixelzoom at his convenience.

[2016-01-02 03:17] samreid commented on #133
Assigning to @pixelzoom for feedback on the preceding idea.

[2016-01-02 03:30] samreid commented on #132
There are 2 related issues here:

* NaN is being output as "null" in the data stream
* NaN===NaN evaluates to false in Property, so Property keeps sending out spurious messages.

[2016-01-02 03:31] samreid commented on #132
Testing stringification, I see:

[code]

[2016-01-02 03:35] samreid commented on #132
For the stringify issue, it seems common to use a replacer/reviver to address this issue, say serializing NaN as 'NaN', but what if the user wanted to serialize the string 'NaN'? This is documented here: http://stackoverflow.com/questions/21896792/force-json-stringify-to-emit-nan-infinity-or-js-json-lib-that-does-so  Perhaps we must use the type info in the API?

[2016-01-02 03:35] samreid commented on #132
To solve the spurious NaN=>NaN messages, perhaps we should add a type NumberProperty or NaNProperty that handles these values properly?

I'm ready for @pixelzoom feedback on the above issues at his convenience.

[2016-01-02 03:44] samreid commented on #132
By the way, putting a check for NaN equality in Property solves the data stream issue but breaks the sim in many ways (background is black, things are undraggable, etc).  Very interesting!

[2016-01-02 03:45] samreid commented on #132
By the way, here is the areValuesEqual that yielded the behavior described above:

[code]

[2016-01-02 03:52] samreid commented on #138
This is because the previousLocation in Shaker is not being saved/restored. Hence on startup if the shaker is at a different position, the sim things it must shake out solute.

[2016-01-02 03:55] samreid commented on #138
The simplest way to instrument the `Beaker.previousLocation` would be to make it a property.  The alternative would be to create a together wrapper type for Shaker that knows how to save/load its own previousLocation.

[2016-01-02 03:56] samreid commented on #138
I changed `@public` to `@public` above for `previousLocation` since it is not used outside of the file.

[2016-01-02 04:45] samreid commented on #138
In the above commit, I demonstrated how to convert the Vector2 to Property(Vector2), and verified that it solves the problem.  This solution seems reasonable to me since the `previousLocation` is `@private`.  However, I have reverted the change so that @pixelzoom may review them before we commit them.  The issue is that a Vector2 has been converted to Property(Vector2) not so that it may be observ

[2016-01-02 05:57] samreid commented on #138
A correction on the comment above: I learned that any object with a toStateObject gets serialized, not just Property instances.

[2016-01-02 06:05] samreid commented on #102
Specific answers below, then a general summary and recommendation afterwards:

This was written at a time when I was considering naming the together repo as `together.js`.  The implementation could be in the beers-law-labs-api.js file (like other sim-specific wrapper types), not together.js.

It is the object created by `toStateObject` in beers-law-lab-api.js

[code]

Yes, it should be named somet

[2016-01-04 17:16] ariel-phet commented on #123
The primer projects are being covered by https://github.com/phetsims/tasks/issues/429 and https://github.com/phetsims/tasks/issues/430 closing

[2016-01-04 17:16] #123 closed

[2016-01-04 23:58] #131 closed

[2016-01-05 00:03] pixelzoom commented on #132
How about if we skip this entire `NaN` problem and use `null` to signify that the meter is not reading a value?  This would be for both the concentration meter and AT detector, and would touch these files: ConcentrationMeter, ConcentrationMeterNode, ATDetector, ATDetectorNode.

[2016-01-05 00:06] pixelzoom commented on #133
A flag to "only register children, not the node itself" sounds like a bandaid. And this problem will occur again, so I'd like to find a cleaner solution. Since this is due to an ordering dependency caused by TDraggableNode, I think we should address this after https://github.com/phetsims/together/issues/254 (various issues related to TDraggableNode)

[2016-01-05 00:13] pixelzoom commented on #140
I agree that it looks nice.  And I think it makes instrumentation a more straightforward.  I'd like to get (at least) a third opinion before we standardize on this approach. @jbphet, would you mind reviewing? You've had experience with PhET-iO instrumentation, and since this sim is very similar to beaker.

[2016-01-05 00:17] pixelzoom commented on #129
If we standardize on separation of model and view tandems (see #140), then this looks good.  I'll leave this open until that issue is closed.

[2016-01-05 00:20] pixelzoom commented on #134
If we standardize on separation of model and view tandems (see #140), then this looks good. I'll leave this open until that issue is closed.

[2016-01-05 00:21] pixelzoom commented on #141
If we standardize on separation of model and view tandems (see #140), then this looks good. I'll leave this open until that issue is closed.

[2016-01-05 00:23] pixelzoom commented on #145
This looks good to me, but a prerequisite seems to be standardizing on separation of model and view tandems (see #140).  If we do that, this looks good.  Otherwise, we may have other naming issues to deal with. I'll leave this open until #140 is closed.

[2016-01-05 00:31] pixelzoom commented on #146
The label on the wavelength control was changed from "fixed" (Java version) to "preset" (HTML5 version).  Unfortunately, the string key didn't get changed.  Changing that key now is problematic, since the published version of the sim is translatable and has 10 published translations.

So I think we should live with this for now.  People using the PhET-iO API won't be looking at the string files (a

[2016-01-05 00:32] pixelzoom commented on #146
I'm going to mark this as deferred, and we can address it next time the sim is published.

[2016-01-05 00:36] pixelzoom commented on #140
@jbphet Issues #129, #134, #141 and #145 are all contingent on whether we separate model and view tandems, so I'm labeling this "high priority".  If you can't get to it in the next day or two, let me know and we'll seek other opinions.

[2016-01-05 00:41] pixelzoom commented on #138
I'm still a little confused about why the "auto-shake" is occurring. I need to understand that before deciding how/whether to convert `previousLocation`. On my plate to discuss with @samreid via Skype.

[2016-01-05 03:41] samreid commented on #132
Using null instead of NaN would be a great solution to this problem:

![image](https://cloud.githubusercontent.com/assets/679486/12107092/7605314a-b323-11e5-81eb-7df1f9d9fdcd.png)

Do you want to make this change?  Please assign to me if I should.

[2016-01-05 03:53] samreid commented on #138
Here's Shaker.step:

[code]

When the sim starts up, the shaker's `location` (also equal to `previousLocation`) is set to `new Vector2( thisModel.beaker.location.x, 170 )` from ConcentrationModel.js calling `new Shaker(...)`.  After the sim starts up, together.js changes the position of the Shaker by setting the Shaker's Movable's `locationProperty` value.  However, together.js does not change the

[2016-01-05 17:21] jbphet commented on #140
I've read through this and looked at the code differences, and I'm very much aligned with the idea of separating model and view in the API file.  It looks better and just makes more sense to me.  And even though most consumers of the output data are unlikely to be intimately familiar with the MVC architecture, a data stream that is clear about separating model and view will have an underlying logi

[2016-01-05 17:30] pixelzoom commented on #140
Thanks @jbphet.

@samreid back to you. I'm comfortable with standardizing on this approach if you are.  If there's nothing else to do, please close this issue, and issues #129, #134, #141 and #145.

[2016-01-05 23:10] samreid commented on #140
I'll revise the other sims as part of https://github.com/phetsims/together/issues/263 and https://github.com/phetsims/together/issues/262

[2016-01-05 23:10] samreid commented on #140
This issue and the other related issues in Beer's Law Lab seems good, closing.

[2016-01-05 23:10] #129 closed

[2016-01-05 23:10] #134 closed

[2016-01-05 23:11] #145 closed

[2016-01-05 23:11] #140 closed

[2016-01-05 23:11] #141 closed

[2016-01-06 03:33] samreid commented on #102
Once we instrument ShakerParticle.js in #103, then the above workaround functions can be removed.

[2016-01-06 03:34] samreid commented on #104
The solution to this problem will be to instrument PrecipitateParticle.js, so I'll rename the issue.

[2016-01-06 06:36] samreid commented on #138
@kathy-phet requested me to work on https://github.com/phetsims/together/issues/237 for a presentation tomorrow.  I've got it mainly working but it suffers from the autoshake problem.  My time is short before the upcoming presentation, so I'm inclined to make this change in master (dealing with branches across 2 repos seems like too much overhead).  After the presentation, @pixelzoom can evaluate

[2016-01-06 06:41] samreid commented on #138
I've applied the previousLocation => Property change above and it works nicely in the wrapper (no more autoshake.)  Leaving assigned to @pixelzoom for next steps as outlined above, and my apologies for rushing forward with this before you were ready.

[2016-01-07 18:14] pixelzoom commented on #138
Looks good.  But in Shaker, the visibility for `this.previousLocation` seems incorrect:

[code]

Since it's accessed by together, it's public.  So I believe that visibility should "qualified public", i.e.:

[code]

@samreid does that make sense?

[2016-01-07 18:16] pixelzoom commented on #138
Change to visibility annotation committed above.

[2016-01-07 18:19] pixelzoom commented on #138
There's something that still feels a little wrong about having to make this a Property. And it seems like this could be a general issue that will be encountered in other sims.  Not sure what else to suggest, but perhaps we should do a "pair brainstorm" to see if we can come up with something that won't require code changes in similar situations.

[2016-01-07 18:24] pixelzoom commented on #138
Perhaps a better general/longterm solution would be the "alternative" mentioned in https://github.com/phetsims/beers-law-lab/issues/138#issuecomment-168362178.  Define TShaker with field `previousLocation`, then declare `previousLocation` like this:

[code]

[2016-01-07 18:26] samreid commented on #138
Generally, it would be good for together to easily be able to save/load non-Properties.  I'll look into this next.

[2016-01-07 20:28] pixelzoom commented on #132
I changed the representation of "no value" from NaN to null.  Back to @samreid to verify the instrumentation of valueProperty.

[2016-01-08 05:29] samreid commented on #133
There is a solution proposed in https://github.com/phetsims/sun/issues/192#issuecomment-169191660 and pending discussion with @pixelzoom at his convenience (within 2 weeks would be great).

[2016-01-08 20:28] pixelzoom commented on #133
Not a fan of the workaround proposed in phetsims/sun#192.  As noted in https://github.com/phetsims/beers-law-lab/issues/133#issuecomment-168849994, I think the root of this problem (the ordering dependency) is in TDraggableNode.

[2016-01-08 20:56] pixelzoom commented on #126
The current API presents a single concentration slider.  Let's see how that goes with the UBC study.

[2016-01-09 16:43] samreid commented on #139
From Ido:

- backend data instrumentation
- custom start state
- label changes, availability of features, other minor screen adaptations.
Perhaps also
- ability of students to report out screen state (and capture somehow, somewhere).

[2016-01-09 16:45] samreid commented on #139
Ido continued:

* add constant absorption by water
* add unitless marks to beaker to measure width of beaker (similar to how there is a grid in charges and fields)
* add a measuring tape (similar to how there is a measuring tape in charges and fields). This would allow us to assess if students can assess distance relationships without units but using ratios instead.

[2016-01-09 16:46] samreid commented on #139
@kathy-phet replied:

can you write up a 1-2 page study description so that we understand how you are structuring and your research questions you are trying to answer specifically.

what's the motivation for this change? this is probably one of the most involved because it is a change to the model.

can the ruler not serve this purpose?

[2016-01-09 16:48] samreid commented on #139
Ido replied regarding the constant absorption of water:

Ido replied about the ruler:

And about the study description:

[2016-01-11 22:26] arouinfar opened #147 "Intensity meter does not handle short strings gracefully"
The width of the intensity meter scales with the string length.  However, it looks like a minimum width has not been set to appropriately handle the size of the readout. Comparing English and Persian versions of the sim:
![image](https://cloud.githubusercontent.com/assets/8419308/12248334/e4343a38-b875-11e5-95b8-a5dd1207573d.png)![image](https://cloud.githubusercontent.com/assets/8419308/12248238/

[2016-01-11 22:51] pixelzoom commented on #147
At the time that strings are modified for a string test, we have no knowledge about how the "blank" in the string pattern will be filled in.  In the above case, all we have it "{0}%", with no idea that it will be a number.

That said... This is an easy fix that can be patched into a maintenance release.

[2016-01-11 22:52] pixelzoom commented on #147
@arouinfar Am I correct in assuming that you are reporting this for version 1.3.0 on the PhET website?

[2016-01-11 22:55] pixelzoom commented on #147
The concentration meter on the "Concentration" screen likely has the same issue.

[2016-01-11 22:58] pixelzoom commented on #147
The concentration meter does *not* have this problem:

![screenshot_104](https://cloud.githubusercontent.com/assets/3046552/12249310/27c2ddf8-b87c-11e5-9c84-917937fc1fda.png)

[2016-01-11 22:59] arouinfar commented on #147
I was thinking it would be possible to still have an actively working meter. I'm not sure that "{0}%" would reveal much more than "X" in that case.

Yes, that's correct @pixelzoom. I should have included the version in the original post.

[2016-01-11 23:01] pixelzoom commented on #147
The bug is on ATDetectorNode, line 104:

` var valueNode = new Text( Util.toFixed( maxValue, ABSORBANCE_DECIMAL_PLACES ), {`

This uses the maxValue, but fails to format it with the percent sign.  The correct initialization is:

`var valueNode = new Text( StringUtils.format( pattern0PercentString, Util.toFixed( maxValue, ABSORBANCE_DECIMAL_PLACES ) ), {`

[2016-01-11 23:05] pixelzoom commented on #147
@arouinfar said:

Yes, that would be nice, but not doable with string context that doesn't exist when the string test modifies the strings.   When we augment the string files with metadata for Rosetta (translation utility) I'm sure we'll consider this and other enhancements.

[2016-01-12 00:51] pixelzoom commented on #147
This was an easy fix. Then I ran into a world of hurt trying to deploy maintenance release 1.3.1 to the PhET website.  Apparently the version of chipper in the 1.3 release branch isn't playing nice with build-server, so 'grunt deploy-production' is only deploying the English version.  2 hours later, I've built the translated html files on my local machine, scp'ed them to figaro, then ran into a pe

[2016-01-12 02:36] pixelzoom commented on #147
Fixed and deployed to PhET website in 1.3.1.

@arouinfar please verify at:
http://phet.colorado.edu/sims/html/beers-law-lab/latest/beers-law-lab_fa.html

Feel free to close if this looks OK.

[2016-01-14 15:39] pixelzoom commented on #126
@samreid Are you OK with the proposal in https://github.com/phetsims/beers-law-lab/issues/126#issuecomment-170121610?

[2016-01-14 16:49] samreid commented on #126
Yes

[2016-01-16 17:09] samreid commented on #132
The data stream looks perfect and there are no longer any spurious messages.

[2016-01-16 17:09] #132 closed

[2016-01-16 17:16] samreid commented on #138
Thank you for correcting this.  I was (hopefully temporarily) under the mistaken impression that the parenthetical listed exceptions rather than qualifiers.  I looked around bending-light and didn't see any other of this kind of problem, so hopefully this was an isolated incident.

[2016-01-16 17:57] samreid commented on #138
Fixed above, tested and it works nicely.  I confirmed that `previousLocation` is declared as requested in https://github.com/phetsims/beers-law-lab/issues/138#issuecomment-169762980

Assigned to @pixelzoom to review if you have time.

[2016-01-18 17:05] pixelzoom commented on #138
@samreid I'm not clear on how you resolved this. Did you add the ability to save/load non-Properties, as discussed in https://github.com/phetsims/beers-law-lab/issues/138#issuecomment-169762980?

[2016-01-18 17:08] samreid commented on #138
Yes, now any objects with toStateObject/fromStateObject/setValue will be save/loaded.  Here's the new TShaker declaration that manages it:

[code]

[2016-01-18 17:12] pixelzoom commented on #138
Great, that looks nice.  If there's nothing else to do here, feel free to close.

[2016-01-18 17:14] pixelzoom commented on #138
Reopening for one minor comment... It's too bad that `previousLocation` needs to be explicitly unpacked as separate `x` and `y` values. Can this same same pattern be applied to `Vector2`?  Or does this work only for integral types?

[2016-01-20 22:29] arouinfar commented on #147
Accidentally overlooked this issue. Everything looks good, thanks!

[2016-01-20 22:29] #147 closed

[2016-01-30 22:32] pixelzoom opened #148 "add a readout display for the Solute"
Migrating this issue from https://github.com/phetsims/concentration/issues/47, where @kathy-phet said:

 - [ ] Add a readout display for the Solute added (in g)
...

[2016-01-30 22:33] pixelzoom opened #149 "display concentration units in percent"
Migrating this issue from phetsims/concentration#47, where @kathy-phet said:

- [ ] Display concentration units in percent (as is option in Beaker).

[2016-01-30 22:34] pixelzoom opened #150 "display volume tick mark labels in mL"
Migrating this issue from phetsims/concentration#47, where @kathy-phet said:

- [ ]  Display volume tick mark labels in mL (that is 500 mL and 1000 mL)

[2016-01-30 22:37] pixelzoom commented on #148
In https://github.com/phetsims/concentration/issues/47#issuecomment-177034062, @ariel-phet described the priority:

[2016-01-30 22:37] pixelzoom commented on #149
In https://github.com/phetsims/concentration/issues/47#issuecomment-177034062, @ariel-phet described the priority:

[2016-01-30 22:37] pixelzoom commented on #150
In https://github.com/phetsims/concentration/issues/47#issuecomment-177034062, @ariel-phet described the priority:

[2016-01-30 22:41] pixelzoom commented on #148
In https://github.com/phetsims/concentration/issues/47#issuecomment-177034062, @ariel-phet wrote:

[2016-01-30 22:42] pixelzoom commented on #149
In https://github.com/phetsims/concentration/issues/47#issuecomment-177034062, @ariel-phet wrote:

[2016-01-30 22:42] pixelzoom commented on #150
In https://github.com/phetsims/concentration/issues/47#issuecomment-177034062, @ariel-phet wrote:

[2016-01-30 22:51] pixelzoom commented on #150
Specifications needed:

- [ ] what is the desired query parameter to enabled this feature?
- [ ] how many ticks are shown on the beaker
- [ ] which ticks will be labeled

[2016-01-30 22:57] pixelzoom commented on #149
Related code for this feature in beaker.BeakerNode:

[code]

I see no query parameter in beaker for enabling this feature.  So I'm guess it's done through PhET-iO.

Specifications needed:

- [ ] what is the desired query parameter to enabled this feature?

[2016-01-30 23:00] ariel-phet commented on #150
Claim was that whole number units would be easier for middle school students

[2016-01-30 23:07] pixelzoom commented on #149
I noted above that this was *not* done with a query for beaker, it was done through PhET-iO.  I discussed with @ariel-phet whether this issue and https://github.com/phetsims/beers-law-lab/issues/150 should be done through a query parameter or PhET-iO. Based on @kathy-phet description of the desired features, these are generally-useful features that need to be available in non-PhET-iO versions.  So

[2016-01-30 23:09] pixelzoom commented on #149
This will require model changes.  Get the computation of percent from `beaker.Solute.getConcentrationInPercent`.

[2016-01-30 23:14] pixelzoom commented on #149
When this feature is enabled, put '%' inside the value display window, hide the units on the body.

[2016-01-30 23:30] pixelzoom commented on #148
Requires the same model changes as noted in https://github.com/phetsims/beers-law-lab/issues/149#issuecomment-177326987.

[2016-01-30 23:35] pixelzoom commented on #148
View changes:

• Put "Solute Amount: XX g" above the "Remove Solute" button.  OK to reduce width of Evaporation control if needed.

[2016-01-30 23:37] pixelzoom opened #151 "change layout of "Concentration" screen"
Here's the current layout of the "Concentration" screen:

![screenshot_138](https://cloud.githubusercontent.com/assets/3046552/12699177/a2a750e2-c76f-11e5-941d-90dc228b872d.png)

@ariel-phet said that it bothers him that the shaker can be moved behind the Solute panel.  Consider moving the beaker further left, and the Solute panel and "Reset All" button further right.  This would give the user mor

[2016-01-30 23:39] ariel-phet commented on #151
potential change:

![bll](https://cloud.githubusercontent.com/assets/4051174/12699192/0ab5f2e2-c770-11e5-9643-e7fc2a8c24dd.PNG)

[2016-01-30 23:39] pixelzoom commented on #151
Assigned to @ariel-phet to discuss with @amyh-phet.

[2016-01-30 23:43] pixelzoom commented on #148
@ariel-phet will discuss with @amyh-phet whether this feature should always be visible, or hidden behind a query parameter.

The query parameter would be `soluteGramsVisible=true`.

[2016-01-30 23:48] pixelzoom commented on #138
@samreid ping

[2016-01-31 04:17] samreid commented on #149
To be clear, phet-io parsed a query parameter to set the readout to percent.  So it was both a query parameter and phet-io (this fact in itself does not change any conclusions from above).  If we are going to proceed with sim features to be enabled through query parameters, we should make an effort to make sure these are well documented and available to phet-io customers to use alongside the phet-

[2016-01-31 04:26] samreid commented on #138
In this case, the value can be stored/loaded with TVector2, see the above commit.  Though in general, I must say that PhET-iO's save/restore state feature is in a sticky situation and requires investigation and discussion as noted in https://github.com/phetsims/together/issues/319

[2016-01-31 17:34] pixelzoom commented on #149
I don't see any calls to getQueryParameter in the beaker code base, so the sim itself does not have the ability to enable this feature.  What I believe is happening is that PhET-iO is handling the query parameter and setting sim state (by setting Property values).

That's not what's has been requested here. @kathy-phet described this as being a generally useful feature that can be set via a query

[2016-01-31 17:37] pixelzoom commented on #149
Re documentation of query parameters...  In code, my convention is to encapsulate all query parameters, verification and documentation in one file; see for example RPALQueryParameters.  Documenting those query parameters for teachers and integrators is not something I'm going to address; that's up to supplemental materials (eg, teacher tips).

[2016-01-31 17:40] ariel-phet opened #152 "Consider revealing query parameters in teacher tips"
It is likely the modifications in #148 #149  #150 could be useful to middle school level students.

We should consider modifying the teacher tips once this work is complete. Leaving unassigned currently, but creating this issue to track

[2016-01-31 17:51] pixelzoom commented on #138
I inspected the change, looks good, closing.

[2016-01-31 17:51] #138 closed

[2016-01-31 17:57] pixelzoom commented on #149
Question for @kathy-phet and @ariel-phet .... The current plan is for this feature to apply only to the "Concentration" screen. Is there anything related that needs to be changed in the "Beer's Law" screen?  Ie, if I enabled this feature when running the Beer's Law Lab sim, will there be anything inconsistent between the "Concentration" and "Beer's Law Screen" if only the Concentration screen disp

[2016-01-31 17:57] pixelzoom commented on #148
Question for @kathy-phet and @ariel-phet .... The current plan is for this feature to apply only to the "Concentration" screen. Is there anything related that needs to be changed in the "Beer's Law" screen? Ie, if I enabled this feature when running the Beer's Law Lab sim, will there be anything inconsistent between the "Concentration" and "Beer's Law Screen" if only the Concentration screen displ

[2016-01-31 17:58] pixelzoom commented on #149
Question for @kathy-phet and @ariel-phet .... The current plan is for this feature to apply only to the "Concentration" screen. Is there anything related that needs to be changed in the "Beer's Law" screen? Ie, if I enabled this feature when running the Beer's Law Lab sim, will there be anything inconsistent between the "Concentration" and "Beer's Law Screen" if only the Concentration screen displ

[2016-01-31 18:02] pixelzoom commented on #150
@ariel-phet How do you want this feature delivered? As a maintenance 1.3.1 maintenance release (mor work for me), or as a new 1.4 release branch (requires a complete RC test)?

[2016-01-31 18:02] pixelzoom commented on #149
@ariel-phet How do you want this feature delivered? As a maintenance 1.3.1 maintenance release (mor work for me), or as a new 1.4 release branch (requires a complete RC test)?

[2016-01-31 18:02] pixelzoom commented on #148
@ariel-phet How do you want this feature delivered? As a maintenance 1.3.1 maintenance release (mor work for me), or as a new 1.4 release branch (requires a complete RC test)?

[2016-01-31 18:04] pixelzoom commented on #150
... keeping in mind that recent PhET-iO changes are not in the 1.3 maintenance branch.

[2016-01-31 18:04] pixelzoom commented on #149
... keeping in mind that recent PhET-iO changes are not in the 1.3 maintenance branch.

[2016-01-31 18:04] pixelzoom commented on #148
... keeping in mind that recent PhET-iO changes are not in the 1.3 maintenance branch.

[2016-01-31 18:05] ariel-phet commented on #149
@pixelzoom
- fine for this just to be in concentration screen. Since the concentration as percent was presented as a middle school learning goal, it seems unlikely someone using the Beer's Law screen would opt for this query parameter as Beer's Law is much more advanced than Middle School
- 1.4 release branch seems like the way to go. Delivery to the collaborator will not mean the sim needs to be

[2016-01-31 19:16] pixelzoom commented on #149
In https://github.com/phetsims/beers-law-lab/issues/149#issuecomment-177326987, it was requested to keep "mol/L" where it is, detached from the value.  But when the "percent" feature is enabled, hide the "mol/L" label, and but put "%" next to the value in the meter.

Two problems:

(1) This inconsistent handling of units complicates the implementation of `ConcentrationMeterNode`, particularly wrt

[2016-01-31 19:24] pixelzoom commented on #149
One further complication if we choose option (b).  When the concentration meter isn't reading a value, it currently displays "-" (a hyphen).  That hyphen will need to be converted to something appropriate for a {number} Property, like `null`.

My recommendation is to go with option (a), and send exactly what the user is seeing (value + units) as a string, which seems to have been the purpose in ad

[2016-01-31 19:33] ariel-phet commented on #149
@pixelzoom I think option (a) will be fine. For instance, in BLL the second screen has a concentration (and wavelength) readout with units included within the readout window. We have multiple instances of this kind of inclusion of units, so we have no reason to suspect it would cause confusion.

[2016-01-31 19:36] pixelzoom commented on #148
@ariel-phet How many decimal places in the displayed value?

[2016-01-31 19:36] pixelzoom commented on #149
@ariel-phet How many decimal places in the displayed value? The AT detector uses 2, but that may not be appropriate for concentration.

[2016-01-31 19:40] ariel-phet commented on #149
I think one should be fine for percent concentration (considering the use case of younger students that was presented). However, I would make this easy to change, in case it is reported back that the client would like more/fewer decimal places.

[2016-01-31 19:41] ariel-phet commented on #148
In beaker the grams of solute were given as a whole number, so I would think we should round to the nearest whole number for this change request

[2016-01-31 19:45] pixelzoom commented on #149
It will be easy to change, but not changeable by the client.

[2016-01-31 19:57] pixelzoom commented on #149
I've implemented the view changes for this feature. Summary:

(1) Units move into concentration readout for all units. Eg, "0.885 mol/L" and "65%".

(2) `readoutProperty` remains a `{string}`, and will now contain units. Any clients code that relies on this being a `{number}` will likely break, unless they programmed defensively.

Next up are the model changes, which are significant and will be ob

[2016-01-31 19:59] pixelzoom commented on #149
I've implemented the view changes for this feature. Summary:

(1) Units move into concentration readout for all units. Eg, "0.885 mol/L" and "65.0%".

(2) Percent concentration is displayed with 1 decimal place, eg "65.0%".

(3) readoutProperty remains a {string}, and will now contain units. Eg, "0.885 mol/L" and "65.0%". Any clients code that relies on this being a {number} will likely break, unl

[2016-01-31 20:00] pixelzoom commented on #149
Screenshot showing concentration meter with "mol/L" units moved into the readout:

![screenshot_139](https://cloud.githubusercontent.com/assets/3046552/12704535/85970262-c81a-11e5-9da8-38b0926ebdd5.png)

[2016-01-31 20:18] ariel-phet commented on #149
I would add a bit more padding to the meter body

![85970262-c81a-11e5-9da8-38b0926ebdd5](https://cloud.githubusercontent.com/assets/4051174/12704677/0563bcd6-c81d-11e5-8c8a-0da196cfb344.png)

[2016-01-31 20:18] ariel-phet commented on #149
Just made it a bit vertically taller, seemed a little cramped

[2016-01-31 20:20] ariel-phet commented on #151
@pixelzoom I think without question the reset all button can be re-positioned, if nothing else, just match the position on the Beer's Law screen

[2016-01-31 21:02] pixelzoom commented on #149
Model changes completed.  I ran into some minor stuff when porting the model from beaker, see https://github.com/phetsims/beaker/issues/71 (assign to @jbphet, requested a high-priority reply).

[2016-01-31 21:04] pixelzoom opened #153 "weirdness with version numbering"
I need to deploy a dev version of beers-law-lab for verification of #148, #149, #150.  But I've run into some weirdness with the version numbering.

In @https://github.com/phetsims/beers-law-lab/commit/717fe8d7f4eb75868aa5db38bac48a849f692d7e, @samreid  incremented the version if to 1.4.0-dev.2.  But I see no 1.4.0-dev.1 or 1.4.0-dev.2 on spot in dev/html/.  What is going on here?

[2016-01-31 21:05] pixelzoom commented on #150
Ready to publish a dev version to demonstrate this feature, but I've run into some weirdness with the version numbering for this sim, see https://github.com/phetsims/beers-law-lab/issues/153.

[2016-01-31 21:06] pixelzoom commented on #149
Ready to publish a dev version to demonstrate this feature, but I've run into some weirdness with the version numbering for this sim, see https://github.com/phetsims/beers-law-lab/issues/153.

[2016-01-31 21:34] samreid commented on #153
In https://github.com/phetsims/together/issues/309 I was asked to publish an instrumented beer's law lab for Ido.  I have published this in the restricted hashes directory.

In https://github.com/phetsims/together/issues/260 I have been working on publishing the first version of the phet-io site.  To do this, I must publish the interoperable simulations, including beers-law-lab, color-vision, conc

[2016-01-31 21:37] samreid commented on #153
If you want to proceed immediately with 1.4.0-dev.1 you can reset the version to that for this dev version and I will work around it when publishing the next interoperable versions.  In fact, I'll do so right now so there is no bottleneck for your work.  Feel free to do the same for concentration, if you are also publishing it.

[2016-01-31 21:38] samreid commented on #153
In the above commit, I dropped the dev version number by 1, to `1.4.0-dev.1` so that this cannot bottleneck your work, and we can discuss at our convenience.

[2016-01-31 21:52] pixelzoom commented on #153
My goal is to make sure that I pick a version identified that doesn't collide with something that's already been published.  If I can look in spot:dev/html/ to determine whether a version id has already been used, then it's not clear how I can prevent collisions.

The problem here is this awful hack that was added to `getBuildConfig`:

[code]

This hack was consolidated to 2 "parts" in https://git

[2016-01-31 21:53] samreid commented on #150
My comments are in #153, proceed at your convenience.

[2016-01-31 21:55] pixelzoom commented on #153
My goal is to make sure that I pick a version identified that doesn't collide with something that's already been published.  If I can look in spot:dev/html/ to determine whether a version id has already been used, then it's not clear how I can prevent collisions.

The problem here is this awful "2 part" hack that was added to getBuildConfig.js:

[code]

and createHTMLFilename.js:

[code]

Perhaps

[2016-01-31 21:58] pixelzoom commented on #148
@ariel-phet Is there anything related to this feature that needs to appear in the PhET-iO data stream? Or is this something that's only visible to the user?

[2016-01-31 22:02] samreid commented on #153
I'm not too clear on the motivation for https://github.com/phetsims/chipper/issues/270, so perhaps it would be good to discuss.  You can publish BLL now with `1.4.0-dev.1` without any risk of dev versions colliding or being confused with something already published.

[2016-01-31 22:04] pixelzoom commented on #149
Looks like I'm not done with this.  I can't simply ask the solution for the percent concentration, since the probe can be in other places (faucet outputs, dropper output,...)

[2016-01-31 22:04] samreid commented on #153
It seems like one valuable part of https://github.com/phetsims/chipper/issues/270 was that you can open the sim and see that it reports itself as a phet-io version in the version.  But perhaps this is already accomplished by having the "phet-io" brand baked in?

[2016-01-31 22:07] pixelzoom commented on #153
If I recall correctly, the hack in  phetsims/chipper#270 was added by @jbphet for beaker. So we should pull him into this.

[2016-01-31 22:32] samreid commented on #153
I think I was involved too, but my memory is fuzzy.  I think the reasons we changed the suffix for publishing were primarily (a) so that interoperable versions could be published and identified on spot and (b) so that you could tell if a sim was instrumented or not by the version number within the sim.

Regarding (a), we are no longer planning to publish interoperable versions on spot.  Regarding

[2016-01-31 22:37] ariel-phet commented on #148
@pixelzoom - my instincts would say that knowing the amount of solute added would be useful in PhET-iO.

I think if the moles of solute is already available for iO that would be fine so long as the grams per mole we were using were was clear. (so it could be easily calculated by the end iO user). But some sort of availability of the amount of solute added at different points seems important. For i

[2016-01-31 22:57] pixelzoom commented on #148
beers-law-lab-api.js updated in https://github.com/phetsims/together/commit/25cb5d85621cdef7d69e4201e0a80f0d1580efb2, added 2 new Properties.

[2016-01-31 23:08] pixelzoom commented on #149
Last piece of this is to make the meter work when it's measuring the output of the dropper. That requires computing the percent concentration of the stock solutions. I'm not clear on how to do that, and there is no dropper in the Beaker sim. I'll try consulting with @jbphet on Monday.

[2016-01-31 23:13] pixelzoom commented on #150
Dev version is available here:

http://www.colorado.edu/physics/phet/dev/html/beers-law-lab/1.4.0-dev.1/beers-law-lab_en.html

The query parameter is `beakerUnits`, with values `liters` (default) and `milliliters`.  If you provide an invalid value, it's a runtime error, with message like "Error: invalid value for beakerUnits query parameter: foo".

To demonstrate this feature:

http://www.colorado

[2016-01-31 23:20] pixelzoom commented on #148
Dev version is available here:

http://www.colorado.edu/physics/phet/dev/html/beers-law-lab/1.4.0-dev.1/beers-law-lab_en.html

The query parameter is `soluteAmountVisible`. It's a boolean query parameter, and follows the convention used by other PhET boolean query parameter. That is, if you provide the query parameter, it's true, if you don't then it's false.  If you `soluteAmountVisible=false`, t

[2016-01-31 23:24] pixelzoom commented on #149
Dev version is available here:

http://www.colorado.edu/physics/phet/dev/html/beers-law-lab/1.4.0-dev.1/beers-law-lab_en.html

The query parameter is `concentrationMeterUnits`, with values `molesPerLiter` (default) and `percent`. If you provide an invalid value, it's a runtime error, with message like "Error: invalid value for concentrationMeterUnits query parameter: foo".

To demonstrate this fea

[2016-01-31 23:25] pixelzoom commented on #151
Reset All button is repositioned in this dev version:
http://www.colorado.edu/physics/phet/dev/html/beers-law-lab/1.4.0-dev.1/beers-law-lab_en.html

[2016-01-31 23:27] pixelzoom commented on #148
Btw... On some browsers, the "Solute Amount: X g" string jitters around a little as it's updated. Nothing I can do about that.  In order to properly handle i18n, this is a single string that must be updated as the value changes.

[2016-02-01 16:27] ariel-phet commented on #150
@pixelzoom one request, could we change the values parameter to be simply `L` and `mL` for simplicity?

[2016-02-01 16:28] ariel-phet commented on #150
Otherwise, working exactly as expected.

[2016-02-01 16:39] samreid opened #154 "intermediate updates of ATDetector.valueProperty result in spurious PhET-iO messages"
@phetsims/sarah-perez said:

When I turned the detector on and changed solution, I also saw spurious messages:

![image](https://cloud.githubusercontent.com/assets/679486/12723647/8b1f3a80-c8c7-11e5-9c7f-9261aa8fae60.png)

I'm creating this as an issue in beers-law-lab instead of together because I suspect there is a transient property value that is sending out a message. The priority of this issu

[2016-02-01 16:45] samreid opened #155 "cuvette width dragEnd triggers model changes"
From @phetsims/sarah-perez:

I replicated the behavior.  In my opinion, the correct behavior would be for there to be no further model changes upon release of the beaker width drag. @pixelzoom any idea what is causing this or if it would be easy to change?

[2016-02-01 16:51] samreid commented on #149
This is delivered as a string so that researchers can see exactly what value the students saw on the readout (accounting for number formatting).  The numerical value (in floating precision) is available through the model.

[2016-02-01 16:56] pixelzoom commented on #150
@ariel-phet to answer your question about query parameter values, we also need to look at #149.

Current values are:

[code]

If we make the change you suggested, then we should do so consistently:

[code]

Those values for `concentrationMeterUnits` are very problematic in a URL; the user would be required to manually provide escapes for special chars.   So my recommendation is to leave as is.

[2016-02-01 16:57] samreid commented on #150
Agreed that % cannot be a query parameter value, and hence all query parameters should be spelled out to be consistent.

[2016-02-01 16:59] pixelzoom commented on #150
I don't believe that '/' can be in a query parameter either.

[2016-02-01 17:10] samreid commented on #150
A quick chrome test suggests that / is ok, but % is not. (The latter fails the page load).

[2016-02-01 17:11] pixelzoom commented on #149
Understood, thanks for the clarification.   I still think it would have been better to set the readoutProperty, and have that update the Text node, rather than the reverse.  View should be getting its value from model, not the other way around.

[2016-02-01 17:13] samreid commented on #149
Yes, that is a good idea.

[2016-02-01 17:36] ariel-phet commented on #151
@amyh-phet agreed moving over the Solute panel was a good idea.

Reset All button position looks good.

If an easy tweak, would be good to move the panel before we eventually RC test (but not a priority for delivery to ETS)

[2016-02-01 17:36] ariel-phet commented on #150
Fine with leaving as is, closing

[2016-02-01 17:40] ariel-phet commented on #149
@amyh-phet and I discussed, the values displayed for % Concentration are correct. She was also fine with the mol/L being displayed in the meter readout. All looking good from the "view" side here.

[2016-02-01 17:45] ariel-phet commented on #148
Looking good. @amyh-phet liked the placement of the the readout. Said the only tweak she would consider is making the words "Solute Amount:" bold, but she was not sure. She definitely felt putting it in a panel would be too heavy handed.

@amyh-phet also said values are included in the teacher tips (we should probably match these):

![conc](https://cloud.githubusercontent.com/assets/4051174/127256

[2016-02-01 17:48] pixelzoom commented on #150
Reopening until this enhancement makes it through RC test.

[2016-02-01 17:50] ariel-phet commented on #150
Well then, at least let me remove the "high-priority" label....RC testing is not a high priority for delivery

[2016-02-01 17:57] pixelzoom commented on #148
The values I used from the Beaker sim match the teacher tips, but only to 1 decimal place. Do you want 3 decimal places?

[2016-02-01 18:00] pixelzoom commented on #151
Sound good. Back to me to implement.

[2016-02-01 18:04] pixelzoom commented on #149
I discussed stock solution percent concentration with @jbphet.  Assuming that the stock solvent is water, this should be a straightforward constant computation, which I'll add as field Solute.

[2016-02-01 18:09] pixelzoom commented on #148
@ariel-phet says that if this is what's in the teacher tips, then these are the values that we should have in the model.  I will use these exact values, to 3 decimal places.

[2016-02-01 18:12] pixelzoom commented on #148
Other decisions:
• leave font as is for now, consistent with everything else on the screen
• keep this feature hidden behind query parameter

[2016-02-01 18:14] pixelzoom commented on #154
@ariel-phet instructed me to spend some time investigating this.

[2016-02-01 18:15] pixelzoom commented on #155
@ariel-phet instructed me to spend some time investigating this.

[2016-02-01 18:15] samreid commented on #154
I'm available for collaboration at the moment if you'd like me to tag along.

[2016-02-01 18:18] pixelzoom commented on #154
This is nowhere near the top of my priority stack yet.

[2016-02-01 18:51] pixelzoom commented on #151
Work completed, demonstrated to @ariel-phet via Skype. Initial state of the "Concentration" screen is shown in this screenshot, with `?dev` query parameter to show "safe area" of screen.

![screenshot_01](https://cloud.githubusercontent.com/assets/3046552/12727372/06d72842-c8da-11e5-9aef-2aec2c812aa7.png)

[2016-02-01 18:55] amyh-phet commented on #151
@pixelzoom and @ariel-phet   Looks good - I like the new layout.

[2016-02-01 19:03] pixelzoom commented on #148
Work on this feature completed.

[2016-02-01 19:12] pixelzoom commented on #152
Summary of query parameters added in  #148 #149 #150.

The follow query parameters enable options in the "Concentration" and "Beer's Law Lab" sims.

`showSoluteAmount` - shows the solute amount (in grams) below the beaker in the "Concentration" screen, does not require a value

`beakerUnits=milliliters` - labels the beaker tick marks using mL (default is L)

`concentrationMeterUnits=percent` - dis

[2016-02-01 19:47] pixelzoom commented on #149
@samreid heads up that I revised the documentation for readoutProperty in the API file. Here's the new documentation:

[code]

[2016-02-01 19:53] pixelzoom commented on #149
Here's the computation for the percent concentration of the stock solutions:

`percentConcentration = ( molarMass * stockSolutionConcentration ) / 1000`

where 1000 is g/L for water (the solvent).

Values for molarMass and stockSolutionConcentration are as shown in https://github.com/phetsims/beers-law-lab/issues/148#issuecomment-178091606 (and the teacher tips).

[2016-02-01 19:57] pixelzoom commented on #151
Dev version demonstrating the new layout:

http://www.colorado.edu/physics/phet/dev/html/beers-law-lab/1.4.0-dev.2/beers-law-lab_en.html

[2016-02-01 19:58] pixelzoom commented on #151
Work completed. Unassigning until time to test.

[2016-02-01 19:58] pixelzoom commented on #150
Unassigning until time to RC test.

[2016-02-01 20:02] pixelzoom commented on #148
Values for molar mass have been changed as specified in https://github.com/phetsims/beers-law-lab/issues/148#issuecomment-178091606.

@amyh-phet please test that the displayed values look correct in this dev version (note `showSoluteAmount` query parameter to enable this feature):

http://www.colorado.edu/physics/phet/dev/html/beers-law-lab/1.4.0-dev.2/beers-law-lab_en.html?showSoluteAmount

[2016-02-01 20:07] pixelzoom commented on #149
Two significant changes:
• Values for molar mass were changed to the values specified in https://github.com/phetsims/beers-law-lab/issues/148#issuecomment-178091606
• The concentration meter can now read the percent concentration of the stock solution coming out of the dropper. The computation appears in https://github.com/phetsims/beers-law-lab/issues/149#issuecomment-178159589.

@amyh-phet pleas

[2016-02-01 20:26] amyh-phet commented on #149
@pixelzoom   The meter displays the correct percent concentration for the solution in the beaker, drain faucet and water faucet.

We need to adjust the formula used to calculate the concentration for the solution in the dropper.   The formula should be:

percent concentration = (molar mass * stock Solution Concentration)/ (1000 + (molar mass * stockSolutionConcentration))

For drink mix, solution

[2016-02-01 20:33] amyh-phet commented on #148
@pixelzoom    Displayed values for solute amount are correct for the concentrations and volumes displayed on screen.  Verified for drink mix and nickel (II) chloride.   Can test other solutions if needed.

[2016-02-01 20:52] pixelzoom commented on #149
Thanks @amyh-phet. I've revised the computation of percent concentration for stock solutions, and it verifies with drink mix.  I'll publish a new version shortly.

This did raise a question... There are 2 percent concentrationvalues that were added to the model to support this feature:

`{number} Solute.stockSolutionPercentConcentration`
`{Property.<number>} ConcentrationSolution.percentConcentrat

[2016-02-01 20:57] pixelzoom commented on #149
Keep in mind that the view portion of the PhET-iO data stream will display (for example) "65.5%" for the concentration meter's `readoutProperty`.  If we switch to [0,1] in the model, then the model data stream would show something like "0.65478" for the solution's `percentConcentrationProperty`.

[2016-02-01 20:58] pixelzoom commented on #149
Keep in mind that the view portion of the PhET-iO data stream will display (for example) "65.5%" for the concentration meter's `readoutProperty`.  If we continue to use [0,100] in the model, then the model data stream would show something like "65.478" for the solution's `percentConcentrationProperty`.  If we switch to [0,1] in the model, then the model data stream would show "0.65478".

[2016-02-01 21:08] pixelzoom commented on #148
I verified that the sim builds with `grunt --brand=phet-io` and runs with `?togetherEvents.log=console&phet-io-standalone`.

@samreid I'll need your assistance to verify that `concentrationScreen.model.solution.soluteGramsProperty` looks correct in the data stream. Please contact me when you have time, or feel free to verify without me if you have time when I'm unavailable.

[2016-02-01 21:13] pixelzoom commented on #148
@samreid Never mind, I consulted with @jbphet on the data stream. `soluteGramsProperty` is present and looks correct.

[2016-02-01 21:15] pixelzoom commented on #149
Wrt PhET-IO changes, I verified the following:
• the sim builds with `grunt --brand=phet-io`
• the sim runs with `?togetherEvents.log=console&phet-io-standalone`
• the values in the data stream for the new `percentConcentrationProperty` look correct

[2016-02-01 21:24] pixelzoom commented on #149
Hmmm... But I don't see ConcentrationMeterNode's `readoutProperty` in the data stream.  I've verified that `readoutProperty` is indeed being set.

[2016-02-01 21:28] pixelzoom commented on #149
The problem with `readoutProperty` is that it's in the wrong place in the API file.  It's currently at:

`concentrationScreen.model.concentrationMeter.body.readoutProperty`

It's a view Property, and should be at:

`concentrationScreen.view.concentrationMeter.bodyNode.readoutProperty`

[2016-02-01 21:35] pixelzoom commented on #149
Which makes me wonder... Does PhET-iO do any error checking on the API file?  Why was there no notification (at build or run time) that there was a non-existent Property specified for the model data stream?  Moving this general issue to https://github.com/phetsims/together/issues/326.

[2016-02-01 21:41] pixelzoom commented on #149
After fixing beers-law-lab-api.js, the `readoutProperty` now appears as expected in the PhET-iO data stream.

[2016-02-01 21:43] pixelzoom commented on #149
FYI, `readoutProperty` has been in the wrong place since 1/1/16 in commit @80af4cd812eecc5dc04ad1b41f01e03532d56e1d.

[2016-02-01 21:45] pixelzoom commented on #149
Now that the `readoutProperty` diversion is over...

The final bit of work here is to get @samreid and @ariel-phet opinions on https://github.com/phetsims/beers-law-lab/issues/149#issuecomment-178183466.

[2016-02-01 21:50] pixelzoom commented on #155
Since the beaker width isn't variable in this sim, I'm guessing that we're talking about the cuvette, and beersLawScreen.model.cuvette.widthProperty in the API file.   Changing the issue title to reflect this.

[2016-02-01 21:50] samreid commented on #149
Since the variable name uses the term "percent", it should go from 0-100.

[2016-02-01 21:57] pixelzoom commented on #155
The relative code is in CuvetteNode.js, lines 148-153. When a drag cycle is completed, the cuvette snaps to the closest 0.1 cm interval.  This is as specified in the design document.  If the width is already on a 0.1 cm interval, then the call to `cuvette.widthProperty.set( newWidth )` is a no-op.  So a model change is expected when the drag cycle is completed.

Back to @samreid.

[2016-02-01 21:59] samreid commented on #155
@phetsims/sarah-perez can you review @pixelzoom's notes in the preceding comment and let me know your thoughts?

[2016-02-01 22:11] pixelzoom commented on #155
One more note...  The cuvette width snaps to 0.1 cm intervals to facilitate measurement of the cuvette with the ruler, which is marked with 0.1 cm ticks.  Without the "snap to width" feature, the students can't accurately measure the cuvette, and therefore can't perform other necessary calculations.  So I suspect that removing the "snap" feature is unlikely to happen.

[2016-02-01 22:16] pixelzoom commented on #154
@phetsims/sarah-perez said:

How did you turn the detector on? It's on all the time.  Did you mean that you selected 'Transmittance' or 'Absorbance' with one of the detector's radio buttons? Or something else?

[2016-02-01 22:16] pixelzoom commented on #154
Ah... Looks like that is @samreid saying "When I turned the detector on".  @samreid ?

[2016-02-01 22:18] ariel-phet commented on #149
0-100 seems logical to me

[2016-02-01 22:20] samreid commented on #154
My apologies, I should have said "put the detector in the path of the beam".

[2016-02-01 22:20] pixelzoom commented on #149
[0,100] it is.

[2016-02-01 22:24] pixelzoom commented on #149
@amyh-phet here's a dev version with the revised computation (percent concentration of stock solution) that you provided in https://github.com/phetsims/beers-law-lab/issues/149#issuecomment-178171340.  Please verify that the value displayed by the concentration meter looks correct. (Note the `concentrationMeterUnits=percent` query parameter).

http://www.colorado.edu/physics/phet/dev/html/beers-la

[2016-02-01 22:27] pixelzoom commented on #154
@samreid I'll need some assistance reproducing the "spurious messages".  I don't see anything like that in the console when running a built version with `?togetherEvents.log=console&phet-io-standalone`.

[2016-02-01 22:28] samreid commented on #154
togetherEvents.log=lines is the abbreviated "human readable" form.  I'm working a bit longer, skype me if you want to join forces.

[2016-02-01 22:40] pixelzoom commented on #154
Got it, messages reproduced.

[2016-02-01 23:15] pixelzoom commented on #154
There are indeed some intermediate states here.  And I actually see 3 "valueProperty changed" messages in some cases, eg:

![screenshot_02](https://cloud.githubusercontent.com/assets/3046552/12734611/efa988ac-c8fe-11e5-9564-b424288a2855.png)

The ATDetector.valueProperty is a DerivedProperty. One of its dependencies is Absorbance.absorbanceValue, which has multiple dependencies that update when th

[2016-02-01 23:52] pixelzoom commented on #154
Looks like `Beam.fillProperty` (the beam color, with transparency determined by transmittance) probably has this same issue (invalid intermediate states) but is not currently instrumented for PhET-iO.  I'm guessing that it's unlikely that RGBA values of the beam will be of interest in the PhET-iO data stream, but figured I should point it out.  If `fillProperty` were instrumented, we'd need to add

[2016-02-01 23:56] sperez8 commented on #154
Sorry I was away from my emails and couldn't respond but yes the messages I
got were similar to the ones above.

*Sarah Perez, M.Sc*
Dynamic Assessment Research Coordinator
Centre for Teaching, Learning and Technology at UBC
www.spzfolio.com
604-842-6751

On Mon, Feb 1, 2016 at 3:15 PM, Chris Malley <notifications@github.com>
wrote:

[2016-02-01 23:57] sperez8 commented on #155
I am confused... what's the difference between the beaker and cuvette?

*Sarah Perez, M.Sc*
Dynamic Assessment Research Coordinator
Centre for Teaching, Learning and Technology at UBC
www.spzfolio.com
604-842-6751

On Mon, Feb 1, 2016 at 1:50 PM, Chris Malley <notifications@github.com>
wrote:

[2016-02-01 23:58] pixelzoom commented on #154
In both ATDetector and Beam, the issue is that when the solution changes, there are 3 dependencies that change: solution, concentration (set to the new solution's concentration), and wavelength (set to lambdaMax for the new solution).  The last 2 (concentration and wavelength) can be varied by user, so are independent from solution, except when the solution is changed.

[2016-02-02 00:04] pixelzoom commented on #155
A beaker is a vessel for experiments involving liquids, like the one in the "Concentration" screen. A cuvette is a vessel for spectroscopic experiments, like the one in the "Beer's Law" screen.  And in this sim, they are different elements in the PhET-iO data stream, so I wanted to verify that you were indeed referring to the cuvette.

[2016-02-02 00:09] sperez8 commented on #155
In that case yes I was referring to the cuvette. Just making sure there
wasn't also a beaker in addition to the cuvette in Beer's law!

*Sarah Perez, M.Sc*
Dynamic Assessment Research Coordinator
Centre for Teaching, Learning and Technology at UBC
www.spzfolio.com
604-842-6751

On Mon, Feb 1, 2016 at 4:04 PM, Chris Malley <notifications@github.com>
wrote:

[2016-02-02 00:10] pixelzoom commented on #155
And @samreid has requested your response to my diagnosis in https://github.com/phetsims/beers-law-lab/issues/155#issuecomment-178215230.

[2016-02-02 00:11] amyh-phet commented on #149
@pixelzoom   The value displayed by the concentration meter is correct for all stock solutions in dropper.

[2016-02-02 00:12] pixelzoom commented on #155
Beer's Law Lab does indeed have both a beaker (1st screen) and a cuvette (2nd screen).

[2016-02-02 00:30] sperez8 commented on #155
Makes sense.

My main worry here is consistency for the purposes of parsing the log files. There are two consistency problems:
1. The order in which logging occurs (variable change then detector value change, or vice versa) should be consistent across events. This is more for simplicity in parsing the file but can be worked around though preferably not.

2.The fact that a model change is not guara

[2016-02-02 00:30] pixelzoom commented on #149
Thanks @amyh-phet.

All work completed on this issue.

[2016-02-02 00:31] pixelzoom commented on #148
All work completed for this issue.

[2016-02-02 00:42] pixelzoom commented on #155
This is true of *any* TProperty value that you may be observing in the data stream. If it doesn't change, there will be no message indicating it's value.  So while we could probably add a "current value" message in the endDrag for this specific case, that's not a general solution.  If you're not designing your analysis to always expect model values in specific orders, you will have problems.

I do

[2016-02-02 00:54] sperez8 commented on #155
I don't think I explained myself well. I agree, we're not interested in
knowing current values, only change in values.

When I write the script that will parse the log file, I need to know when I
should look for a "detector value change": is it going to be before or
after the cuvette width dragend event? My interpretation is that because of
the "snap to value" feature it's not going to be consiste

[2016-02-02 03:08] samreid commented on #155
@sperez8 could you try appending the query parameter &emitStates to the URL?  This will make the simulation emit states every 10 seconds and deltas every frame.  I am wondering if this can help with you detecting the changes in values?

[2016-02-02 06:04] samreid opened #156 "Incorrect type for soluteGramsProperty"
The sim is trying to set a value for a derived property, this should probably be changed from TProperty to TDerivedProperty.

[2016-02-02 06:05] samreid commented on #156
Fixed above, state wrapper is working again, closing.

[2016-02-02 16:58] pixelzoom commented on #156
Reopening, so that I can find out the process to test this. I'm clearly not up to speed on how to test PhET-iO changes.

[2016-02-02 17:52] samreid commented on #153
Meeting consensus: if it is a dev version of a phet-io simulation, don't replace the "dev" with "phet-io".

SR: This could leave gaps in the version numbers.

@pixelzoom: we could append the brand to the version identifier, like: 1.0.3-dev-phet-io.1

@jonathanolson: perhaps we should keep the versions matched, and deploy a production version when we deploy the phet-io version.

This means if we wa

[2016-02-02 18:01] samreid commented on #153
Perhaps making spot "dev" password protected and creating a sibling directory "dev-public" and making it public.

[2016-02-02 18:04] samreid commented on #153
Latest thoughts: dev/html/phet-io could be a password protected directory that is published to at the same time as the main dev version.

@jonathanolson says don't create a separate directory, just use .htaccess to make restrict access to those.

[2016-02-02 18:05] samreid commented on #153
@pixelzoom said look into FILESMATCH.

[2016-02-02 18:06] pixelzoom commented on #153
It's `<FilesMatch>` in .htpassword

[2016-02-02 18:18] pixelzoom opened #157 "change ATDetector.Mode enum to string values"
See https://github.com/phetsims/together/issues/327#issuecomment-178731008

[2016-02-02 18:19] pixelzoom commented on #157
This should be a matter of:
(1) Change the values of ATDetector.Mode to strings
(2) In beers-law-lab-api.js the type of `detector.modeProperty` to `TString` and revise the comment (breaking change)

[2016-02-02 18:22] pixelzoom commented on #157
According to @samreid, no one is using data from beers-law-lab yet, so we can change this.

[2016-02-02 18:27] pixelzoom commented on #157
Change completed. Over to @samreid for a quick peek.

[2016-02-02 19:39] pixelzoom commented on #155
When the cuvette "snaps" to a width, the "widthProperty changed" event does not appear after the "dragEnded" event.  It is a child of the "dragEnded" event.

Here's are some examples from the console when running with query parameters `?togetherEvents.log=console&phet-io-standalone`.

First, here's an example where the cuvette snapped to a 0.1 cm increment at the end of a drag. Note that the "widt

[2016-02-02 19:47] pixelzoom commented on #155
@sperez8 Since you mention "parsing" the data stream and things being "before" or "after" other things, I wanted to check on how you're parsing.

The PhET-iO data stream cannot be treated as text strings with a deterministic ordering of fields. The data stream is in JSON format, and the order of fields between any pair of curly braces is *not guaranteed* to be the same across browsers or operating

[2016-02-02 19:52] pixelzoom commented on #154
@ariel-phet In https://github.com/phetsims/beers-law-lab/issues/154#issuecomment-178249246, I estimated 2-3 hours for further investigation and possible fix. Do you want me to proceed?

[2016-02-02 19:53] pixelzoom commented on #139
@samreid Can this issue be closed? Seems like we have graduated to creating specific issues for the UBC study. (eg #154, #155)

[2016-02-02 19:56] pixelzoom commented on #156
I was under the impression that building with `grunt --brand=phet-io`, then running with ?togetherEvents.log=console&phet-io-standalone` was sufficient to test PhET-iO changes.

@samreid can you describe what additional testing needs to be done? Or point me to documentation on testing?

[2016-02-02 22:52] samreid commented on #156
Different features are exercised by the different tests in together/phet-io-site/demos/wrappers.html, the feature in question was related to save/load, so the "state" wrapper was where I saw the issue.  From https://github.com/phetsims/together/blob/master/doc/how-to-instrument-a-phet-simulation.md#step-10-broader-testing

The data stream should show a message for every user and model event
The in

[2016-02-02 23:02] samreid commented on #157
Looks great, closing.

[2016-02-02 23:02] #157 closed

[2016-02-02 23:05] samreid commented on #139
Sure, sounds good.

[2016-02-02 23:05] #139 closed

[2016-02-03 05:12] samreid commented on #153
@pixelzoom did I summarize the outstanding work correctly in https://github.com/phetsims/together/issues/331 ?  Can this issue be closed?

[2016-02-03 05:40] samreid commented on #155
It seems like no more implementation work is required for this issue, just concluding discussion regarding how the log messages work.  I'll unassign it from myself and this issue can be closed when the conversation concludes.

[2016-02-03 05:56] samreid commented on #133
In the above commits, EyeDropperNode registers its tandem and BLLDropperNode uses createSupertypeTandem.  @pixelzoom would you like to review?

[2016-02-03 16:47] pixelzoom commented on #156
Perfect, thanks.

[2016-02-03 16:50] pixelzoom commented on #155
I'll assign this to me to wrap up the discussion.

[2016-02-03 17:25] ariel-phet commented on #154
@sperez8 I should mention that @pixelzoom's time is at a serious premium at the moment. Unless you feel that this work is "mission critical" to your study and cannot be worked around, we are going to defer work on this issue for the moment

[2016-02-03 17:26] ariel-phet commented on #154
Clearing assignee for the moment

[2016-02-03 18:57] sperez8 commented on #155
My intentions were indeed to process the messages as JSON so that the order of items within curly brackets doesn't matter.
By "order" I meant the sequence of events by time stamp.

I think I need to play with it a bit more and get back to you on wither it will be simple/possible to parse as is.

[2016-02-03 19:00] sperez8 commented on #154
Definitely not a missions critical item. I can work around it.

[2016-02-03 20:30] pixelzoom commented on #155
Great, sounds like you're proceeding in the right direction.  Let me know if you have any further questions about how to handle parsing in this particular situation.

[2016-02-03 23:32] #156 closed

[2016-02-04 17:31] pixelzoom opened #158 "revise implementation of `readoutProperty` in ConcentrationMeterNode"
While working on a new feature request (https://github.com/phetsims/beers-law-lab/issues/149), I ran across the `readoutProperty` in ConcentrationMeterNode, which was added  so that researchers can see exactly what the student sees in the meter.

In https://github.com/phetsims/beers-law-lab/issues/149, I said:

In https://github.com/phetsims/beers-law-lab/issues/149#issuecomment-178074600, @samrei

[2016-02-04 17:41] pixelzoom commented on #158
The other problem with the current implementation is the name given to `readoutProperty`.  Everything else in the implementation related to the "readout" used the term "value": eg: valueNode, valueBackgroundNode, VALUE_X_MARGIN,...  For clarity, I'm also going to change the terminology through the implementation to "readout".

[2016-02-04 17:53] pixelzoom commented on #158
Another problem with the existing implementation.  Here's how the Property is instantiated:

`var readoutProperty = new Property( READOUT_NO_VALUE, tandem.createTandem( 'readoutProperty' ) );`

This is incorrect. Property has no {Tandem} parameter, the tandem needs to be passed via the options. So there is currently no sign of `readoutProperty` in the data stream.  I'm guessing that this feature w

[2016-02-04 18:08] pixelzoom commented on #158
Note that `readoutProperty` was also in the incorrect location in the API file, and was moved to the correct location in https://github.com/phetsims/together/commit/8e28d7368c552ba307a72a181b97c68c97307bfe.

[2016-02-04 18:08] pixelzoom commented on #158
Work completed. Assigning to @samreid to review since he added the feature.

[2016-02-04 18:25] pixelzoom commented on #153
The weirdness with the version numbering is due to the lack of a process for deploying PhET-iO dev versions.  That general issue is now being tracked in https://github.com/phetsims/chipper/issues/440. Closing.

[2016-02-04 18:25] #153 closed

[2016-02-04 18:40] pixelzoom commented on #133
Looks great.

FYI, while I was reviewing this, I implemented `EyeDropperNode.dispose`, which (among other things) calls `tandem.removeInstance`.  See https://github.com/phetsims/scenery-phet/issues/216

Closing.

[2016-02-04 18:40] #133 closed

[2016-02-04 18:48] pixelzoom commented on #146
I changed the English string key and related .js files in master.

According to @jbphet, the existing translations in babel should not be changed until immediately after a new version is published to the PhET website.  This is because Rosetta looks at the currently published English version for string keys.

So leaving this issue open so that I remember to update translations immediately after the

[2016-02-05 02:28] samreid commented on #153
FYI I'm going to bump concentration back to 1.3.0-dev.1 for a dev deploy, the other dev versions are not going to be published.

[2016-02-05 02:29] samreid commented on #153
Done above.

[2016-02-05 05:32] samreid commented on #158
I tested that the readoutProperty was getting good data in the latest version, I'd also like to add a test in Axon for 2nd arg as tandem, since I've seen this problem before and expect to see it again.

[2016-02-05 05:32] #158 closed

[2016-02-05 16:39] kathy-phet opened #159 "Readout solute amount and volume suggestions-- sometime in future"
Our colleagues are happy with the recent features added and will use the current version for the study. They had 2 suggestions for us to consider down the road. Logging them here:

[2016-02-05 20:35] pixelzoom commented on #158
If possible... don't test that the 2nd arg is a {Tandem}, test that the 2nd arg is an {Object} literal.  That's more general.

[2016-02-05 20:37] samreid commented on #158
Great idea, I tried that and found that it wasn't specific enough, because tandem instances are also typeof "object".

[2016-02-05 20:48] pixelzoom opened #160 "make "Solute Amount" display more prominent"
Splitting up feature requests that @kathy-phet made in https://github.com/phetsims/beers-law-lab/issues/159:

[2016-02-05 20:51] pixelzoom commented on #160
The "Solute Amount" feature was implemented in https://github.com/phetsims/beers-law-lab/issues/148.  At the time, we considered several different presentation, summarized here:

(1) A panel around the feature. This was deemed too heavy-handed.

(2) Bold font. Tried this and it looked inconsistent and unnecessarily "weighted". So we decided to use the same font that is used for all other labels an

[2016-02-05 20:51] pixelzoom commented on #160
Assigning to @ariel-phet to decide whether to leave this open for future consideration, or to close it give that we've discussed previously.

[2016-02-05 20:53] pixelzoom opened #161 "Add a readout for volume of water in the beaker?"
Splitting up feature requests that @kathy-phet made in #159:

[2016-02-05 20:55] pixelzoom commented on #159
These are 2 independent feature requests, so need to be tracked in 2 separate GitHub issues. I've split this up into #160 and #161.  Closing this issue.

@kathy-phet In the future, feel free to continue to put multiple requests into one GitHub issue. But know that the first thing that will happen is that the issue will need to be split up by a developer, and that takes developer time (in this case

[2016-02-05 20:55] #159 closed

[2016-02-05 21:31] pixelzoom commented on #158
From https://github.com/phetsims/axon/issues/89#issuecomment-180562920:

[2016-02-08 02:03] ariel-phet commented on #160
Closing for the moment - if we eventually get lots of feedback from teachers or such using the query parameter we could consider, but the readout seems perfectly clear.

[2016-02-08 02:03] #160 closed

[2016-02-08 18:49] mattpen opened #162 "Correct annotation for restricted read-write access on variable"
When implementing the customization wrapper ( see phetsims/phet-io#267 ) with @samreid, we decided to make the name and formula variables in Solute.js to have read-write access for the phet-io API only, and read-only access for everyone else.  What is the best way to annotate this requirement in the line comments?

We were currently planning to use `// @public (read-write)`

[2016-02-09 00:14] pixelzoom commented on #162
// @public (read-write, phet-io)

[2016-02-09 00:16] samreid commented on #162
Does this indicate that it is read-only for everything that is not phet-io?  Should it?

[2016-02-09 00:17] pixelzoom commented on #162
Oh wait... They're `// @public (read-only)`.  So we need a way to say "they're read-only in general, but read-write for phet-io".  We don't have a good way to do that with our current annotation convention.  For now, how about:

`// @public (read-only), (read-write, phetio)`

[2016-02-09 02:17] samreid commented on #162
Fixed as prescribed, @pixelzoom please verify if you wish.

[2016-02-09 05:52] samreid commented on #103
I instrumented ShakerParticle above, and it is working nicely in the state playback.  @pixelzoom can you review the changes to the beers-law-lab repo?  In the phet-io repo, I'm aware of some duplication of state keys that I don't plan to address now.  I'm more interested in your help double checking that the sim changes look correct.

[2016-02-09 05:53] samreid commented on #102
Removed since the work is covered by #103, closing.

[2016-02-09 05:53] #102 closed

[2016-02-09 05:59] samreid commented on #103
Things are broken, please hold...

[2016-02-09 06:04] samreid commented on #103
Fixed in https://github.com/phetsims/phet-io/commit/60ecf45b00d40d02c2ccb12383279c90f1b239d8 and working normally.

[2016-02-09 06:36] samreid commented on #104
Instrumentation complete in the above commits.  Working properly in state mirror and state load, tested by creating patterns of precipitate and confirming they are loaded back properly.  Like #103, it would be good for @pixelzoom to confirm the beers-law-lab repo changes to make sure I didn't miss something important.

[2016-02-10 15:13] pixelzoom commented on #162
Just out of curiosity...  Is name and formula read-write via PhET-iO so that you can change "Drink Mix"?  Seems like changing the name and formula for the more specific solutes should be a no no.   If I'm interpreting that correctly, then is there some way we can specify read-write for "Drink Mix" only?

[2016-02-10 15:55] pixelzoom commented on #104
Inspected commits, I don't see anything amiss. Closing.

[2016-02-10 15:55] #104 closed

[2016-02-10 16:08] pixelzoom commented on #103
Sim changes look good, minor fix to one visibility annotation.

Added TODO to this comment in beers-law-lab-api.js:
[code]

Are the TODO items in beers-law-lab-api.js being tracked somewhere in GitHub?

[2016-02-10 16:11] pixelzoom commented on #146
Mentioning @samreid so that he's aware of this issue when publishing versions of this sim.  Until a public version is published to the PhET website, babel translations are out of sync this string key in master.

[2016-02-10 16:15] samreid commented on #103
https://github.com/phetsims/phet-io/issues/44 "There are 37 TODOs in the code"

[2016-02-10 16:16] #103 closed

[2016-02-10 16:16] samreid commented on #146
Thanks!

[2016-02-10 16:19] samreid commented on #162
A PhET-iO client may wish to change the label of Cobalt Nitrate to "Unknown X/Y/Z", etc, so I think this applies to all of them.  But generally, our grammar for visibility is type specific, not instance specific.

[2016-02-10 16:38] #162 closed

[2016-02-12 20:31] samreid opened #163 "Change ConcentrationMeterNode.readoutProperty to a DerivedProperty"

[2016-02-12 22:50] pixelzoom commented on #163
Recommended that we don't do any further work on `readoutProperty`, and invest in https://github.com/phetsims/tandem/issues/8 instead.

[2016-02-15 18:14] samreid commented on #163
From https://github.com/phetsims/tandem/issues/8

The sim may be better off if we roll back the readout from being a Property to a plain var.  Once tandem#8 is done, this would be possible.

[2016-02-15 18:24] pixelzoom commented on #163
I don't follow. Why do we need readout at all (Property of plain var) if the text is accessible be TandemText?

[2016-02-15 18:25] samreid commented on #163
Indeed it could just be a temporary var or no var at all, if the text is accessible via TandemText.

[2016-02-15 18:44] pixelzoom commented on #163
My preference would be to ditch it entirely, and revert lines 190-216 of ConcentrationMeterNode to:

[code]

[2016-02-16 17:38] samreid commented on #163
After implementing TandemText, I've rewritten ConcentrationMeterNode to use text like the above.  Many other changes had been made to the file previously, so I couldn't use the snippet in https://github.com/phetsims/beers-law-lab/issues/163#issuecomment-184343652 verbatim.  I've tested with PhET-iO event stream and with ?concentrationMeterUnits=percent and everything seems to be working, but I'm n

[2016-02-16 17:39] samreid commented on #163
I almost forgot, we can now remove the instrumentation for the readoutProperty, I'll do that next.

[2016-02-16 17:44] samreid opened #164 "Spurious message from concentration meter node's readoutTextNode on startup"
From: https://github.com/phetsims/beers-law-lab/issues/163

A message like:

Is always outputting when the sim starts up.   This is because the concentration meter text is being created with the text `1.000 mol/L` for layout purposes before the correct text is set.

Is this a problem for the data stream? Possibly not, but the convention for the data stream is not to show initial values or spurious

[2016-02-16 17:44] samreid commented on #163
OK I've removed the instrumentation from readoutProperty, grunt is passing.  As I said above:

[2016-02-16 17:55] pixelzoom commented on #163
Reviewed commits, looks good. Closing.

[2016-02-16 17:55] #163 closed

[2016-02-16 18:06] pixelzoom commented on #164
Could use a temporary Text node to determine the dimensions of `readoutBackgroundNode`.   Then initialize `readoutTextNode` with the proper initial value.

[2016-02-16 18:12] samreid commented on #164
That sounds good if it would not be too complicated.  I'm also wondering how many times this happens throughout our codebase.  If it happens everywhere, then we would have to choose something like (a) invest in changes like the one you described (b) look for a shortcut, such as toggling messages on and off or (c) just accepting that spurious messages are part of the data stream.  I'm inclined to i

[2016-02-16 18:14] pixelzoom commented on #164
I'm certain that this pattern occurs frequently. A better general pattern might be to choose a width and height for `readoutBackgroundNode` empirically, then use that width and height (minus some margin) as `maxWidth` and `maxHeight` for `readoutTextNode`.

[2016-02-16 18:22] pixelzoom opened #165 "instrument other readouts?"
Now that we have applied `TandemText` to the readout in ConcentrationMeterNode (see https://github.com/phetsims/beers-law-lab/issues/163) ...

For completeness, should the readout in ATDetectorNode be instrumented similarly?  Presumably if someone is interested in what the user sees for the concentration meter, then they will also be interested in the AT detector.

[2016-02-16 18:24] pixelzoom commented on #165
Ditto for the concentration readout (value + units) on the "Beer's Law" screen.

[2016-02-16 18:26] pixelzoom commented on #165
Ditto for the "Solute Amount: X g" readout on the "Concentration" screen, enabled with `?showSoluteAmount`.

[2016-02-16 18:27] pixelzoom commented on #165
The only other readout in this sim is the wavelength on the "Beer's Law" screen, and I believe (but have not confirmed) that both the model and view are constrained to an integer value.  If that's the case, then there's no additional value to instrumenting the readout.

[2016-02-22 17:57] samreid opened #166 "Dropper leaves litter on the screen"
From https://github.com/phetsims/phet-io/issues/352

@phet-steele pointed out that the dropper and concentration meter node leave rendering artifacts when the sim is at certain sizes on iPad (where the size is controlled by the size of the iframe).

Testing with
[code]

I see:

![image](https://cloud.githubusercontent.com/assets/679486/13227194/b041a4e2-d952-11e5-9023-e29a05bf80af.png)

[2016-02-22 18:30] samreid opened #167 "Particle state not synchronized"
When testing the state.html wrapper, I noticed that the shaker particles are not being synchronized today.

[2016-02-22 19:20] samreid commented on #167
Was broken by the cache in the issue linked above. Fixed now.

[2016-02-22 19:20] #167 closed

[2016-02-28 17:08] pixelzoom commented on #166
Is this present in a published version? master?

[2016-02-28 17:14] samreid commented on #166
The test I reported above was in master.  Steele's test was from http://www.colorado.edu/physics/phet/dev/html/beers-law-lab/1.4.0-dev.4/phet-io/protected/wrappers.html

[2016-02-28 17:18] pixelzoom commented on #166
Recommended to try the published version. Then bisect to determine if recent scenery changes are causing this.

[2016-02-29 18:53] pixelzoom commented on #146
Apparently there was a maintenance release (1.3.3) that occurred while I was on vacation the did not consider this issue.  I think we're OK for now since I hadn't merged the fix into the 1.3 branch yet. But in the future, we need to check open issues before publishing.

[2016-02-29 19:02] pixelzoom commented on #166
@phet-steele or @samreid What version of iOS?

[2016-02-29 19:03] samreid commented on #166
I'm sporting 9.2.1

[2016-02-29 19:12] pixelzoom commented on #166
I don't have an iPad handy.  Can someone test with these older production versions, which pre-date 1.4.0-dev.4?

http://www.colorado.edu/physics/phet/dev/html/beers-law-lab/1.3.0/beers-law-lab_en.html
http://www.colorado.edu/physics/phet/dev/html/beers-law-lab/1.3.1/beers-law-lab_en.html
http://www.colorado.edu/physics/phet/dev/html/beers-law-lab/1.3.2/beers-law-lab_en.html

[2016-02-29 19:14] pixelzoom commented on #166
Presumably the AT detector's probe also leaves litter?

[2016-02-29 19:22] pixelzoom commented on #166
High priority to test this on the published version (1.3.3), which will determine the priority of fixing it.

I asked @jonathanolson about this issue on Skype. His reply:

[2/29/16, 12:16:59 PM] Jonathan Olson: There have been a decent amount of Canvas changes in Scenery lately (if it's displayed in Canvas). Not fully sure.
[2/29/16, 12:17:11 PM] Jonathan Olson: Looks like a Scenery-related issue,

[2016-02-29 19:35] samreid commented on #166
Confirmed this issue is still appearing with the HTML given above, using latest master and built version.  There is a tiny bit of litter for the ATDetectorNode, but it is very rare.

I tested with the same HTML as above, but with the the link pointing at http://phet.colorado.edu/sims/html/beers-law-lab/latest/beers-law-lab_en.html which I confirmed in the about dialog, and I'm still seeing the lit

[2016-02-29 19:35] jonathanolson commented on #166
This occurs in the published version.

[2016-02-29 19:37] jonathanolson commented on #166
Looks like both elements are rendering in SVG on the iPad. Workaround may include adding an invisible rectangle at the bottom of the dropper.

Assigning to @ariel-phet for priority.

[2016-02-29 19:39] samreid commented on #166
Also, let's consider a bug report to Apple/WebKit.

[2016-02-29 19:45] pixelzoom commented on #166
I'm still not clear on whether this is a Scenery issue or Apple/WebKit bug.  I have a hard time believing that this got through the most recent RC test (1.3.0-rc.2), but we could determine that by testing as in https://github.com/phetsims/beers-law-lab/issues/166#issuecomment-190339119. And I disagree that it's not a high priority issue.  If this is something that snuck in via the recent Edge/Canv

[2016-02-29 19:51] samreid commented on #166
I also see the same problem in 1.3.0

[2016-02-29 19:56] pixelzoom commented on #166
Thanks, that makes me feel better.  And now that you explained to me that this happens at atypical window size on iPad, I agree that it's low priority -- and should perhaps be moved to a general issue?

[2016-02-29 19:57] ariel-phet commented on #166
@pixelzoom to clarify it looks like this only happens in an embedded version (in an iframe) - mainly the iframe testing is pretty sanity check style.

Agreed low priority and agreed should be moved to a general issue.

Assigning to @jonathanolson to decide where the issue should live.

[2016-02-29 20:00] jonathanolson commented on #166
Tracking in https://github.com/phetsims/scenery/issues/526, closing here.

[2016-02-29 20:00] #166 closed

[2016-03-04 22:19] phet-steele commented on #154
@samreid @pixelzoom, the same thing is occurring with precipitateAmount, causing wacky numbers in the calculations for soluteGrams:

![badintermediate](https://cloud.githubusercontent.com/assets/5863899/13541854/25589a2a-e21c-11e5-94fa-2747dd2800c5.PNG)

I'm only writing this comment to point out there are other DerivedProperties (precipitate amount is a DerivedProperty) that have problems, but if

[2016-03-04 22:27] pixelzoom commented on #154
This is a general issue that will occur with *any* DerivedProperty.  If N dependency changes simultaneously, then the derivation function of a DerivedProperty fires N times, not 1 time.  If N>1, then the DerivedProperty is guaranteed to have invalid intermediate states. @samreid Should this be moved to a more general issue in phet-io?

[2016-03-05 04:42] samreid commented on #154
What about this derived property?

[code]
So it appears there are some N>1 derived properties that are not guaranteed to have invalid intermediate states.

[2016-03-05 04:43] samreid commented on #154
Let's discuss it here a bit more before moving...

[2016-03-07 21:56] pixelzoom commented on #148
Verified by @phet-steele in https://github.com/phetsims/tasks/issues/532#issuecomment-193459903. Closing.

[2016-03-07 21:56] #148 closed

[2016-03-07 21:56] pixelzoom commented on #149
Verified by @phet-steele in phetsims/tasks#532 (comment). Closing.

[2016-03-07 21:56] #149 closed

[2016-03-07 21:56] pixelzoom commented on #150
Verified by @phet-steele in phetsims/tasks#532 (comment). Closing.

[2016-03-07 21:56] #150 closed

[2016-03-07 21:56] pixelzoom commented on #151
Verified by @phet-steele in phetsims/tasks#532 (comment). Closing.

[2016-03-07 21:56] #151 closed

[2016-03-07 21:59] pixelzoom commented on #154
Ah yes, my generalization in https://github.com/phetsims/beers-law-lab/issues/154#issuecomment-192499864 is indeed incorrect.

[2016-04-07 16:20] pixelzoom opened #168 "minor cleanup in ConcentrationModel"
Noted while working on https://github.com/phetsims/phet-io-website/issues/29#issuecomment-206826558.

These constants in ConcentrationModel could use a little cleanup:

[code]

Changes to make:

• Rename `SOLUTE_AMOUNT` to `SOLUTE_AMOUNT_RANGE`.
• Delete `DEFAULT_SOLUTE_AMOUNT` and use `SOLUTE_AMOUNT_RANGE.defaultValue`.
• `MAX_EVAPORATION_RATE` is flagged by IntelliJ IDEA as redundant, replace `M

[2016-04-07 16:23] pixelzoom commented on #168
Done in:
https://github.com/phetsims/beers-law-lab/commit/6436f18a6bfb967b1f51c58f149d3b79fe3a4b16
https://github.com/phetsims/beers-law-lab/commit/b3a88467ab64939e30d440912e6045f86d3cdeac
https://github.com/phetsims/beers-law-lab/commit/d7d52a36c59f5b7fbcd8ea0d4d26c3777afcbf48

Closing.

[2016-04-07 16:23] #168 closed

[2016-05-11 21:02] pixelzoom opened #169 "User request: add solute Sodium Chloride"
Relocating this issue from https://github.com/phetsims/concentration/issues/49.

Specifications in https://github.com/phetsims/concentration/issues/49#issuecomment-215490920

formula: NaCl
stock concentration: 5.50 mol/L
molar mass: 58.443 g/mol
solubility: 6.15 mol/L
3 colors:
min: no color-fully transparent
middle: no color-fully transparent
max: Would be nice to add a bit of opacity here. Can w

[2016-05-12 18:56] pixelzoom commented on #169
@amyh-phet where should NaCl be in this list? The list is currently arranged in rainbow (ROYGBIV) order.

![screenshot_30](https://cloud.githubusercontent.com/assets/3046552/15226671/ee4a417c-1840-11e6-84d9-63db0c5c5d9b.png)

[2016-05-12 18:58] pixelzoom commented on #169
@amyh-phet ... and are we sure that we want it to appear as "Table salt"?  There are other "chloride" solutes in the list.

[2016-05-12 19:00] amyh-phet commented on #169
@pixelzoom  I would suggest we place sodium chloride at the bottom of the list. This would maintain the ROYGBIV order.  I would prefer to call it sodium chloride rather than table salt.

[2016-05-12 19:15] pixelzoom commented on #169
When I asked for colors in https://github.com/phetsims/concentration/issues/49#issuecomment-215234764, I said:

• color for precipitate particles (fully transparent?)

My request was incorrect. For solute color scheme, I need 3 opaque colors, and I need concentrations associated with those 3 colors. For example, for "Copper sulfate", I currently have:

[code]

@amyh-phet Can you please specify 3 c

[2016-05-12 19:46] amyh-phet commented on #169
Fill in the blanks:

min concentration = 0
min color = 224, 255, 255
middle concentration = 3.10
middle color =224, 255, 255
max concentration = 6.15
max color = 224, 255, 255

@pixelzoom  Sodium chloride solutions typically do not look different than water.   I think it might work best to just keep the solution the same as water to emphasize this point.

[2016-05-13 18:32] samreid opened #170 "undefined error when launching in phet-io"
A PhET-iO client reported:

![image](https://cloud.githubusercontent.com/assets/679486/15258059/b005037c-1906-11e6-8011-c7d508e9cb9d.png)

[2016-05-13 18:33] samreid commented on #170
When there are precipitate particles on startup, the tandem must be defined before link's autocallback.

[2016-05-13 18:33] samreid commented on #170
Fixed above, I need to publish a new version.

[2016-05-13 18:39] samreid commented on #170
We'll conclude in https://github.com/phetsims/phet-io/issues/432

[2016-05-13 18:39] #170 closed

[2016-05-15 07:12] samreid opened #171 "branch: phet-io-require"
See https://github.com/phetsims/phet-io/issues/436

This is a temporary branch until the work is completed and merged into master or we identify a reason this strategy cannot work and the branch is abandoned/deleted.

[2016-05-16 23:38] samreid opened #172 "Solute amount cannot be customized on startup"
One of our PhET-iO clients would like to customize the solute amount when the simulation starts up.  Setting this value over query parameters doesn't work because the customized value gets overriden by this code in ConcentrationModel.js:

[code]

Should this be made a `lazyLink` so that the default solute amount can be customized on startup?

[2016-05-17 01:26] samreid opened #173 "branch: phet-io-require-2"
See https://github.com/phetsims/phet-io/issues/436

[2016-05-17 03:39] pixelzoom commented on #171
Please add a short explanation of this branch to this issue. We now have branches named phet-io-require and phet-io-require-2, and the issues that describe them both point to phetsims/phet-io#436. Not a fan of having to read through that issue to figure out what these branches are for, how they differ, etc. Thanks.

[2016-05-17 03:39] pixelzoom commented on #173
Please add a short explanation of this branch to this issue. We now have branches named phet-io-require and phet-io-require-2, and the issues that describe them both point to phetsims/phet-io#436. Not a fan of having to read through that issue to figure out what these branches are for, how they differ, etc. Thanks.

[2016-05-17 04:36] samreid commented on #171
A summary of the differences is in: https://github.com/phetsims/phet-io/issues/439#issuecomment-219617170

[2016-05-17 04:37] samreid commented on #173
I wrote a description here: https://github.com/phetsims/phet-io/issues/439#issuecomment-219617170

[2016-05-18 00:38] pixelzoom commented on #172
Does the customer want to use that same customized amount of solute each time the solute is changed? Or should changing the solute set the amount to zero, regardless of the startup amount?

[2016-05-18 02:32] samreid commented on #172
Let's make it clear solute when changing solution.  If they want to change solutions and keep a fixed solute amount, they can do that with the PhET-iO API.

[2016-05-18 02:38] samreid commented on #171
Branch deleted, closing.

[2016-05-18 02:38] #171 closed

[2016-05-18 17:28] pixelzoom commented on #172
Then yes, in ConcentrationModel:

[code]

[2016-05-18 17:29] pixelzoom commented on #172
Then yes, in ConcentrationModel:

[code]

[2016-05-18 17:30] pixelzoom commented on #172
Also make sure that SOLUTE_AMOUNT_RANGE is documented somewhere in the API.

[2016-05-18 20:59] pixelzoom commented on #169
@amyh-phet here's a dev version for review:
http://www.colorado.edu/physics/phet/dev/html/beers-law-lab/1.4.0-dev.7/beers-law-lab_en.html

If this looks OK, assign it back to me so that I can integrate into a maintenance release for both Beer's Law Lab and Concentration.

[2016-05-18 21:06] amyh-phet commented on #169
Looks good.

[2016-05-18 21:06] pixelzoom commented on #169
@samreid In case you have any need to deploy Beer's Law Lab or Concentration for PhET-IO, please note that this issue is now "in progress".

[2016-05-18 21:08] pixelzoom commented on #169
In https://github.com/phetsims/concentration/issues/49, I asked:

@ariel-phet replied:

@ariel-phet I will defer publication of this until you want to schedule it. But note that this may impact publication of PhET-iO versions of this sim.

[2016-05-18 21:10] pixelzoom commented on #169
@samreid Can you please double check my changes to beers-law-lab-api.js in @https://github.com/phetsims/phet-io/commit/c1ad17010df50c5fa8a2dd0644cca909fe35783e? Nothing seems amiss, but I'm not entirely confident that this is the only change required to add a new TSolute.

[2016-05-18 21:12] samreid commented on #169
That's the only change the API file needs.

[2016-05-18 21:15] pixelzoom commented on #169
@samreid To inform the scheduling of RC testing, can you please cmment on:
• Will having this issue "in progress" would block PhET-iO publication of Beer's Law Lab and Concentration?
• Are there any such publications on the horizon?

[2016-05-19 00:48] samreid commented on #169
Does "in progress" imply inconsistent/broken/unusable?  If so, it could cause problems.

One client requested #172 to be fixed, so that may be deployed soon, though I proposed a workaround they are evaluating.  Also, it was proposed that BLL be tested as part of https://github.com/phetsims/phet-io/issues/440 but we have switched to Capacitor Lab: Basics for that test.

[2016-05-19 00:48] samreid commented on #169
Oh, the other issue is that there is a branch of beers-law-lab that is destined for master.  We'll have to merge changes from this issue.

[2016-05-19 01:07] pixelzoom commented on #169
In this specific case, "in progress" means that there's a new feature (addition of NaCl solute) that must go through RC testing before publication to the PhET website. I don't believe that anything has been broken by adding this feature, but no promises.

If you deploy from master, you're going to pick up this new feature. And you may want to alert the client to the fact that there's a new solute

[2016-05-19 01:08] pixelzoom commented on #169
Should that merge be done before or after RC testing for public release?

[2016-05-19 01:22] samreid commented on #169
None of the phet-io changes are necessary for the next public release of Beer's Law Lab, so I'd recommend creating a release branch when you are ready.  The chipper/joist/tandem/phet-io/beers-law-lab branches aren't merging into master until they pass testing in https://github.com/phetsims/function-builder/issues/42 and https://github.com/phetsims/phet-io/issues/440 and I don't know the timeline f

[2016-05-19 16:48] pixelzoom commented on #146
Assigned to me, since publication is imminent.

[2016-05-23 15:55] pixelzoom commented on #146
For regression testing, please verify that "preset" is displayed on the wavelength slider in the "Beer's Law" screen.  Note this in a comment. Leave this issue assigned to me so that I can make changes to Rosetta/babel when the sim is re-published.

[2016-05-23 15:57] pixelzoom commented on #169
For regression test, please verify that:
• Sodium chloride appears last in the combo box in the Concentration screen
• Sodium chloride does not appear in the Beer's Law screen
• The shaker and dropper on the Concentration screen are labeled 'NaCl'

[2016-05-23 16:28] phet-steele commented on #146
@pixelzoom, preset is certainly there on everything!

[2016-05-23 16:33] pixelzoom commented on #146
Setting label to "in progress" to remind me to do Rosetta/babel followup.

[2016-05-23 18:48] brroberts1231 opened #174 "NaCl stops coming out of shaker before saturation"
Test device: Schrodinger

Operating System: Win 8

Browser: Chrome

Problem description: When the container has the full 1 Liter of water in it, the shaker will sometimes stop dispensing NaCl before the solution becomes saturated. This doesn't happen with any other solute.

Steps to reproduce: Select NaCl, fill the container full with water, and shake until no more comes out of the shaker. Most li

[2016-05-23 18:55] alynne-phet commented on #169
@pixelzoom All of the above points have been verified on the ipads and Mac

[2016-05-23 19:00] ariel-phet commented on #174
@pixelzoom marking as low priorty since obviously function builder takes precedence and this is a feature enhancement and not a bug in the published sim.

[2016-05-23 19:52] alynne-phet commented on #174
@pixelzoom @brroberts1231 Similar issue seen on Ipad 2 (IOS 8.4.1). Shaker completely stopped dispensing NaCl when the solution was not saturated (stopped dispensing at 6.055 mol/L).

[2016-05-23 20:25] phet-steele commented on #154
@pixelzoom the `precipitateAmountProperty` is calculated over and over again while draining a solution. The value fluctuates up and down, causing the visual effect of precipitate appearing and disappearing while draining. The capture rate on this video is lower than I'd like, so it's not as dramatic looking:
![bll01](https://cloud.githubusercontent.com/assets/5863899/15483465/08973b70-20f2-11e6-89

[2016-05-23 20:51] pixelzoom commented on #174
Related to RC test task https://github.com/phetsims/tasks/issues/600.

The issue is that the sim model is only capable of dispensing up to 6 moles of solute from the shaker or beaker. And according to the specification provided by @amyh-phet  in https://github.com/phetsims/beers-law-lab/issues/169#issuecomment-218865254, saturation occurs at the maximum concentration of 6.15 moles.  So within the

[2016-05-23 20:54] pixelzoom commented on #169
Additional thoughts...

(1) We should confirm that 6.15 moles is indeed the saturation point for NaCl. When gathering specifications, I'm not sure if it was clear that "max concentration" was the concentration at which precipitation occurs.

(2) I could investigate increasing the amount of solute in the shaker and dropper, but I'm not sure what other problems that might cause.

[2016-05-23 20:57] pixelzoom commented on #174
Additional thoughts...

(1) We should confirm that 6.15 moles is indeed the saturation point for NaCl. When gathering specifications, I'm not sure if it was clear that "max concentration" was the concentration at which precipitation occurs.

(2) I could investigate increasing the amount of solute in the shaker and dropper, but I'm not sure what other problems that might cause. (Note to self: see S

[2016-05-23 21:01] pixelzoom commented on #174
@brroberts1231 For future reference...

(1) When creating an issue related to an RC test task, please indicate the task issue(s) in your comments. That will automatically link the issue to the test task issue. (I've linked this issue to the test tasks above).

(2) When verifying a specific GitHub issue, the usual procedure is to report problems in the original issue (https://github.com/phetsims/be

[2016-05-23 21:02] pixelzoom commented on #174
This issue is related to new feature #169 (add solute Sodium Chloride).

[2016-05-23 21:03] pixelzoom commented on #174
@brroberts1231 Ah sorry, I see that you did indeed link to the task issues below the troubleshooting info in the first comment.

[2016-05-23 21:04] pixelzoom commented on #169
Reported by @brroberts1231 in https://github.com/phetsims/beers-law-lab/issues/169, moving here:

Test device: Schrodinger

Operating System: Win 8

Browser: Chrome

Problem description: When the container has the full 1 Liter of water in it, the shaker will sometimes stop dispensing NaCl before the solution becomes saturated. This doesn't happen with any other solute.

Steps to reproduce: Select

[2016-05-23 21:04] pixelzoom commented on #169
@ariel-phet said:

[2016-05-23 21:04] pixelzoom commented on #169
@alynne-phet said:

[2016-05-23 21:05] pixelzoom commented on #169
The issue is that the sim model is only capable of dispensing up to 6 moles of solute from the shaker or beaker. And according to the specification provided by @amyh-phet in #169 (comment), saturation occurs at the maximum concentration of 6.15 moles. So within the limitations of the current model, it's impossible to reach saturation before running out of solute in the shaker or dropper.

Some tho

[2016-05-23 21:06] pixelzoom commented on #174
Info in this issue moved to https://github.com/phetsims/beers-law-lab/issues/169, closing.

[2016-05-23 21:06] #174 closed

[2016-05-23 21:17] pixelzoom commented on #169
A couple of observations....

(1) With less solution in the beaker, NaCl will precipitate.  So I don't think we necessarily have a problem here.

(2) Even with a full 1L, I'm observing some precipitation.  Which is odd, since the max amount of solute should be 6 mol.  That may be a different problem.

[2016-05-23 21:33] phet-steele commented on #169
Different saturation procedures yield different results, regarding amount of visible precipitate:
1. Drain beaker completely.
2. Exhaust the NaCl shaker.
3. Fill solvent to 1L.
![trial1](https://cloud.githubusercontent.com/assets/5863899/15485239/6c8c1dd6-20fb-11e6-9f04-b216e1fa7414.PNG)

1. Fill beaker completely.
2. Exhaust NaCl shaker.
![trial2](https://cloud.githubusercontent.com/assets/586389

[2016-05-24 16:08] pixelzoom opened #175 "precipitate should not change while draining solution"
This issue was reported by @phet-steele in https://github.com/phetsims/beers-law-lab/issues/154#issuecomment-221085463.

@pixelzoom the `precipitateAmountProperty` is calculated over and over again while draining a solution. The value fluctuates up and down, causing the visual effect of precipitate appearing and disappearing while draining. The capture rate on this video is lower than I'd like, so

[2016-05-24 16:12] pixelzoom commented on #154
@phet-steele The issue you've reported about is different than the "intermediate value" issue.  First of all, it's visible to the user, while the intermediate values are not.   And it's not really an intermediate value - the value of precipitateAmount does need to change when the volume changes.  The precipitate particles are changing because precipitateAmount changes very slightly due to Javascri

[2016-05-24 16:20] pixelzoom commented on #175
This issue sounds very familiar, like something I fixed long ago.  And in fact it does not occur in release 1.2.0 (http://www.colorado.edu/physics/phet/dev/html/beers-law-lab/1.2.0/beers-law-lab_en.html).  Is it possible that this may have been (re)introduced by PhET-iO instrumentation?

[2016-05-24 20:34] amyh-phet commented on #169
@pixelzoom  The saturation point for sodium chloride is indeed 6.15 mol/L.  I used the same CRC Handbook as we used for saturation points of the other solutes in the simulation. Concentrations above 6.15 mol/L should result in saturation of NaCl.

[2016-05-24 21:19] pixelzoom opened #176 "amount of solute dispensed from shaker exceeds maximum"
The amount of solute dispensed by the shaker should be limited by ConcentrationModel line 33:

```var SOLUTE_AMOUNT_RANGE = new Range( 0, 6, 0 ); // moles```

But in https://github.com/phetsims/beers-law-lab/issues/169#issuecomment-221095734 and elsewhere, it was reported (and can be demonstrated) that the concentration in 1L exceeds 6 moles.  So there's something amiss.

[2016-05-24 21:21] pixelzoom commented on #176
The problem is at ShakerParticles line 102:

[code]

This should be limited to SOLUTE_AMOUNT_RANGE, something like this:

[code]

[2016-05-24 21:26] pixelzoom commented on #169
The amount of solute dispensed by the shaker is exceeding 6 moles, and that shouldn't happen. Tracking that issue in https://github.com/phetsims/beers-law-lab/issues/176.

[2016-05-24 21:31] pixelzoom commented on #175
The issue I was thinking of is https://github.com/phetsims/concentration/issues/1 (Flickering particles when solution from dropper is added to a "Saturated!" beaker).

[2016-05-27 16:52] samreid commented on #173
Branch merged to master and deleted, closing.

[2016-05-27 16:52] #173 closed

[2016-06-05 17:30] pixelzoom opened #177 "increase the maximum amount of solute"
The shaker currently contains 6 moles of solute, and stops dispensing solute after 6 moles have been dispensed. NaCl saturates at 6.15 mol/L.  So if you have 1L in the beaker, you won't see saturation or precipitate.   If you want to see precipitate, you need to decrease the amount of water in the beaker.

This was reported as a bug in https://github.com/phetsims/beers-law-lab/issues/169#issuecomm

[2016-06-05 17:34] pixelzoom commented on #155
@sperez8 Is there anything else that needs to be done for this issue, or can it be closed?

[2016-06-05 17:38] pixelzoom opened #178 "different saturation procedures yield different results"
Reported in https://github.com/phetsims/beers-law-lab/issues/169#issuecomment-221102903 by @phet-steele:

Different saturation procedures yield different results, regarding amount of visible precipitate:
1. Drain beaker completely.
2. Exhaust the NaCl shaker.
3. Fill solvent to 1L.
![trial1](https://cloud.githubusercontent.com/assets/5863899/15485239/6c8c1dd6-20fb-11e6-9f04-b216e1fa7414.PNG)

1. F

[2016-06-05 17:39] pixelzoom commented on #178
This problem is not new to the 1.4 release branch.  Once I've identified the cause, we can decide whether to include a fix in 1.4.

[2016-06-05 17:47] pixelzoom commented on #178
It's not specific to NaCl.  Here's an example with Drink Mix.

In this screenshot, the beaker was drained completely, the shaker was fully dispensed, then the beaker was filled.

![screenshot_05](https://cloud.githubusercontent.com/assets/3046552/15807154/23efd71c-2b13-11e6-9ee3-4a4dbe286fd7.png)

In this screenshot, the beaker was filled, then the shaker was fully dispensed. There's less precipit

[2016-06-05 17:47] pixelzoom commented on #178
This might be related to https://github.com/phetsims/beers-law-lab/issues/176, where the amount of solute exceeds the maximum in some cases.