[2016-06-05 18:00] pixelzoom commented on #176
Fixed in master and 1.4 branches, will be verified in 1.4.0-rc.2.

[2016-06-05 18:04] pixelzoom commented on #178
This was indeed caused by #176.  After fixing that issue, the amount of precipitate is the same in both scenarios.  So nothing to do here, closing.

[2016-06-05 18:04] #178 closed

[2016-06-05 18:07] pixelzoom commented on #177
I don't recall why 6 moles was chosen as the maximum amount of solute. But I suspect that it was because "Drink Mix" had the highest maximum concentration, at 5.96 mol/L, and the beaker can be filled to a max of 1L.

[2016-06-05 18:10] pixelzoom commented on #177
I tried setting the max solute amount to 7 moles, and I didn't see any problems.   So if you don't mind the potential to have a lot more precipitate, then it would probably be a safe change, and easy to patch into 1.4.

[2016-06-05 18:21] pixelzoom commented on #169
Moved new issues to #174, #177, #178.

No issues remaining that are specific to NaCl.  Closing.

[2016-06-05 18:22] pixelzoom commented on #169
Actually... I'll leave this open and labeled "in progress" until 1.4.0 is published, in case there's any other need to publish (eg, PhET-iO).

[2016-06-05 18:35] pixelzoom commented on #175
Now I'm not so sure that I'm reproducing this reliability, so it may be something that was present in 1.2.3.  I'm also wondering it's demonstrable for other solutes, or just for "Potassium permanganate".

[2016-06-05 18:38] pixelzoom commented on #175
@phet-steele, a few questions....

(1) Can you reproduce the problem with either of these older versions?
http://www.colorado.edu/physics/phet/dev/html/beers-law-lab/1.2.3/
http://www.colorado.edu/physics/phet/dev/html/beers-law-lab/1.3.0/beers-law-lab_en.html

(2) Is the problem reproducible with other solutes? just with "Potassium permanganate"? or more noticeable with "Potassium permanganate"?

[2016-06-05 18:47] phet-steele commented on #175
1. 1.2.3 NO, 1.3.0 YES
2. Doable on all, easiest for me to duplicate on KMnO4 just because it's quicker (low saturation point)
3. Win 10 chrome and OSX 10.11.5 Chrome

[2016-06-05 23:30] ariel-phet commented on #177
@pixelzoom seems like a lot more precipitate is not a problem in my opinion.

I will defer to @amyh-phet for this particular decision.

[2016-06-06 13:25] amyh-phet commented on #177
@pixelzoom   I don't see an issue with increasing the max solute amount to 7 moles.

[2016-06-06 15:17] sperez8 commented on #155
Reading over the discussion again, I realize I have all the info I need to create the parser. Now all I need is data... ;)
Thanks!

[2016-06-06 15:21] samreid commented on #155
@sperez8 do you have a link to a version of the simulation that outputs data?  You could generate your own data sets and work on the parser before collecting the student data.

[2016-06-06 16:33] pixelzoom commented on #175
@ariel-phet Should this be addressed for 1.4.0 release?  It's not immediately apparent why this problem reappeared in 1.3.x, but it was present in 1.3.x, so is not technically a new problem.  If this issue needs to be addressed for 1.4.0, then that will push 1.4.0 release out into August (given the other things on my plate). If this issue is deferred, then 1.4.0 release can likely happen sometime

[2016-06-06 16:40] pixelzoom commented on #176
@phet-steele please verify in this dev version:
http://www.colorado.edu/physics/phet/dev/html/beers-law-lab/1.4.0-dev.8/beers-law-lab_en.html

The easiest way to verify is:
1. start sim
2. go to Concentration screen
3. select "Sodium chloride" solute
4. fill beaker to 1L
5. put concentration probe in solution
6. shake the shaker, until it's empty (which dispenses 6 moles)
7. concentration meter sh

[2016-06-06 16:40] ariel-phet commented on #175
Since not a new problem (and since now summer), I concur to defer, but lets plan on patching after function builder goals are met.

[2016-06-06 17:03] #155 closed

[2016-06-06 17:37] phet-steele commented on #176
@pixelzoom the solute is currently stopping at 6 moles as intended. However, there is a visual excess of solute dispensed, and in the words of of Chris on skype:

[6/6/16, 11:32:48 AM] Chris Malley: The issue is that the max is computed based on the amount of solute that has hit the surface of the solution, not the amount of solute actually coming out of the shaker.
[6/6/16, 11:33:17 AM] Chris Mal

[2016-06-06 17:49] pixelzoom commented on #176
The current fix is better than it was, but yes, there's a small amount of dispensed solute that simply disappears.  Fixing this will be a major change to the model.  If you want this for 1.4 release, then we start over with that release.  My recommendation is to deploy 1.4 with the current fix, then (possibly) address more completely in a future 1.4 maintenance release or (more likely) a 1.5 relea

[2016-06-06 21:03] ariel-phet commented on #176
@pixelzoom - agreed with your recommendation

[2016-06-08 20:29] pixelzoom opened #179 "shaker dispenses more than maximum amount of solute"
In https://github.com/phetsims/beers-law-lab/issues/176, it was noted that the shaker dispenses slightly more than BLLConstants.SOLUTE_AMOUNT_RANGE.max.  That extra amount simply disappears, but could be confusing to observe.

As noted in https://github.com/phetsims/beers-law-lab/issues/176#issuecomment-224031009:

Fixing this will require a fairly significant model change: giving the Shaker (and

[2016-06-08 20:30] pixelzoom commented on #176
Remaining issue moved to https://github.com/phetsims/beers-law-lab/issues/179.  Closing.

[2016-06-08 20:31] pixelzoom commented on #176
Reopened until verified in next RC.

[2016-06-08 21:04] pixelzoom commented on #177
@amyh-phet Do you favor increasing the max to 7, versus leaving it at 6 and having a "teachable moment" (with something in teacher tips)? See options in https://github.com/phetsims/beers-law-lab/issues/177#issue-158564921 - I need someone to pick one.

[2016-06-14 21:15] amyh-phet commented on #177
@pixelzoom  I'm assuming increasing the max to 7 would be for all solutes.   If this is the case, I think I would favor going to a max of 7.  I think there is still a teachable moment here and we don't risk having the sim seem broken (or accidentally communicating that NaCl never saturates).

[2016-06-16 16:16] pixelzoom commented on #177
Max solute amount increased to 7 moles in master and 1.4 branches.

[2016-06-16 16:21] pixelzoom commented on #177
Steps to verify:
1. Start sim
2. Got to Concentration screen
3. Fill beaker to 1L
4. Select solute "Sodium chloride"
5. Put concentration probe in solution
6. Shake shaker until empty
7. Verify that concentration meter reads 6.150 mol/L
8. Verify that there is precipitate in the beaker

[2016-06-16 16:22] pixelzoom commented on #176
Already verified in https://github.com/phetsims/beers-law-lab/issues/176#issuecomment-224031009

[2016-06-16 19:44] brroberts1231 commented on #177
Verified on OS X 10.10.5 Safari, and Win 7 Chrome, looks good.
 for phetsims/tasks#622 and phetsims/tasks#624

[2016-06-16 19:48] pixelzoom commented on #177
Thanks @brroberts1231.

[2016-06-20 14:35] #176 closed

[2016-06-20 14:35] #177 closed

[2016-06-20 14:35] #169 closed

[2016-06-20 14:36] pixelzoom commented on #169
Published in Beer's Law Lab 1.4.0 and Concentration 1.3.0.

[2016-06-20 14:36] pixelzoom commented on #177
Published in Beer's Law Lab 1.4.0 and Concentration 1.3.0.

[2016-06-20 14:36] pixelzoom commented on #176
Published in Beer's Law Lab 1.4.0 and Concentration 1.3.0.

[2016-06-20 14:37] pixelzoom commented on #146
Published in Beer's Law Lab 1.4.0 and Concentration 1.3.0.

[2016-06-30 19:10] pixelzoom commented on #146
Done. Checked in Rosetta with @jbphet after publishing.

[2016-06-30 19:10] #146 closed

[2016-06-30 19:11] pixelzoom commented on #146
Babel was updated in https://github.com/phetsims/babel/commit/ba33fbfb2f3f3d997bc69d6b5ff89954d0522df2.

[2016-07-20 22:32] samreid opened #180 "branch: phet-io-types"
See https://github.com/phetsims/phet-io/issues/489

I emailed the developer list:

PhET Developers,

I'm about to create branches in 6 repos to support the work-in-progress for moving phet-io types to simulations as part of https://github.com/phetsims/phet-io/issues/489

This approach seems feasible, so please keep in mind that changes to these repos will eventually need to merge.

Currently the r

[2016-07-21 21:11] samreid commented on #180
Merged to master and deleted branch, see https://github.com/phetsims/phet-io/issues/498

Closing.

[2016-07-21 21:11] #180 closed

[2016-07-21 22:25] samreid opened #181 "Review new instrumentation"
Concentration has been re-instrumented for phet-io using the new paradigm recommended in https://github.com/phetsims/phet-io/issues/489 in which the TType classes are specified in the simulation itself.

The Beer's Law screen has not yet been re-instrumented.  That work will be completed in https://github.com/phetsims/phet-io/issues/497

It would be great if @pixelzoom has time to review the chang

[2016-07-24 17:26] samreid commented on #181
As part of this, could you also weigh in on https://github.com/phetsims/phet-io/issues/517 ?

[2016-07-24 20:45] samreid commented on #181
I discovered that the built phet-io brand is launching but the phet brand is not, can you please hold off on this review until I figure that out?  It is in https://github.com/phetsims/phet-io/issues/518

[2016-07-24 21:11] samreid commented on #181
OK the launch problem is fixed, details are in https://github.com/phetsims/phet-io/issues/518

Ready for review again.

[2016-07-26 15:12] pixelzoom commented on #181
I'm starting the review now, will assign back to @samreid when done.

[2016-07-26 15:15] samreid commented on #181
Thanks @pixelzoom, please contact me on Skype if something comes up that would benefit from voice discussion.

[2016-07-26 15:17] pixelzoom commented on #181
(1) Not all TNumbers will have units

When `units` was added as a required parameter to TNumber, I wondered about why it was required, since not all numbers have units.  I now see what looks like a workaround for that in ATDetector.  Relevant code snippets:

TNumber, see line 59:

```var TNumber = function( units, options )```

ATDetector, line 72:

```type: TNumber && TNumber( 'unitless' )```

Re

[2016-07-26 15:19] samreid commented on #181
That was completed in https://github.com/phetsims/phet-io/issues/497

[2016-07-26 15:31] pixelzoom commented on #181
(2) Short-circuiting of addInstance

This pattern (which seems to be ubiquitous) feels very awkward. E.g. ATDetectorNode, line 172:

```TNode && tandem.addInstance( this, TNode );```

We may have discussed this previously... But why can't `addInstance` simply be a no-op when `phet.chipper.brand !== 'phet-io' && !type` ?

[2016-07-26 15:31] samreid commented on #181
I see 161 occurrences of of `TNumber '`, 52 of which are 'unitless'.  My and @andrewadare's thinking was that making this required will ensure that developers have to consider the units instead of accidentally omitting them.  When we set out we weren't really sure how frequent unitless vs unit would occur, we could use this 52/161 as an argument about whether they should be optional or required.

[2016-07-26 15:34] samreid commented on #181
@pixelzoom what are your thoughts on creating a separate issue for each of your review comments that requires discussion, so that they are threaded properly and easy to search in the future?  For instance, you could create phet-io issues.

[2016-07-26 15:37] pixelzoom commented on #181
I think the 32% of existing usages being 'unitless' is a pretty good argument for making it an option. And if you were going to make it required, it would be a good idea to create a string constant, and make it a noun (e.g. 'none') instead of an adjective.

[2016-07-26 15:39] pixelzoom commented on #181
OK, will do (retroactively).

[2016-07-26 15:40] pixelzoom opened #182 "Not all TNumbers will have units"
Related to review of https://github.com/phetsims/beers-law-lab/issues/181.

When `units` was added as a required parameter to TNumber, I wondered about why it was required, since not all numbers have units.  I now see what looks like a workaround for that in ATDetector.  Relevant code snippets:

TNumber, see line 59:

```var TNumber = function( units, options )```

ATDetector, line 72:

```type: T

[2016-07-26 15:41] pixelzoom commented on #182
@samreid said:

I see 161 occurrences of of `TNumber '`, 52 of which are 'unitless'.  My and @andrewadare's thinking was that making this required will ensure that developers have to consider the units instead of accidentally omitting them.  When we set out we weren't really sure how frequent unitless vs unit would occur, we could use this 52/161 as an argument about whether they should be optiona

[2016-07-26 15:41] pixelzoom commented on #182
I think the 32% of existing usages being 'unitless' is a pretty good argument for making it an option. And if you were going to make it required, it would be a good idea to create a string constant, and make it a noun (e.g. 'none') instead of an adjective.

[2016-07-26 15:42] samreid commented on #181
Regarding (2) from https://github.com/phetsims/beers-law-lab/issues/181#issuecomment-235305781

I think the change would be to make `addInstance` a no-op when `phet.chipper.brand !== 'phet-io'.  If `phet.chipper.brand === 'phet-io', then we would want to assert that the type exists, so it is not inadvertently omitted.  I'm OK with pursuing that strategy, but we should discuss this corner case firs

[2016-07-26 15:42] pixelzoom opened #183 "Short-circuiting of `addInstance`"
Related to review of #181.

This pattern (which seems to be ubiquitous) feels very awkward, and different from how we typically use `&&` to short-circuit something. E.g. ATDetectorNode, line 172:

```TNode && tandem.addInstance( this, TNode );```

We may have discussed this previously... But why can't `addInstance` simply be a no-op when `phet.chipper.brand !== 'phet-io' && !type` ?

[2016-07-26 15:52] pixelzoom commented on #182
Presumably 'unitless' is showing up in the data stream. Is there any value to that?

[2016-07-26 16:00] pixelzoom opened #184 "method of specifying T type"
Related to code review of #181.

The most prevalent change made throughout #181 was to add a `type` option value, which indicates the type of a Property value.  For example, the bits relevant to PhET-iO in ATDetector were changed from:

[code]

to:

[code]

And from:

[code]

to:

[code]

This makes me wonder...  Instead of adding this additional `type` option, did you consider adding a `type` par

[2016-07-26 16:06] pixelzoom opened #185 "is short-circuiting of T types necessary?"
Related to code review of #181.

The ifphetio plugin currently returns `null` if PhET-iO is not enabled. And that necessitates having to write code with short-circuiting.

For example:

[code]

... requires this type of short-circuiting where TNumber is used:

[code]

Instead of returning `null`, how about returning `function() {}` (a no-op).  Then this short-circuiting would be unnecessary.

[2016-07-26 16:10] pixelzoom commented on #184
Specifying the T type in `createInstance` might also provide some opportunity for type checking in `addInstance`.

[2016-07-26 16:15] samreid commented on #184
Did you mean `createTandem`?

[2016-07-26 16:17] andrewadare commented on #182
My vote is to stay with our original thinking on this. In fact, the problem here may not be that numbers are "unitless" too often because they're really unitless, but because we're not descriptive/diligent enough in assigning units.

A few selected examples:
[code]

[2016-07-26 16:19] pixelzoom opened #186 "convention for TNumber units?"
Related to code review #181.

What is the convention for specifying units for TNumber?  In beers-law-lab, it looks like the convention is to use full names for the units, e.g. in Evaporator:

[code]

Since PhET sims typically display SI symbols (e.g. "L/sec") to the user, I'm wondering

(1) Why the data stream is not using the same units displayed to the user?

(2) Is this convention followed in o

[2016-07-26 16:21] andrewadare commented on #182
My previous comment suggests a broadening of the definition of measurements from the original tightly-specified SI quantities. For the sake of conveying useful information, I view this as allowable, if we're judicious about it. There are questions about how make things consistent and standard if we do this. We currently have a very rigorous whitelist of SI units to check against, so this would nee

[2016-07-26 16:22] pixelzoom commented on #186
Here's another example from beers-law-lab.   This is what is displayed to the user:

![screenshot_65](https://cloud.githubusercontent.com/assets/3046552/17146168/9ab55c80-531a-11e6-83ef-94a5e2315d31.png)

This is what will appear in the PhET-iO data stream (ConcentrationSolution, line 75):

[code]

Why is the user shown "mol/L", while the data stream uses "moles/liter"?

[2016-07-26 16:23] pixelzoom commented on #184
Yes, `createTandem`.

[2016-07-26 16:25] pixelzoom commented on #182
Broadening the definition is fine if it creates useful information in the data stream. Not OK if it creates additional work for the developer for no clear purpose.

[2016-07-26 16:27] pixelzoom commented on #182
For example, having to specify this:

[code]

... so that the data stream reports:

Is (imo) busy work that puts redundant information in the data stream.

[2016-07-26 16:30] pixelzoom commented on #184
... and if T type was specified in `createTandem`, then perhaps it wouldn't need to be also specified in `addInstance`.

[2016-07-26 16:32] andrewadare commented on #182
Yeah, that looks redundant to a human, because I'm good at interpreting the key as a unit in this case. Having that extra word could be pretty useful for automated data analysis software.

I just don't view it as such a huge burden to type one extra word, but I guess it could add up over time.

[2016-07-26 16:45] pixelzoom opened #187 "Were addInstance calls intentionally removed?"
Related to code review #181.

In EvaporationControl and SoluteControls, the call to `addInstance` that previously appeared at the end of the constructor has been removed.  Was that intentional?

[2016-07-26 16:57] pixelzoom opened #188 "method of loading the PhET-iO API file"
Related to code review #181.

It looks like the PhET-iO API must now be loaded in main.js, using an assignment-less `require` call, like this in beers-law-lab-main.js:

[code]

Did you consider other ways of doing this? Some alternatives:

(1) If the convention is to for the API file and repository to have the same name, could loading the API be handled automatically in Sim.js?  E.g.:

[code]

(2)

[2016-07-26 16:58] pixelzoom commented on #188
Ah... But I guess (1) and (2) wouldn't work because Screens are typically instantiated before the Sim.  Eg in beers-law-lab-main.js:

[code]

[2016-07-26 17:06] pixelzoom commented on #181
Review completed. Issues that I created are linked immediate above.

[2016-07-26 17:07] pixelzoom commented on #188
(3) Load the API file on demand (using `phet.joist.packageJSON.name`) the first time that a tandem call is made.

[2016-07-26 17:10] pixelzoom commented on #188
(4) Encapsulate the method of loading the API in phet-io.  E.g. in main.js:

[code]

or

[code]

[2016-07-26 17:11] pixelzoom commented on #188
(4) Encapsulate the method of loading the API in phet-io.  E.g. in main.js:

[code]

or

[code]

This approach would be useful if there's other initialization that's required in the future.

[2016-07-26 17:56] samreid commented on #188
Are you reviewing a stale version of beers-law-lab-main.js?  Master looks like this and doesn't show the statement you are referring to.
https://github.com/phetsims/beers-law-lab/blob/master/js/beers-law-lab-main.js

It was removed when we re-instrumented using the "types specified by the sim" paradigm.

[2016-07-26 18:01] samreid commented on #181
Thanks for your thoughtful recommendations, I think everything is tracked in other issues and this can be closed.

[2016-07-26 18:01] #181 closed

[2016-07-26 18:04] pixelzoom commented on #188
I was comparing master to 58e0a444176e1562e9845a6b0d2573a5add7df6b, as recommended in https://github.com/phetsims/beers-law-lab/issues/181#issue-166931862.  Looks like I was confused and thought this was something that was added, when in fact it was removed.  Closing.

[2016-07-26 18:04] #188 closed

[2016-07-26 18:08] pixelzoom commented on #182
In https://github.com/phetsims/beers-law-lab/issues/182#issuecomment-235309213, @samreid said:

It seems like this same concern would apply to `options.type`, which currently defaults to `'FloatingPoint'`.  Why is that not a required constructor parameter?

[2016-07-26 18:08] samreid commented on #185
Bumping priority to put on my radar for investigation and testing.

[2016-07-26 18:18] andrewadare commented on #182
I guess some of the reasoning behind `FloatingPoint` is because we're working in JavaScript. Admittedly, that may not be such a strong reason.

Perhaps if the unit labels were to be given a less opinionated default value than 'unitless', some trouble could be avoided. Possibilities include 'NA', 'unassigned', '-', 'number', or something to that effect. Something easily searchable in a log file wou

[2016-07-26 18:21] samreid commented on #182
On the other hand, might required units lead to developers sometimes putting in the wrong units, just to "get things working"?  Whether or not units are required in the API, we may need a review step to check on the units.

[2016-07-26 18:24] andrewadare commented on #182
That could be added to a code review, but it's hard to check what you can't see. (Yes, it could be seen in a data stream, but that starts getting painful pretty quickly).

Honestly, I don't care all that much about this, but at least I'd push for defaulting to 'number' or something like that.

[2016-07-26 18:48] pixelzoom commented on #182
If units continues to be a required constructor parameter, then what are your feelings about my comment in https://github.com/phetsims/beers-law-lab/issues/182#issuecomment-235309267?

...and related issue https://github.com/phetsims/beers-law-lab/issues/186#issue-167650240.

I don't think that repeating the literal 'unitless' (or "meters" for that matter) is particularly desirable.

[2016-07-26 18:50] andrewadare commented on #186
One big reason we went with spelling out the units is for validation. They can be checked straightforwardly (is that a word?) against the array in TNumber.js.

This provides uniformity and consistency, but as discussed in #182, it also has downsides.

[2016-07-26 18:54] pixelzoom commented on #182
In https://github.com/phetsims/beers-law-lab/issues/182#issuecomment-235358786, @samreid wrote:

Indeed, I suspect we'll see a lot of `TNumber( '' )` or (more hopefully) `TNumber( 'TODO' )`.

[2016-07-26 18:57] pixelzoom commented on #186
I don't follow. Why couldn't the array in TNumber correspond to what the user typically sees?

[2016-07-26 19:01] andrewadare commented on #182
@pixelzoom using a string constant, and referencing it like `TNumber.NO_UNITS` or something seems less preferable to using a benign default like 'none', 'number', or 'quantity'.

Agreed that making it a noun is better than an adjective, and I do agree that repeating 'unitless' all over the place is silly.

So maybe we're converging here.

[2016-07-26 19:17] samreid commented on #182
We could write a script or query parameter that outputs all of the TNumbers and their units for manual review.

[2016-07-26 19:18] samreid commented on #184
Tagging high priority so it will show up on my radar (since this issue is not in phet-io repo).

[2016-07-26 19:20] andrewadare commented on #186
It doesn't correspond lexicographically to what the user sees, but it does in meaning. When working on this with @samreid, I asked similar questions.

If I recall correctly, his thinking was that spelled-out units are easer to search for (e.g. in logs and in code) and they are more reliable to validate. There was also the hope to avoid annoyances with capitalization of metric prefixes, unit names,

[2016-07-26 19:28] samreid commented on #186
What the user sees depends on the sim design and in other languages may be translated to something else.  The simulation isn't always modeled in view units, sometimes different units are used for the model.  To make the data stream easy for researchers, and 3rd party groups easy to understand and work with, we recommended using the full text for the units.  And if everything was abbreviated, someo

[2016-07-26 19:29] pixelzoom commented on #186
I don't understand this at all.  How is "moles/liter" any easier to search for than "mol/L". They are both unique strings.

Again, no comprendo. Validation is string comparison. "moles/liter"  and "mol/L" are both strings. What's the difference?

[2016-07-26 19:31] pixelzoom commented on #186
Don't understand this either.  The researchers are presumably familiar with science. SI abbreviations are standardized.  And if SI abbreviation are so "confusing", then why is is that what PhET sims consistently display to students?

[2016-07-26 19:37] pixelzoom commented on #186
The other point is that (as a developer) I consistently document things throughout my code using the units that are displayed to the user.  Now I'm are going to have to remember to spell it out for PhET-iO.

And we're all going to have to remember whether it's 'liters' or 'litres". Which, btw, is currently *wrong* in TNumber. The SI spelling is 'litres', not 'liters', see https://en.wikipedia.org/

[2016-07-26 19:41] pixelzoom commented on #186
Tracking 'litres' vs 'liters' in https://github.com/phetsims/phet-io/issues/529

[2016-07-26 19:54] pixelzoom commented on #186
In https://github.com/phetsims/phet-io/issues/529#issuecomment-235382203, @samreid pointed out that there is disagreement about whether 'liters' or 'litres' is the official full name.  Just so that my point isn't missed... There is obvious disagreement about whether 'liters' or 'litres' is correct. There appears to be no such disagreement about 'L'. And supporting both 'liters' and 'litres' defeat

[2016-07-26 19:54] samreid commented on #186
I'm comfortable switching to abbreviations for the PhET-iO metadata.  Since there is a 1:1 mapping from abbreviations to actual units, there shouldn't be a problem (and if we wanted to add tools that expand the abbreviations, it would be straightforward).  I like the argument that it's what we use in the simulations.

Sound OK @andrewadare?

[2016-07-26 20:32] andrewadare commented on #186
I don't object to abbreviating, I can see good reasons for it. But I also don't think the original rationale was nonsensical either.

A string like "mol/L" is easy to find, but if the units are just liters, meters, or pretty much anything that abbreviates down to one or two characters, things get tougher.

Same response as above. Also, I didn't say it can't be done.

Let's just abbreviate as is do

[2016-07-26 20:37] pixelzoom commented on #186
I see, you're talking about searching for the character `L` (for example) versus `liters`. I would typically search for `'L'`, with quotes around it.  But I get it... long strings, more likely to be unique and fewer false positives.

[2016-07-26 20:55] samreid commented on #186
OK so we are agreed to abbreviate units.  Let's move to this comment from @pixelzoom:

Let me show the alternatives as I understand them:

[code]

I'm not strongly attached to one of these options, but slightly prefer how 'mol/L' looks exactly like its value.  It seems with either approach we would need a step that checks whether the units are valid, if TNumber.MOL_L is of type string.

[2016-07-26 21:11] pixelzoom commented on #186
I'm fine with options 1 (string literals at the call sites). But if we want to change any units (like we're doing now), it will require a bit of work, and searching for (e.g.) 'mol/L' is likely to result in false positives.

If we did option 2, is TNumber the appropriate place for this?

[2016-07-26 21:13] pixelzoom commented on #186
With option 1, we could presumably reduce false positives by searching for "TNumber( 'mol/L'", assuming that all code formatting follows PhET style.  Or we could use regular expressions if there are concerns about that.

If units were an option to TNumber (see #182), we could search for "units: 'mol/L'", with the same caveat about code formatting.

[2016-07-27 01:10] samreid commented on #186
I've moved the "abbreviate units" issue to phet-io#530 (linked above)

[2016-07-27 03:13] samreid commented on #185
Let's track this in phet-io, see above issue, closing.

[2016-07-27 03:13] #185 closed

[2016-07-27 03:19] samreid commented on #187
Yes, they both extend Panel, which recently got its own addInstance, so they are still instrumented.

[2016-07-27 03:20] samreid commented on #187
Perhaps I'll leave this issue open to guarantee @pixelzoom has a chance to see and discuss, if necessary.

[2016-07-27 04:22] samreid commented on #184
Specifying the type and tandem together seems natural because the entire point of tandem is to maintain a registry of all of the phet-io instances and their types.

However, I fear this would lead to a great deal of duplication in how the types are specified.  For instance, if I am creating 4 nodes, the code may look something like this:

[code]

In fact, after TandemNode was introduced, it felt l

[2016-07-27 14:42] pixelzoom commented on #184
If you're worried about duplication, then that seems like an additional argument for specifying the T type once in the `createTandem` call, rather than in every `addInstance` call for the tandem.

[2016-07-27 14:44] pixelzoom commented on #184
On the other hand... Are tandems intended to be homogenous? (Thinking ahead to a collection of heterogeneous objects.) If not, then perhaps the tandem should know nothing about the T type, and the T type should be associated with each instance added to the tandem.  That would argue for leaving the T type arg in `addInstance`.

[2016-07-27 15:09] pixelzoom commented on #187
If that's the case, then perhaps there's an error here. No tandem is currently passed in the options to the supertype (Panel) constructor in either subtype.

[2016-07-27 19:42] samreid commented on #184
I'm not understanding your thinking here.  In the code block in https://github.com/phetsims/beers-law-lab/issues/184#issuecomment-235480445 the type `TMyNode` must be specified 4 times, whereas if it was specified in the MyNode constructor at the addInstance site, it would only appear once.

[2016-07-27 19:46] samreid commented on #184
The relationship is: each instrumented instance has exactly one tandem and exactly one type.  I'm not sure it would be necessary to specify the type of TObservableArray(x), though that is what is currently done.

[2016-07-27 19:51] samreid commented on #187
You're right, there was an error.  The tandems were omitted in the options to Panel.  I have rectified this in the preceding commit, please review.

[2016-07-27 20:15] pixelzoom commented on #187
Inspected, looks good, closing.

[2016-07-27 20:15] #187 closed

[2016-07-28 02:40] samreid commented on #182
Do we have consensus on this?  Tagging for developer meeting if not.

[2016-07-28 02:50] andrewadare commented on #182
To summarize my position, I'm fine with making `units` an optional parameter for TNumber, but would prefer other labels (see suggestions above) to 'unitless' as the default value.

[2016-07-28 02:51] samreid commented on #182
What about defaulting to `null`?

[2016-07-28 04:56] samreid commented on #183
It looks like the latter issue can be solved by returning function(){} as will be done in https://github.com/phetsims/phet-io/issues/534

So the remainder of this issue will be to search through these short circuits and removing them.

[2016-07-28 05:38] samreid commented on #183
Short circuits were removed in https://github.com/phetsims/phet-io/issues/534

@pixelzoom can you review this issue and that one?

[2016-07-28 05:51] samreid commented on #184
As @andrewadare and I discussed in https://github.com/phetsims/phet-io/issues/532 it makes sense to progressively refine the instrumentation type at each level in the inheritance hierarchy so that order-dependent actions will still work properly (for a customized startup).  From this perspective, it makes sense for the Type to call its own tandem.addInstance(this,TType).

[2016-07-28 16:04] pixelzoom commented on #184
OK, makes sense.

[2016-07-28 17:10] samreid commented on #182
To me "null" is as clear or clearer than "NA", "unassigned", "number" etc.

[2016-07-28 17:41] samreid commented on #182
OK we agreed to make units optional and null by default.  We'll leave FloatingPoint as the default type because it is more frequent.

[2016-07-28 17:42] pixelzoom commented on #182
`range` and `values` are currently displayed as `null` if not provided, so +1 for doing the same for `units`.

[2016-07-31 20:56] samreid commented on #182
Marking high-priority in order to add to my todo list.

[2016-08-05 17:35] pixelzoom commented on #183
👍 Closing.

[2016-08-05 17:35] #183 closed

[2016-08-10 17:40] samreid commented on #182
I'll start work on this now, notifying @andrewadare in case he is in the neighborhood.

[2016-08-10 18:04] samreid commented on #182
I made units optional in the preceding commit, and tested with concentration/instance proxies.  It was working nicely (units displayed properly).  Running sim tests with ?loadOnly reveals no problems related to TNumber.  @andrewadare or @pixelzoom do you want to review?

[2016-08-10 18:10] samreid commented on #184
@pixelzoom anything else to do here?

[2016-08-10 18:16] #184 closed

[2016-08-10 18:20] pixelzoom commented on #182
Looks good, but there may be a formatting issue.  Using the PhET style, my IDEA wants to format this:

```angle: TNumber( {units: 'radians'} )```

like this, with spaces around curly brackets:

```angle: TNumber( { units: 'radians' } )```

[2016-08-10 18:22] pixelzoom commented on #182
In https://github.com/phetsims/beers-law-lab/issues/182#issuecomment-235321038, @andrewadare mentioned that some of the TNumbers that were 'unitless' should in fact have units. Is there anything that needs to be addressed related to that?  Doesn't look like it was addressed in @samreid's commits.

[2016-08-10 19:11] samreid commented on #182
Fixed formatting above.  I recall when I pushed previously, the IDEA reformat on commit checkbox was checked and grayed out, perhaps there was something odd happening there, I'm not sure what.  I've iterated through the `{units` and reformatted them and moved https://github.com/phetsims/phet-io/issues/540 to a separate issue.  @pixelzoom anything else to do here?

[2016-08-10 19:13] pixelzoom commented on #182
👍 Closing.

[2016-08-10 19:13] #182 closed

[2016-08-10 23:03] samreid commented on #186
The consensus is to abbreviate units, we shall proceed in phet-io#530, closing.

[2016-08-10 23:03] #186 closed

[2016-08-18 22:47] pixelzoom opened #189 "Use reproducible random number generators"
Related to phetsims/phet-io#551.

For this sim:

- [x] replace Math.random with phet.joist.random.nextDouble

[2016-08-18 23:37] pixelzoom commented on #189
Done, tested, no problems noted. Closing.

[2016-08-18 23:37] #189 closed

[2016-08-22 16:54] pixelzoom opened #190 "remove 'water' string"
The string 'water' is translatable.  It's used in the code, but never presented to the user.  Since the sim only has 1 solvent (water), we could safely remove the ability to name solvents, then remove the 'water' string.

Skype discussion with @phet-steele:

[8/22/16, 10:44:42 AM] Steele Dalton: isn’t “water” an unused string in BLL?
[8/22/16, 10:44:54 AM] Chris Malley: looking...
[8/22/16, 10:47:

[2016-08-22 17:04] pixelzoom commented on #190
I removed 'water' from the strings file, but kept the ability to name solvents.  Here's how water is now defined:

[code]

This change will *not* be patched into the 1.4 release branch, since the only repercussion is that a string is translatable that the user never sees.

[2016-08-22 17:05] pixelzoom commented on #190
@phet-steele nothing really for you to review here, other than the above comment.  Feel free to close.

[2016-08-22 17:12] phet-steele commented on #190
Thanks @pixelzoom.

[2016-08-22 17:12] #190 closed

[2016-08-25 22:53] pixelzoom opened #191 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-26 14:24] pixelzoom commented on #191
None of the above call sites use the `minWidth` option, so their behavior will be unaffected.  Closing.

[2016-08-26 14:24] #191 closed

[2016-08-26 14:24] pixelzoom commented on #191
None of the above call sites use the `minWidth` option, so their behavior will be unaffected.  Closing.

[2016-08-29 15:41] samreid commented on #172
The following code is not necessary because the value can be set through the PhET-iO API:
[code]

The range is provided in the API:

![image](https://cloud.githubusercontent.com/assets/679486/18057305/ab9189b2-6dcc-11e6-9e8c-2196bb814b2a.png)

Hence the only change we need to make is to change `link` to `lazyLink`.  Commit forthcoming.

[2016-08-29 15:43] samreid commented on #172
Fixed above, here's a link that can be used for testing:

http://localhost/concentration/concentration_en.html?ea&brand=phet-io&phet-io.standalone&phet-io.log=lines&phet-io.expressions=[[%22concentration.concentrationScreen.model.solution.soluteAmountProperty%22,%22setValue%22,[1]]]

[2016-08-29 15:43] samreid commented on #172
@pixelzoom would you like to review?

[2016-08-29 19:00] pixelzoom commented on #172
Looks good, closing.

[2016-08-29 19:00] #172 closed

[2016-08-31 20:46] samreid opened #192 "Make it possible for variableWavelengthProperty to be true on startup"
From https://github.com/phetsims/phet-io/issues/568

The code currently assumes that variableWavelengthProperty is false on startup, we will need to modify it so that the node is not added twice.

The solution will look like this:
[code]

[2016-08-31 20:47] samreid opened #193 "Instrument nodes in the WavelengthControls"
From https://github.com/phetsims/phet-io/issues/568

[2016-08-31 20:48] samreid commented on #193
Fixed above, @pixelzoom would you like to review the change set https://github.com/phetsims/beers-law-lab/commit/5e9422ced0dc6d1dfa65a0548fdbd3b4e29b9171 ?

[2016-08-31 20:50] samreid commented on #192
The problem is the wavelength slider is getting added twice if variableWavelengthProperty is true on startup:

[code]

[2016-08-31 20:50] pixelzoom commented on #192
This request feels like we're headed down the slippery slope.

Where is this proposed change going to be added?  Where in the above code is "the box that reveals the wavelength" hidden?

[2016-08-31 20:51] samreid commented on #192
Meet me on Skype for realtime voice access.

I addressed that in https://github.com/phetsims/beers-law-lab/issues/193 and it is assigned to you for review.

[2016-08-31 21:18] samreid commented on #192
@pixelzoom and I reviewed this and it seems good to close.

[2016-08-31 21:18] #192 closed

[2016-09-01 17:35] pixelzoom commented on #193
👍 Closing.

[2016-09-01 17:35] #193 closed

[2016-09-02 04:27] samreid opened #194 "Publish a PhET-iO Version"
@kathy-phet requested a PhET-iO version of this to be prepared for https://github.com/phetsims/phet-io/issues/575 and https://github.com/phetsims/phet-io/issues/576

@pixelzoom I'll proceed with a dev version but please chime in if there is in-progress work that will need to be accounted for.

[2016-09-02 04:27] samreid commented on #194
I noticed the latest version is 1.4.0, so I believe I will be starting on 1.5.0-dev.1.

[2016-09-02 04:33] samreid commented on #194
Published, details in the phet-io repo, closing.

[2016-09-02 04:33] #194 closed

[2016-09-09 18:03] samreid opened #195 "Publish current version of wrapper"
@kathy-phet requested @samreid to publish the current version of the wrapper for ETS and UBC to review.

Tagging @andrewadare and @mattpen and @pixelzoom so they are aware.

[2016-09-09 18:13] samreid commented on #195
Oops, I used `grunt --build-phet-io` instead of `grunt build-phet-io`.  Trying again.

[2016-09-09 18:14] kathy-phet commented on #195
Just to add to this. We just shared via Zoom, and they see a bunch of preliminary early QA they want to do involving their computers and such. They know there are coming improvements.

[2016-09-09 18:14] samreid commented on #195
There are numerous lint errors:

~/github/beers-law-lab$ grunt --brand=phet-io
Running "eslint:allFiles" (eslint) task

/Users/samreid/github/phet-io/apps/data-graph-app/beers-law-lab_data-graph-app.js
  236:7  error  "row" is defined but never used  no-unused-vars

/Users/samreid/github/phet-io/apps/data-graph-app/data-graph-app.js
   7:5   error  Strings must use singlequote  quotes
   8:5   err

[2016-09-09 18:35] samreid commented on #195
d3 version was mismatched, I'll try deploy once more.

[2016-09-09 18:43] samreid commented on #195
Published here:
https://phet-io.colorado.edu/0.1/sims/beers-law-lab/1.5.0-dev.5/phet-io/protected/apps/data-graph-app/data-graph-app.html?sim=beers-law-lab

[2016-09-09 18:43] #195 closed

[2016-09-09 18:59] samreid commented on #195
I sent an email about this version.

[2016-10-06 22:37] jonathanolson opened #196 "Beam's shapeProperty undefined => null"
The sim was trying to set a Path's shape to undefined, since Beam's shapeProperty was undefined (instead of null) if beamVisible is falsy.

This was failing when Scenery's cleanup branch assertion failed.

[2016-10-06 22:42] jonathanolson commented on #196
@pixelzoom, can you review the change to make sure I didn't break anything subtle?

[2016-10-07 16:14] pixelzoom commented on #196
👍 Closing.

[2016-10-07 16:14] #196 closed

[2017-01-11 17:56] zepumph opened #197 "Ruler movement is not true on extra small and extra large resolutions"
@samreid and I noticed this while working on phet-io with BLL in an Iframe, but I noticed that it is also able to be replicated on large screen resolutions. This problem is not on the published version of the sim on phet.colorado.edu though. @pixelzoom do you have any ideas?

![bll-ruler](https://cloud.githubusercontent.com/assets/6856943/21860130/838ef078-d7ec-11e6-925c-9bef68ebcfb5.gif)

[2017-01-11 17:59] pixelzoom commented on #197
I'll have a look. @ariel-phet priority?

[2017-01-11 18:03] samreid commented on #197
This is also happening for the Gravity Force Lab ruler.  This problem is not isolated to beers-law-lab.  I'm not sure if it is a ruler problem (scenery-phet) or a drag handler problem (scenery).

[2017-01-11 18:03] samreid commented on #197
My recommendation for priority: before any master deploys are done with buggy code :)

[2017-01-12 01:06] pixelzoom commented on #197
The ruler in beers-law-lab is BLLRulerNode.  It uses `MovableDragHandler`, which extends `TandemSimpleDragHandler`, which extends `SimpleDragHandler`.   There have been a very small number of commits on MovableDragHandler and SimpleDragHandler in the recent past, so perhaps inspect those first.  But given this type hierarchy, the fact that `TandemSimpleDragHandler` was added relatively recently, I

[2017-01-12 01:12] pixelzoom commented on #197
Inspecting commits, these should be considered guilty until proven innocent:

@jonathanolson made 2 commits to SimpleDragHandler in 2/2015, both related to transforms.
@ jonathanolson made a commits to MovableDragHandler in 11/2016 that changed the target node.

If we move on to the introduction of `TandemSimpleDragHandler`, then:

@samreid made 2 commits to MovableDragHandler in 4/2016 and 6/2016

[2017-01-12 01:13] pixelzoom commented on #197
Assigning to @jonathanolson since his commits look the most likely. High priority.

Unassigning myself because I don't have time to work on this.

[2017-01-12 02:08] jonathanolson commented on #197
Still fully tracking it down, but I believe my commit https://github.com/phetsims/scenery-phet/commit/8f3aeba8b70e6306a0e2a72de97cbe709ab8f01f exposed a bug in SimpleDragHandler that is very old.

It looks like the provided Trail in SimpleDragHandler is always missing the currentTarget, since it uses:
[code]
(where the 'true' excludes the currentTarget from the returned trail).

The flag should be

[2017-01-12 02:18] jonathanolson commented on #197
@samreid, can you review the above patch?

This bug is another vote for me to handle https://github.com/phetsims/scenery/issues/131 and https://github.com/phetsims/scenery/issues/218 soon.

[2017-01-13 22:58] samreid commented on #197
The proposed workaround looks OK and seems to work properly.  QA will have the final word in our next RC that uses this code :)

[2017-02-15 16:33] samreid opened #198 "Is `resize: false` necessary in this sim?"
In https://github.com/phetsims/sun/issues/282 I noticed Beer's Law Lab has `resize: false` in two spots, which I thought was a workaround for the buggy slider bounds, but when I reverted HSlider and removed `resize: false`, BLL still seemed to work properly.  Hence I am not sure why BLL needs to supply `resize: false`.  @pixelzoom can you please take a look at your convenience?

[2017-02-15 16:44] pixelzoom commented on #198
Probably vestigial. `resize: false` removed in above commit. Closing.

[2017-02-15 16:44] #198 closed

[2017-02-28 23:06] oliver-phet opened #199 "User question: controlled variables"
Perhaps @amyh-phet can help answering this user question?

[2017-03-01 02:52] pixelzoom commented on #199
@amyh-phet this may be of use in answering the questions:

Model description:
https://github.com/phetsims/beers-law-lab/blob/master/doc/model.txt

Molar absorptivity data:
https://github.com/phetsims/beers-law-lab/blob/master/js/beerslaw/model/MolarAbsorptivityData.js

I looked through the teacher tips and Java design doc, but didn't see anything about assumed temperature, humidity or atmospheric

[2017-03-07 00:37] amyh-phet commented on #199
@oliver-phet   All solutions are assumed to be at 25 degrees Celsius except for drink mix. The solubility of drink mix is based on the solubility of sucrose at 20 degrees Celsius.  No assumed values were used for humidity or atmospheric pressure as these parameters do not influence concentration of dissolved solids (or the amount of solute needed to reach saturation).

You might want to point to t

[2017-03-07 15:22] oliver-phet commented on #199
Reply to user sent. Closing.

[2017-03-07 15:22] #199 closed

[2017-04-06 17:40] phet-steele opened #200 "Error: Color stops not specified in the order of increasing ratios"
Run with `?stringTest=xss` to receive this error.
[code]

[2017-04-06 18:37] pixelzoom commented on #200
This is a common-code issue, failing in `scenery-phet.ShadedRectangle`. The long string that's substituted by `?stringTest=xss` is hitting some condition that `ShadedRectangle` is apparently not designed to handle.

Relevant lines in `ShadedRectangle`, failing at 109:

[code]

Inspecting in the console:

[code]

So the color stop ratio on line 109 is indeed smaller than the one on line 108.   Next

[2017-04-06 18:42] pixelzoom commented on #200
The problem is that `topOffset + bottomOffset` is > `verticalNode.height`, because `stringTest=xss` results in the Text node is very wide and not very tall.

`topOffset` and `bottomOffset` are compute using these offsets in `options`:

[code]

Changing these in the case isn't going to solve the general problem.   I think that `ShadedRectangle` needs to detect when this is a problem, and limit `top

[2017-04-06 18:46] jonathanolson commented on #200
Detecting and internally adjusting topOffset/bottomOffset sounds great.

[2017-04-06 18:56] pixelzoom commented on #200
We should probably do the same for `leftOffset` and `rightOffset` too, in case the node is exceptionally narrow.

[2017-04-06 19:43] pixelzoom commented on #200
Hmmm... There are other problems in `ShadedRectangle`.  For example, the default `cornerRadius` is 10, so shouldn't `rectBounds` have a width and height that are >= `2 * cornerRadius`?

Think I'm going to resolve this by limiting the minimum height of ConcentrationProbeNode.BodyNode, and create a new low-priority issue for improving the robustness of `ShadedRectangle`.

[2017-04-06 20:09] pixelzoom commented on #200
Fixed this in the client in the above commit.

Moved the more general issue to https://github.com/phetsims/scenery-phet/issues/299.

@phet-steele please verify in master, thanks.

[2017-04-07 18:20] phet-steele commented on #200
Verified! Also, continuous testing has not been reporting the error since the fix.

[2017-04-07 18:20] #200 closed

[2017-06-20 11:49] jgpATs2w opened #201 "documentation: queryParameters available"
I suggest to include in documentation the queryParameters: showSoluteAmount, concentrationMeterUnits and beakerUnits, the README could be a good place.
It can be nice to users (at least developers) to know about this visualization options.

[2017-06-20 17:12] ariel-phet commented on #201
@pixelzoom any comment here....I believe you would have documented these, perhaps the documentation is in a less obvious place to someone unfamiliar with our sim architecture?

[2017-06-20 18:05] pixelzoom commented on #201
Hello @jgpATs2w.

The majority of query parameters are _not_ intended for use by simulation users. And PhET's documentation currently lacks any specification about which query parameters are OK to use. So PhET does not generally advertise this documentation.  That said...

In the past, PhET did attempt to document query parameters in a user-friendly file, for internal use within the PhET developme

[2017-06-20 18:05] #201 closed

[2017-06-20 18:09] pixelzoom commented on #201
... and if any of the above is unclear, feel free to reopen this issue and ask further questions.

[2017-08-28 14:53] samreid opened #202 "PhET-iO cannot control the text justification in the sensor."
From https://github.com/phetsims/phet-io/issues/411

It may be nice to give the PhET-iO developer control over the justification of the text in the sensor *or* to indicate that it isn't possible.  Currently it centers when `-` and left justified when reading a value.

Another way out of this trouble would be to always center the readout, but that is probably not what the design team specified.  Le

[2017-08-28 14:55] samreid opened #203 "Sensor text area needs maxWidth"
From https://github.com/phetsims/phet-io/issues/413

@andrewadare and I tried adding this code to ConcentrationMeterNode.js and after 5 seconds saw this:

[code]

![image](https://cloud.githubusercontent.com/assets/679486/18453110/f10f74ca-78fa-11e6-9a0a-327deeb826d6.png)

Leaving unassigned until we work on the next version of this sim.

[2017-08-28 15:06] samreid opened #204 "Precipitate not disposed"
From https://github.com/phetsims/phet-io/issues/415

Precipitate particles are not always disposed of correctly, thereby remaining in the state of a sim. To see what I mean follow these steps:
1. From default settings, shake some stuff into solution.
2. Fully evaporate the solution, thereby making many precipitate particles.
3. Pour solvent into the beaker to dissolve the precipitate back into sol

[2017-08-28 15:09] samreid opened #205 "Some nodes not instrumented for PhET-iO"
From https://github.com/phetsims/phet-io/issues/762

<img width="554" alt="screen shot 2016-10-28 at 11 49 42 am" src="https://cloud.githubusercontent.com/assets/5863899/19817135/6b702946-9d07-11e6-9c07-3968d899f0d5.png">

<img width="555" alt="screen shot 2016-10-28 at 12 08 30 pm" src="https://cloud.githubusercontent.com/assets/5863899/19817137/70d3564c-9d07-11e6-88e0-73dc5e589881.png">

**Not P

[2017-08-28 15:12] samreid opened #206 "wavelength slider has a bad range #763"
From https://github.com/phetsims/phet-io/issues/763

`beersLawLab.beersLawScreen.model.light.wavelengthProperty: TProperty` seems to do nothing good. Sliding it does not change the wavelength, and only serves to cause the probe to report NaN. Sliding without the light emitter turned on reveals the slider has a range of 0 to 1:

![bllio01](https://cloud.githubusercontent.com/assets/5863899/19817590

[2017-08-29 16:11] pixelzoom commented on #202
Justification is an aesthetic aspect, and has nothing to do with functionality.  It is also not something that can be simply changed on a Node, it would require special code - to handle something that is unlikely to ever be needed.  So I think this is something that is reasonable to tell the client "you can't do that".    And I think that's probably true of justification in general.

[2017-08-29 16:16] pixelzoom commented on #202
If we insist on providing PhET-iO control over justification, then it should be addressed _generally_. We should create something like scenery-phet.TextField, which has control over field width, justification, margins, border, etc.   This is most definitely not something that sim-specific code should be handling.   So I suggest that you move this to an issue in a more general repository.

[2017-08-29 16:51] pixelzoom commented on #152
This work has been done for awhile, so...  Are we adding these to the Teach Tips?  If so, who will do that?

[2017-08-29 16:56] pixelzoom commented on #203
The readout does have `maxWidth` set.  In ConcentrationMeterNode:

[code]

And `?stringTest=long` shows no problem:

![screenshot_370](https://user-images.githubusercontent.com/3046552/29833429-a950e156-8ca8-11e7-9702-650abf567fdf.png)

So there must be something funny going on here related to PhET-iO.  @samreid thoughts?

[2017-08-29 16:59] pixelzoom commented on #204
I have no idea how to reproduce this.  Please enumerate the steps required to reproduce this, including which wrapper to use and how to launch it.

[2017-08-29 17:09] pixelzoom commented on #204
This looks like a bug that was introduced in https://github.com/phetsims/beers-law-lab/commit/87144a643b72d77ec087fdd9b5c898db5f5edc63 by @samreid  while addressing #104.   PrecipitateParticle previously did not need `dispose`. You added `dispose`, to clean up the tandem registration.   In step 3 of your steps to reproduce, we should see `PrecipitateParticle.dispose` called for each PrecipitatePar

[2017-08-29 17:13] phet-steele commented on #204
@pixelzoom the steps are above. You can do this in the instance-proxies wrapper. After following the steps, there is a little button labeled "launch" just to the right of the sim, above the list of tandems.

[2017-08-29 17:15] pixelzoom commented on #154
So we identified that this is being caused because a DerivedProperty goes through some intermediate states when >1 of its dependencies changes.  And a sim *in general* can be in an intermediate state until changes to dependencies finish cascading.    This problem is not specific to Beer's Law Lab, and I have no suggestion for how to address it in the general case.

Assigning to @samreid to decide

[2017-08-29 17:17] pixelzoom commented on #164
We've identified that this is a general issue, and I don't intend to address it in beers-law-lab until a general solution has been identified.  @samreid If you feel that this issue is worth addressing, please move it to a move general repository, then close this issue.

[2017-08-29 17:18] pixelzoom commented on #165
Probably related to https://github.com/phetsims/beers-law-lab/issues/205 (Some nodes not instrumented for PhET-iO).

[2017-08-29 17:19] pixelzoom commented on #205
See also https://github.com/phetsims/beers-law-lab/issues/165 (instrument other readouts?)

[2017-08-29 17:19] pixelzoom commented on #205
See also #126 (use HSlider)

[2017-08-29 17:27] pixelzoom commented on #206
`wavelengthProperty` is instrumented in Light.js:

[code]

The above description seems to imply that the proxy slider doesn't change this value.  You should confirm that first, because I don't believe it.

The animated gif shows that the wavelength slider doesn't update.  The wavelength slider is scenery-phet `WavelengthSlider`.   Based on the description above, it sounds  like `WavelengthSlider`

[2017-08-29 17:32] pixelzoom commented on #204
OK, so "proxy list" means "use the instance-proxies wrapper".  Not obvious to those of us who aren't familiar with PhET-iO, but I'll roll with it.

[2017-08-29 17:32] phet-steele commented on #206
If I remember correctly (and this issue was from a long time ago, so please forgive me if this is incorrect), once I begin moving the tandem slider manually, the page becomes largely unresponsive due to an extreme amount of error reporting. So no, the slider would update under normal circumstances (like if it had the correct range) and only doesn't update here due to the page seizing up.

[2017-08-29 17:33] pixelzoom commented on #204
Verified that PrecipitateParticle `dispose` wasn't fully tested when it was added, it's not being called when particles dissolve.   Remains assigned to @samreid to fix.

[2017-08-29 17:34] pixelzoom commented on #205
@zepumph If you make any changes other that adding tandems, please consult with me.

[2017-08-29 17:36] pixelzoom commented on #126
Using HSlider will also presumably give us keyboard navigation, as was the case in Molarity https://github.com/phetsims/molarity/issues/37.  @jessegreenberg is that the case?

[2017-08-29 17:38] pixelzoom commented on #206
@phet-steele said:

Do you recall (or can your reproduce) the error reporting?

[2017-08-29 17:40] pixelzoom commented on #175
@ariel-phet said:

It's now long after function-builder goals were met.  So I will self assign and look at this when I have time.

[2017-08-29 17:40] phet-steele commented on #206
I remembered only slightly correctly. You do get a bunch of errors, but they just cause the sim to become unresponsive, not the browser page:

![bllio02](https://user-images.githubusercontent.com/5863899/29835205-83d03f2a-8cae-11e7-9320-852050c1edf3.gif)

The errors (though they probably wouldn't happen if the range was fixed):
[code]

[code]

[2017-08-29 17:43] pixelzoom commented on #203
This is presumably a problem in both ConcentrationMeterNode and ATDetectorNode, since their implementations follow the same general pattern.

[2017-08-29 17:46] jessegreenberg commented on #126
@pixelzoom that is correct.

[2017-08-29 17:46] pixelzoom commented on #206
The assertion that's failing is in MolarAbsorptivityData.wavelengthToMolarAbsorptivity:

[code]

So something (instance-proxies?) is providing a wavelength that is outside the visible spectrum, and is therefore invalid.

[2017-08-29 17:47] pixelzoom commented on #206
How do I determine the range of the sliders in the instance-proxies wrapper?  Specifically the range of the slider associated with `beersLawLab.beersLawScreen.model.light.wavelengthProperty`.  And in general, why aren't the ranges shown in instance-proxies?

[2017-08-29 17:48] phet-steele commented on #206
Yes, that slider has a range of 0 - 1 inclusive. All tandem sliders have this range as a default until overridden with a custom range (hence this issue)

[2017-08-29 17:48] phet-steele commented on #206
Ranges ARE shown when customized, but perhaps they could be shown always.

[2017-08-29 17:49] pixelzoom commented on #206
I have no idea what "when customized" means.

[2017-08-29 17:50] pixelzoom commented on #206
Sounds like you knew that this was the issue?  If that's the case, wish someone had said so, would have save me like 45 minutes.

[2017-08-29 17:51] pixelzoom commented on #126
Thanks @jessegreenberg. dev:ally label added.

[2017-08-29 17:51] phet-steele commented on #206
Something like this from FAMB:
[code]

When this issue was logged a LONG time ago, custom ranges were not supported. Now they are, and this slider should be changed,

[2017-08-29 17:53] phet-steele commented on #206
That's not true, they were!

[2017-08-29 18:05] pixelzoom commented on #206
I changed `wavelengthSlider` to a NumberProperty and specified its range, like this:

[code]

And the problem persists.  Apparently PhET-iO doesn't know about NumberProperty `range`, or any of the other Property options that determine valid values (e.g. `validValues`, `isValidValue`,...)  So you need to duplicate the range in the options to NumberProperty _and_ in phetioValueType.  That is unaccep

[2017-08-29 18:06] pixelzoom commented on #206
Fixed in above commit.  @phet-steele please confirm in instance-proxies, feel free to close.

[2017-08-29 18:08] phet-steele commented on #206
Looks beautiful.

[2017-08-29 18:08] #206 closed

[2017-08-29 18:08] pixelzoom commented on #204
In Precipitate.updatePariticles, here's where particles are being removed but not disposed:

[code]

[2017-08-29 18:11] pixelzoom commented on #206
This is a good example of why sim-specific phet-io issues belong in sim-specific repositories.  This issue was created as phetsims/phet-io#763 in October 2016.   And because it wasn't in beers-law-lab, I had no idea it existed.   It was moved here 1 day ago, and now it's fixed.

[2017-08-29 18:15] pixelzoom commented on #204
I'm going to take care of this.

[2017-08-29 18:24] pixelzoom commented on #204
Before applying the fix, I wanted to verify that I could reproduce the error.  Following the steps in https://github.com/phetsims/phet-io/issues/415, after pressing the "Launch" button, I am seeing errors in the console of the launched sim:

[code]

@samreid @zepumph ?

[2017-08-29 19:05] pixelzoom commented on #204
I fixed disposal in https://github.com/phetsims/beers-law-lab/commit/44331b2005cbf389a2e2137584d57e49cf380b7c.  And after that, the instance-proxies errors went away on "Launch" (no idea why.)

@zepumph would you please verify?

[2017-08-29 19:25] zepumph commented on #204
I am finding that it is fixed as well. Not only was this problem found from the "Launch" in instance-proxies, but the entire state wrapper was broken. I am seeing that the above commit fixes both. Thank you for expediting this solution @pixelzoom!

[2017-08-29 19:27] #204 closed

[2017-08-29 19:49] pixelzoom commented on #126
A11y issues were discussed with @jessegreenberg via Slack.

A11y ignores touch.  Focus is determined via keyboard navigation.  But the user can still use the mouse.  So it's possible set focus to the concentration slider (using the keyboard), then change the solute using the mouse (with no focus change).  Since a new concentration slider may be created, we might want to restore focus to the new co

[2017-08-29 21:12] pixelzoom commented on #175
@phet-steele Could you please test this in master and see if it's still a problem?   I can't seem to reproduce it anymore, wondering if was corrected by some other change (which would be disconcerting.)

[2017-08-29 21:36] phet-steele commented on #175
I cannot see it in master.

[2017-08-29 22:01] pixelzoom commented on #175
Well, the problem is apparently gone.  I see nothing obvious in the commit history that might have fixed it, mostly lots of PhET-iO commits that I don't recognize.   Since I can't identify the fix, I can't patch a maintenance release.  So this fix will need to wait for the next release branch (1.7).

[2017-08-29 22:01] pixelzoom commented on #175
Marked as fixed-pending-testing for the next RC cycle.

[2017-08-29 22:18] pixelzoom opened #207 "branch: 1.6"
[EDIT: A branch name like 1.6 is typically a release branch and doesn't require explanation. But branch 1.6 is a special kind of crazy, and requires documentation.]

Slack discussion:

@pixelzoom Branch 1.6 created by matt.   Why?
@zepumph Looks like it was created at the same time as 1.6-phetio, maybe a mistake?
@pixelzoom There are no published dev version from 1.6.

[2017-08-29 22:34] pixelzoom commented on #207
@mattpen if creation of this branch was indeed accidental, I'd like to delete it.

@zepumph You create 1.6-phetio.  Do you recall any coordination with @mattpen related to 1.6 and 1.6-phetio?

[2017-08-29 22:35] pixelzoom commented on #207
1.6 was created by @mattpen on 12/2/2016.
1.6-phetio was created by @zepumph on 2/13/2017.
So I'm betting there was no coordination/relation between these branches.

[2017-08-29 22:41] pixelzoom commented on #207
There were 2 commits to the 1.6 branch, both by @mattpen: https://github.com/phetsims/beers-law-lab/commit/6bb24036ec57daaed78e1f29cf918d6fc7821b68, https://github.com/phetsims/beers-law-lab/commit/3b9be25e4474420e7c730f9f3033d60ae325f66a.   The first updates the version id to 1.6.0, the second one updates dependencies.json for 1.6.0.   So it sure looks like he was doing a 1.6.0 release, which is

[2017-08-29 22:48] pixelzoom commented on #207
@zepumph checked the phet-io server to see if there was an inadvertent 1.6.0 deploy, and there was not.  And I see no 1.6.0 deploy in spot:dev/html/beers-law-lab/.   So how dependencies.json got pushed with version id 1.6.0 is a mystery.  That file is typically pushed via deployDev.js or wrapperDeploy.js.

[2017-08-29 22:58] pixelzoom commented on #207
The plot thickens.  @zepumph noticed that some of the publications from the 1.6-phetio branch precede creation of that branch.  On spot:dev/html/beers-law-lab:

[code]

1.6.0-phetio and 1.6.1-phetio were both published by @mattpen (mape5853), and their dates preceded the creation of the 1.6-phetio branch.   Then on 2/13/17, the same date as creation of the 1.6-phetio branch, @zepumph (mika5203) pu

[2017-08-29 23:04] pixelzoom commented on #207
So... I suppose we'll need to keep the 1.6 branch (for 1.6.0-phetio and 1.6.1-phetio) and the 1.6-phetio branch (for 1.6.2-phetio and onwards).  I'll change the title of this issue to "branch: 1.6" since the 1.6 obviously needs special documentation.

@mattpen please confirm or deny the above :)

[2017-08-29 23:20] zepumph commented on #207
If all above is true, then can't branch "1.6" be deleted because 1.6-phetio was taken from 1.6, and then maintenance released on top of it. So 1.6-phetio is the branch we are maintaining, see the picture below as a reference to how 1.6 has nothing unique in it.

![image](https://user-images.githubusercontent.com/6856943/29848481-67462d78-8ccd-11e7-8306-b338e0d6b292.png)

[2017-08-30 04:17] pixelzoom commented on #207
@zepumph

Yikes, more craziness.  Release branches are always branched from master. But apparently  not in this case.  So yeah, I guess we can delete 1.6.   But better confirm with @mattpen.

[2017-08-30 04:20] mattpen commented on #207
@pixelzoom - It appears that this branch was indeed created accidentally, and I agree with @zepumph that it can be deleted.  I believe that 1.6-phetio was used for a release of the lab-book wrapper, so it should probably be retained.  Apologies for the confusion.

[2017-08-30 04:23] pixelzoom commented on #207
Thanks for the clarification @mattpen.  I'll delete the 1.6 branch and close this issue.

[2017-08-30 16:58] ariel-phet commented on #152
This is probably a larger question for the design team as to how and where we want to reveal query parameters.

[2017-08-30 17:05] pixelzoom commented on #152
How/where to reveal query parameters is also a general issue, not specific to this sim, correct?

[2017-08-30 17:14] ariel-phet commented on #152
@pixelzoom exactly....planning on discussing it as a design team

[2017-09-01 20:03] zepumph opened #208 "Concentration sliders can break the sim"
Carried from https://github.com/phetsims/phet-io/issues/617 into this repo.

@samreid  said:
Some of the sliders (like drinkMixConcentrationProperty) can crash the sim. Does it need better range?

[2017-09-01 20:36] pixelzoom commented on #208
Which sim is this referring to?  phetsims/phet-io#617 gives no clues. There are concentration sliders and "drink mix" in a few sims.

And should this issue be in a sim-specific repository?  Is suspect that if instance-proxies is having a problem, then it's because `phetioType.range` is missing for some Property.

[2017-09-01 20:45] zepumph commented on #208
@samreid would know best in terms of the specifics of the issue.

Then that sounds like it would be a problem for the specific repo then, to fix the range in that property? Since you assign the range to the instance like
[code]

[2017-09-01 20:52] pixelzoom commented on #208
@samreid said:

I search the PhET code base for "drinkMixConcentrationProperty", not found.

[2017-09-01 20:54] zepumph commented on #208
Quite possible that this is an outdated issue then.

[2017-09-01 20:54] pixelzoom commented on #208
"drink" appears in beers-law-lab and molarity, both of which are instrumented.  So I suspect that this issue is related to an instrumentation bug in one of those (my) sims.

[2017-09-01 20:55] pixelzoom commented on #208
... or, as @zepumph, this may be something that was fixed and is no longer an issue.

[2017-09-01 20:56] zepumph commented on #208
Assigning @samreid for input. I suspect BLL and not Molarity because the original issue was opened Sep 12, 2016. That was well before Molarity was on the PhET-iO plate.

[2017-09-01 20:57] pixelzoom commented on #208
Ah... I now see that this issue was created in beers-law-lab.  Guess I got confused by the [instance-proxies] prefix in the issue title.

[2017-09-01 20:59] zepumph commented on #208
I was hoping that prefix was helpful, please make recommendations if you feel differently, and we can fix it.

[2017-09-01 21:24] pixelzoom commented on #208
The prefix is redundant, that's the purpose of labels.

[2017-09-05 17:22] amanda-phet commented on #152
Discussed 9/5/17 with @ariel-phet @amyh-phet @oliver-phet and we discussed a few things.

For universal query parameters:
(1) A page within teaching resources (that can be added to over time) with some general info about query parameters and instructions on how to use ?screens= with examples.
(2) a URL-generator that a user can input the info they want in their URL and the page generates a URL tha

[2017-09-08 14:23] samreid commented on #164
It would be best if data analyzers could tolerate this level of noise.  Let's plan on leaving in spurious messages like this for our initial release.

[2017-09-08 15:53] pixelzoom commented on #164
Reopening for a question....

@samreid said:

Is there a message that indicates when the sim has completed startup?  If not, how will data analyzers know what is startup "noise"?

[2017-09-08 16:04] samreid commented on #164
This spurious message is a child of the "simStarted" event, so analyzers will know it happened during startup:

![image](https://user-images.githubusercontent.com/679486/30220513-e7f0d62e-947c-11e7-91d6-7c5ada7a45f7.png)

But more generally, it would be good if our analyzers are OK with this type of spurious data throughout the data stream.

[2017-09-08 16:20] pixelzoom commented on #164
Thanks for the clarification. Closing.

[2017-09-08 16:20] #164 closed

[2017-09-08 16:21] samreid commented on #154
I created an axon issue, @pixelzoom can you please review the new issue and close this one if it is ready to close?

[2017-09-08 16:24] pixelzoom commented on #154
axon issue looks perfect, closing.

[2017-09-08 16:24] #154 closed

[2017-09-09 01:15] samreid commented on #203
In recent PhET-iO simulations, we have benefited from starting with a PhET-iO Sim Design meeting to ask what should be configurable with PhET-iO.  For this simulation, it is unclear that a PhET-iO client should be able to dynamically set the text to be a very long string.  My recommendation is to close the issue.  @pixelzoom does this sound OK to you?

[2017-09-09 01:44] samreid commented on #202
We should wait until there is a need for this feature.  @pixelzoom OK to close?

[2017-09-09 15:45] samreid opened #209 "Particles drop performance"
From https://github.com/phetsims/phet-io-wrappers/issues/23

Carried from https://github.com/phetsims/phet-io/issues/414 into this repo

@phet-steele said:

Precipitate and shaker particle data streams cause significant loses in performance. I can reliably cause an unresponsive web page on Win 10 browsers after reaching saturation. This is a pretty small amount of precip. being made, mind you....I

[2017-09-09 15:46] samreid commented on #209
In my opinion, each solute particle doesn't need to have a decorator in instance proxies.  It may still need to be instrumented for state though (using our current save/load paradigm).

[2017-09-09 20:57] samreid commented on #208
The Beer's Law Lab beersLawLab.beersLawScreen.solutions.drinkMix.concentrationProperty can now exercise its full range with no crashing.  Let's close this issue.

[2017-09-09 20:57] #208 closed

[2017-09-11 16:09] pixelzoom commented on #203
@samreid said:

Yep. Done.

[2017-09-11 16:09] #203 closed

[2017-09-11 16:09] pixelzoom commented on #202
Yep, ok to close.

[2017-09-11 16:09] #202 closed

[2017-09-11 16:15] pixelzoom commented on #107
According to @ariel-phet in https://github.com/phetsims/concentration/issues/43#issuecomment-131590731:

@ariel-phet @jbphet Is there any value in keeping this branch, or can it now be deleted?  The demo date was 8/17/15, over 2 years ago.

[2017-09-11 16:21] pixelzoom commented on #209
Agreed, representing each particle in instance proxies is overkill.

As for saving... I'm not convinced that saving/restoring individual particles is the way to go, or that the current implementation supports this well.  There are lots of other way that "precipitate" could have been implemented. For example: have 1 model object (Precipitate) that has the state of where its particles are, and the v

[2017-09-11 16:41] jbphet commented on #107
Since this is now pretty straightforward to do through PhET-iO, I think it's safe to delete the branch, so I've done so.  Closing.

[2017-09-12 02:59] samreid commented on #209
I'm having trouble killing performance on my Mac browsers or in my VirtualBox+IE by shaking out particles, but it would be straightforward to omit TShakerParticle, TPrecipitateParticle from instance proxies.  The original bug report was from May 5, 2016 and it would be good to confirm it is still a problem before working on it more.  @phet-steele can you replicate this problem on master?

[2017-09-18 19:43] zepumph commented on #205
I'm going to put this issue on hold as we determine what is important to instrument, since "everything" seems to not be the answer anymore. Unassigning until https://github.com/phetsims/phet-io/issues/1178 is complete.

[2017-09-18 19:44] zepumph commented on #205
Someone can let me know if they disagree and I'm happy to just do this.

[2017-09-27 19:35] phet-steele commented on #209
Performance suffers pretty badly on an iPad 2 right out of the gate...so not really related to high amounts of precipitate in that case.

I also cannot ruin performance on my Mac with current master (yay!). Precip instances look to be properly disposed on reset, removal, etc., so that makes it a bit hard to create the thousands of particles I used to be able to.

That being said, I do lose perform

[2017-10-10 06:40] samreid commented on #209
There is a new `log` query parameter to help diagnose `mismatched messageIndex, possible start/end mismatch` we might be able to use.  But several emitters changed recently, we should see if we can replicate this problem in master.

[2017-10-10 16:27] samreid commented on #209
I tried the instructions from https://github.com/phetsims/beers-law-lab/issues/209#issuecomment-332631768 on mac chrome and 4/5 times it was fine and on the 5th time it threw an assertion error that the `percentConcentration` was -2000 or so.

@phet-steele can you double check on master at the moment and if this is replicable?

[2017-10-10 16:39] phet-steele commented on #209
@samreid, broke it first try with steps in  https://github.com/phetsims/beers-law-lab/issues/209#issuecomment-332631768. My `percentConcentration` was 212...I think you beat me! Throws this assertion:
[code]

[2017-10-10 16:41] samreid commented on #209
It would be good for @pixelzoom to look into the transient out of bounds concentration issue.  @pixelzoom after investigating that part, please reassign to me to look into whether the `mismatched messageIndex` is still happening.

[2017-10-11 14:53] pixelzoom commented on #209
@samreid said:

Before I do anything here....  Step 1 of https://github.com/phetsims/beers-law-lab/issues/209#issuecomment-332631768 says:

Has this been reproduced when not running with Instance Proxies?  If so, then let's break this out into a separate issue.

[2017-10-11 14:55] pixelzoom commented on #209
Answered my own question.  Yes, this can be reproduced without instance proxies.

[2017-10-11 14:58] pixelzoom opened #210 "assertion failure: percentConcentration out of range"
Steps to reproduce, from https://github.com/phetsims/beers-law-lab/issues/209#issuecomment-332631768:

2. Drain the beaker.
3. Shake particles, and keep shaking until some hit the bottom of the beaker.
4. Quickly, while some particles are still falling (and some are on the bottom too), start adding water to the beaker.
4. Drain the beaker and repeat if no errors were thrown.

Assertion thrown:

[c

[2017-10-11 15:09] pixelzoom commented on #210
Looks like the problem is with `soluteGramsProperty`.  It's sometimes negative, should be >= 0, and I've added an assertion for that (see above commit).

The steps to reproduce can now be truncated to:

1. master BLL, Concentration screen
2. Drain the beaker.
3. Shake particles, and keep shaking until some hit the bottom of the beaker.

You'll see an assertion failure with message like this:

[2017-10-12 01:18] pixelzoom commented on #210
ConcentrationSolution defines `soluteGramsProperty` like this:

[code]

What I'm seeing is that the value of the `soluteAmount` arg does not match the value of the `soluteAmountProperty` dependency. If I add this assertion to the DerivedProperty's function, if fails:

[code]

with this error message:

[code]

I do not understand what's going on here.  Could this be happening because `precipitateAm

[2017-10-12 01:22] pixelzoom commented on #210
I asked:

Hmm, could be. If I remove `this.precipitateAmountProperty` as a dependency of `soluteGramsProperty`, then the value of the `soluteAmount` matches the value of the `soluteAmountProperty` dependency.

[2017-10-12 01:47] pixelzoom commented on #210
Here's a simple example that's similar to what I have in ConcentrationSolution:

[code]

Calling `aProperty.set(1)` fails with the assertion with this message:

[code]

If I replace `bProperty` with `var bProperty = new NumberProperty( 0 );`, there's no problem.

This sure looks like a general problem to me.  @samreid @jonathanolson can you have a look at the example above?  Would you expect it to

[2017-10-12 01:51] pixelzoom commented on #210
Ah... The problem is in this bit of DerivedProperty:

[code]

In the above example, when `bProperty` changes, `cProperty`'s derivation function will be called with the old value of `aProperty`.

[2017-10-12 01:56] pixelzoom commented on #210
Here's the above example again with a console message instead of an assertion:

[code]

Console output demonstrating that `cProperty`'s derivation function is first called with the old value of `aProperty`, then with the new value of `aProperty`:

[code]

[2017-10-12 02:56] pixelzoom commented on #210
This is a serious problem in DerivedProperty.  It's dependencies can be any array of Property - and that includes DerivedProperty, since it's a subtype of Property.  And in some scenarios (like the one above) it's most definitely not calling the derivation function with the current values of all dependencies.

[2017-10-12 03:01] pixelzoom commented on #210
I created an axon issue for the DerivedProperty problem, see https://github.com/phetsims/axon/issues/146.

[2017-10-12 03:03] pixelzoom commented on #210
This issues is requires phetsims/axon#146 to be addressed. Blocked until then.

[2017-10-16 01:56] samreid commented on #209
On hold until #210 is complete.

[2017-10-23 17:27] pixelzoom commented on #210
This was resolved by https://github.com/phetsims/scenery/issues/700#issuecomment-338439597, nothing sim-specific needs to be changed.

@phet-steele please verify in master.

[2017-10-23 17:28] pixelzoom commented on #209
@samreid #210 is completed (pending verification by @phet-steele), so you may proceed with this issue.

[2017-10-23 18:15] phet-steele commented on #210
@pixelzoom I think you meant phetsims/axon/issues/146? Anyway, this is fixed in master.

[2017-10-23 18:15] #210 closed

[2017-10-23 18:15] phet-steele commented on #209
@samreid go ahead.

[2017-10-23 18:44] pixelzoom commented on #210
@phet-steele You think correctly. Thanks for verifying.

[2017-10-23 18:45] pixelzoom commented on #209
Btw... #210 should be totally unrelated to the "mismatched messageIndex" failures reported in https://github.com/phetsims/beers-law-lab/issues/209#issuecomment-332631768.

[2017-11-01 15:35] pixelzoom opened #211 "Solute: id for Tandem.createStaticTandem?"
Noticed while commenting on https://github.com/phetsims/phet-io/issues/1247#issuecomment-341138950...

[code]

In both cases, `'concentrationScreen'` is the tandem id.   Looking at other uses of `createStaticTandem`, I don't see any other cases like this - where a static id corresponds to a screen's id.  Is the use of `'concentrationScreen'` in both places necessary, or vestigial?

[2017-11-01 15:40] samreid commented on #211
There is another case in BeersLawSolution.js:

[code]

I added the screen names in these tandems to clarify that `solutes` are only used in `concentrationScreen` and `solutions` are only used in `beersLawScreen`.  Screen names are not used in the other 16 `createStaticTandem` instances because the values are global or apply to all screens.

[2017-11-01 15:46] pixelzoom commented on #211
Is there a requirement that ids in Solute.js and BeersLawSolution.js must match those in beers-law-lab-main.js?  If so, then those ids should be factored out.

[2017-11-01 15:47] pixelzoom commented on #211
Is there a requirement that ids in Solute.js and BeersLawSolution.js must match those in beers-law-lab-main.js?  If so, then those ids should be factored out.  And documented something like your explanation above.

[2017-11-02 05:25] samreid commented on #211
Proposed fix is above, please review.

[2017-11-02 16:27] zepumph commented on #211
@pixelzoom, the only difference between a static Tandem and a "normal" one is that a static tandem was designed for places where the `addInstance` call is reached before phet-io has registered listeners and generally prepared/constructed (not in a constructor). Because of this, static tandems are batched, and then all registered at once when phet-io is initialized. Since the main is reached after

[2017-11-02 21:24] samreid commented on #211
Please see https://github.com/phetsims/tandem/issues/34 for clarification about static tandems.  Static now means that it is not created from another tandem instance via `tandem.createTandem`.  We are now batching all tandems before listeners are added.  And note that https://github.com/phetsims/tandem/issues/34 is still under review.

[2017-11-04 04:39] samreid opened #212 "Rename this.tandem to prevent shadowing"
Please follow the conventions described in https://github.com/phetsims/phet-io/issues/1239

There is one occurrence in PrecipitateParticle and one in ShakerParticle

[2017-11-04 14:47] pixelzoom commented on #212
I renamed in PrecipitateParticle, ShakerParticle and TShakerParticle.

But in PrecipitateParticle:

`this.precipitateParticleTandem = tandem; // Used in TPrecipitateParticle to serialize the tandem name`

and there is no use of the tandem in `TPrecipitateParticle`.  So can this be deleted?

Assigning to @samreid, since he instrumented this sim.

[2017-11-04 14:58] pixelzoom opened #213 "sloppy TTypes"
Noted while working on https://github.com/phetsims/beers-law-lab/issues/212

Similar to https://github.com/phetsims/axon/issues/159, I see TTypes that are reaching into arbitrary levels of the concrete type hierarchy to grab fields.

E.g. `TPrecipitateParticle` is for `PrecipitateParticle`, a subtype of `SoluteParticle`.  Serialization of `TPrecipitateParticle` is reaching into `SoluteParticle` to

[2017-11-04 14:58] samreid commented on #212
Yes, it seems safe to remove.  I tested with phet-io fuzzMouse and didn't see any issues, so I committed the removal.  Back to you @pixelzoom

[2017-11-04 15:00] pixelzoom commented on #213
Same problem with `TPrecipitate`.  It reaches into the supertype of `Precipitate`.

[2017-11-04 15:02] samreid commented on #213
Yes, we should introduce TTypes for the supertypes.  @pixelzoom would you like to do so, or shall I give it a try and reassign to you for review?

[2017-11-04 15:02] pixelzoom commented on #212
Next question... Why was it necessary for ShakerParticle, but not for PrecipitateParticle?  Seems like their instrumentation would have identical requirements.

[2017-11-04 15:05] pixelzoom commented on #213
@samreid I don't have time, so yes, please address:

- [ ] Fix the problem throughout beers-law-lab
- [ ] Review all TTypes for this problem - I suspect it occurs elsewhere
- [ ] Update documentation to describe best practices for YTypes, including this specific problem

[2017-11-04 15:09] samreid commented on #212
I couldn't figure out why the tandem was in `TShakerParticle`,  I removed it and the state wrapper still worked properly.  I can't think of a reason that a researcher would need those ids in the state or anything else it might be used for.  Still, to hedge my bets I'd like to double check with @zepumph before committing.

[2017-11-04 15:13] pixelzoom opened #214 "TShaker serialization?"
I don't understand TShaker.  Why are toStateObject and fromStateObject expecting and returning Vector2?   The _location_ of a `Shaker` is a Vector2, not the Shaker itself.

So I was expecting to see something like this in TShaker:

[code]

[2017-11-04 15:18] samreid commented on #213
TBeersLawSolution looks good.
TConcentrationModel looks good.
TSolute looks good

- [ ] TPrecipitate should extend new class TParticles
- [ ] TPrecipitateParticle should extend new class TSoluteParticle
- [ ] TShaker should extend new class TMovable
- [ ] TShakerParticle should extend new class TSoluteParticle
- [ ] TShakerParticles should extend TParticles (created above)

[2017-11-04 15:19] pixelzoom opened #215 "application of assertInstanceOf"
Problems with application of `assertInstanceOf` in beers-law-lab (and possibly other places)

(1) `assertInstanceOf` should be called before calling the supertype constructor.

Example:

[code]

(2) `assertInstanceOf` should be called as the first line of `toStateObject`, to verify that we're serializing the supported type(s).

[2017-11-04 15:23] pixelzoom commented on #213
... and each of the above TType should access only fields and methods in its associated type, no reaching into supertypes.

[2017-11-04 15:30] pixelzoom commented on #213
I said:

Indeed, this problem is not isolated to beers-law-lab. Examples:

• TBAAGameChallenge reaches into supertype BAAGameState of BAAGameChallenge, even though TBAAGameState exists.

• TChargeParticle reaches into supertype ModelElement of ChargedParticle, even though TModelElement exists.

[2017-11-04 15:31] samreid commented on #215
In the preceding commits, I moved the `assertInstanceOf` before the super call in ttypes.

Logic in phetio.js already enforces that TWrapperType.toStateObject() is only called on an object wrapped in the corresponding TWrapperType, so introducing new assertion checks in `toStateObject` may be unnecessary.  I suspect/hope the same applies to all other TWrapperType methods, but I haven't verified th

[2017-11-04 15:36] pixelzoom commented on #215
If that's the case, then I would expect to see `assertInstanceOf` or `assertInstanceOfTypes` called somewhere in phetio.js, and that's not the case.  So either it's not checking, or it's not using the same check that was used in the TType constructor - either way, that's a problem.

[2017-11-04 15:42] samreid commented on #215
The two calls in phetio.js are safe because they follow the form:

[code]
The first line would error out if the type didn't match.  However, I broadened my search and found an occurrence of `.toStateObject` in `SimIFrameAPI` that calls `toStateObject` without a corresponding wrapper type or check.  There is another case like this in TArray, so I think we should add the assertions in `toStateObject

[2017-11-04 16:11] samreid commented on #214
Yes, that would be much better, I'll schedule this for implementation.

[2017-11-04 19:25] samreid commented on #214
Implemented above, tested in state wrapper.  New state has parts like this:

[code]

@pixelzoom would you like to review?

[2017-11-04 19:32] samreid opened #216 "Convert Particles.changedCallbacks to use Emitter"
Noted during https://github.com/phetsims/beers-law-lab/issues/213.

Particles.js defines:

[code]

Then Precipitate.js has this code:

[code]

And ShakerParticles.js defines this code:
[code]

This code should be rewritten to use axon Emitter.

[2017-11-04 19:40] samreid commented on #213
TPrecipitate calls `instance.removeAllParticles` which is defined in Precipitate but not in Particles.  Likewise TShakerParticles calls `instance.removeAllParticles();` which is defined in ShakerParticles but not Particles.  JS does not have the notion of abstract methods or types, how should we proceed?

[2017-11-06 16:55] pixelzoom commented on #214
Is `TShaker.setValue` still an appropriate function name? Shouldn't it be `setPreviousLocation`?

[2017-11-06 16:57] pixelzoom commented on #214
I'm also not clear on why `TShaker` needs this function.

[2017-11-06 17:03] pixelzoom commented on #213
@samreid asked in https://github.com/phetsims/beers-law-lab/issues/213#issuecomment-341924358:

I don't understand what problem you're referring to.   This issue deals with serializing fields that aren't defined in the associated type.  Referring to inherited fields or methods (which I believe is what you're referring to) in TType function calls seems fine.

[2017-11-06 19:00] pixelzoom commented on #211
If `createStaticTandem` in non-static situations like main.js, what is the point in having both  `createTandem` and `createStaticTandem`?   It seems like you could (and do) have 1 function that works in all situations, eliminating the "which do I use?" issue.

[2017-11-06 19:10] pixelzoom commented on #211
I'm also unclear on why the tandem ids in Solute.js and BeersLawSolution.js need to match the screen names.  This is the only case in all PhET code where I see this pattern applied.  Why is it needed here?

[2017-11-06 19:51] pixelzoom commented on #211
Zoom call with @samreid to discuss:

• Screen tandems were used in Solute.js and BeersLawSolution.js to associate these things with those screens, for API clarity.
• A general pattern might be to put `ROOT_TANDEM: createRootTandem` is {{REPO}}Constants.js, then use `ROOT_TANDEM` in place of `createStaticTandem`.  The API will be the same for phetio clients, we should decide what's more convenient

[2017-11-06 19:52] #211 closed

[2017-11-06 20:06] pixelzoom commented on #216
This sim implements its own listener mechanism because (1) it was ported directly from the Java version, and (2) the port predates the existence of Emitter.  I question the value (and cost) of such as small amount of working/straightforward code.  But I guess it's good to be consistent.

[2017-11-06 20:17] pixelzoom commented on #216
Same pattern noted in gravity-and-orbits and scenery, see above issues.

[2017-11-06 20:43] pixelzoom commented on #216
Conversion to Emitter completed.  Also required a change to TShakerParticles.  Test in requirejs mode and with instance-proxies wrapper.  Next savings was 11 lines of code.

@samreid please review.

[2017-11-06 20:57] pixelzoom opened #217 "why does TShakerParticles call fireChanged?"
Noted while working on https://github.com/phetsims/beers-law-lab/issues/216.

TShakerParticles `addChildInstance` abbreviated:

[code]

Why is the call to `fireChanged` required?    That's the responsibility of `ShakerParticles.step`, not `ShakerParticles.addParticle`.

[2017-11-06 22:49] samreid commented on #216
The change set looks correct and I tested by saturating a solution then diluting it.  Closing.

[2017-11-06 22:49] #216 closed

[2017-11-06 22:51] zepumph commented on #213
Could this be put on hold until we redesign BLL?

[2017-11-06 23:00] zepumph commented on #212
Sounds like an instrument everything policy to me. I'm not sure we need it, but if we do keep it, https://github.com/phetsims/beers-law-lab/commit/4b77ee84913a27c1d2f80a02915db43484085274 has a mistake in it. The toStateObject key `tandem`  was not changed, but fromStateObject is now looking for a `shakerParticleTandem` not a `tandem key.

[2017-11-06 23:10] zepumph commented on #215
I have an idea, rather than adding this in every subtype, why don't we set a member var on each TType like `validTypes // {Array.<String>}`. Then in TObject we can do the assert call.

In order for this to work, all toStateObjects will have to call to the parent before adding subType values. We have wanted to do this for other reasons (like general robustness) for a while. This seems like as good

[2017-11-06 23:15] samreid commented on #215
I like the idea but not sure if it will work--depends on whether types can be resolved at the right time.  I tested it out by putting debugger in TNode and it seemed that `phet.scenery.Node` wasn't yet defined.

![image](https://user-images.githubusercontent.com/679486/32468945-a4ee380c-c30d-11e7-9807-33c138070349.png)

[2017-11-06 23:20] pixelzoom commented on #213
@zepumph asked:

It could.  But I think we're close to closing this, dependent on @samreid's answer to https://github.com/phetsims/beers-law-lab/issues/213#issuecomment-342215058.

[2017-11-06 23:27] pixelzoom commented on #212
@zepumph does https://github.com/phetsims/beers-law-lab/commit/337433967c3645a7e3ead6cdcab1bd079c05c005 fix the problem that you noted in https://github.com/phetsims/beers-law-lab/issues/212#issuecomment-342317309?

I certainly don't know whether `shakerParticleTandem` is needed.  Perhaps we should just remove it for symmetry with PrecipitateParticle,  so that they're either both correct or both w

[2017-11-06 23:36] pixelzoom commented on #217
Looks like the code in question originated in TShakerParticle (singular) by @andrewadare in https://github.com/phetsims/phet-io/commit/91ec5702d35be2e2c55e81d458d8a1c893f399fe.

It was moved from TShakerParticle to TShakerParticles (plural) by @samreid in https://github.com/phetsims/phet-io/commit/56ce2cbe96a4cf9db60c7658ae54f69192d1069e.

[2017-11-06 23:37] pixelzoom commented on #217
Easiest would be to remove `instance.fireChanged` and see if anything breaks.  I'm not entirely clear on what  `addChildInstance` is doing, so don't know how/what to test.

[2017-11-07 01:12] zepumph commented on #212
I don't think so, I thought it should look like
![image](https://user-images.githubusercontent.com/6856943/32472078-2c3ff422-c30d-11e7-9c09-7ce0025e8f65.png)

But I agree with you, perhaps we should delete it instead. There are phetioIDs on the instance anyways, so I'm voting delete.

[2017-11-07 01:19] zepumph commented on #215
:/

[2017-11-07 01:23] zepumph commented on #215
I have a bad solution :)
[code]

Honing it in. . .

Could it be solved by making validValues a getter, then it would be there by the time it is needed.
[code]

[2017-11-07 01:24] pixelzoom commented on #212
OK, so you want to use `shakerParticleTandem` in the state object, as well as in ShakerParticles.  If I interpret that correctly, then there's still a bug in https://github.com/phetsims/beers-law-lab/issues/212#issuecomment-342342630 (preceding comment screenshot).  `stateObject.tandem` should be `stateObject.shakerParticleTandem`, no?

[2017-11-07 01:26] pixelzoom commented on #212
I deleted `shakerParticleTandem` from ShakerParticle and TShakerParticle in the previous commit.

@samreid please review.

[2017-11-07 01:26] zepumph commented on #212
ARGH, you are very correct, sorry about that.

[2017-11-07 02:06] samreid commented on #215
Maybe make it cache & store the result after calling it the first time, so we don't need to allocate arrays every frame?

[2017-11-07 02:11] pixelzoom commented on #215
`assertInstance` sounds a lot more straightforward and readable.  Unless there are other places where you need to do type verification.

[2017-11-07 20:08] zepumph commented on #215
1. in `toStateObject`
2. in `setValue`
3. in constructor
4. in phetio.js (although slightly redundant, if it was easy to call from here it could be nice to check)

That feels like a lot of duplication, although 1-3 are all in the same file. Even so, aren't we unable to have a constant because of https://github.com/phetsims/beers-law-lab/issues/215#issuecomment-342320366

[2017-11-09 02:27] samreid commented on #215
Even if we factored this out, we would need a central way to call the factored out functions (unless we used some sort of decorator pattern in phetioInherit.js, but that sounds too "clever").

What if we try populating the assertion checks everywhere and see if it is too much of a burden?

[2017-11-09 02:28] samreid commented on #215
For instance, the proposed change to TNode appears in the preceding master commit.

[2017-11-09 04:55] samreid commented on #213
After review, it wasn't clear that all of the steps in https://github.com/phetsims/beers-law-lab/issues/213#issuecomment-341904842 were warranted.  Instead, I started with the specific recommendations in https://github.com/phetsims/beers-law-lab/issues/213#issue-271198012 in the preceding commits.

[2017-11-09 05:09] samreid commented on #213
I created a phet-io issue to track the general problem, this issue will remain focused on making sure Beer's Law Lab in particular.

[2017-11-09 05:45] samreid commented on #212
Looks like the tandems are not necessary in the state, I tested and confirmed the state wrapper still behaves nicely.  Closing.

[2017-11-09 05:45] #212 closed

[2017-11-09 06:24] samreid commented on #217
When a sim is used for playback, it cannot have its clock running or the sim model will compete with the given state stream.  Hence `step` is not called in a "playback mode" sim, like the bottom iframe in the state wrapper, e.g. http://localhost/phet-io-wrappers/state/state.html?sim=beers-law-lab&ea

Instead, the canvases must be invalidated at the appropriate time, in this case, it is after the s

[2017-11-09 17:58] pixelzoom commented on #217
I've added this doc to TShakerParticles:

[code]

@samreid if that seems correct, please close.

[2017-11-10 16:20] samreid commented on #214
PhET-iO provides two types of serialization:
**Data type serialization**  For instance, numbers, strings, Vector2 instances fall into this category.  These values are instantiated by `fromStateObject`.
**Reference type serialization**  For instance, Nodes and Properties.  For instance, if a simulation has one WaterNode that exists for the lifetime of the sim then when we save the state of the sim,

[2017-11-11 02:51] samreid commented on #209
OK It seems the next step for this issue is to see if the mismatched messageIndex is still occurring now that #210 is fixed.  I tried the instructions in https://github.com/phetsims/beers-law-lab/issues/209#issuecomment-332631768 5 times on my Mac/Chrome and didn't see any errors in the console or performance degradation.  @phet-steele can you please take a look?

[2017-11-13 16:15] pixelzoom commented on #214
Thanks that helps.

Next question about TShaker:

[code]

Why `instance.previousLocation.set`?  Shaker `previousLocation` is not a Property.

[2017-11-13 16:24] pixelzoom commented on #213
Commits look good.  But they seem to be a subset of the changes that @samreid enumerated in https://github.com/phetsims/beers-law-lab/issues/213#issuecomment-341904842.  So I'm not clear on what the plan is here.

@samreid we also need to resolve your question in https://github.com/phetsims/beers-law-lab/issues/213#issuecomment-341924358, and my reply in https://github.com/phetsims/beers-law-lab/i

[2017-11-13 16:26] pixelzoom commented on #213
From https://github.com/phetsims/beers-law-lab/issues/213#issuecomment-341903724, this has also not been addressed:

[2017-11-13 16:46] samreid commented on #214
`previousLocation` is not an axon Property, but it is an object property (lower case p).  Are you asking why this is using `Vector2.set()` instead of reassigning the value to the new Vector2?  I suspect either would work equally well, unless the sim is somehow relying on reference equality.

[2017-11-13 16:54] samreid commented on #213
I produced that list with a limited understanding of the sim type hierarchies.  After reviewing more closely and trying to work on them, I reported https://github.com/phetsims/beers-law-lab/issues/213#issuecomment-343047220

Next:

That sounds good to me.

I'm not sure how to approach this in the future, because generally we don't want to be locked in to coupling TTypes to sim types.  Instead, we

[2017-11-13 17:00] pixelzoom commented on #214
Ah, `Vector.set`, not `Property.set`.  Got it, thanks for clarifying.  Closing.

[2017-11-13 17:00] #214 closed

[2017-11-13 17:14] pixelzoom commented on #213
Thanks for clarifying.  I agree that TMovable is not necessary.

But I'm not convinced that `TParticles ` is unnecessary. I see significant duplication in `TPrecipitate` and `TShakerParticles`. I also see a potential bug because of this duplication; shouldn't `TPrecipitate` `clearChildInstances` be calling `instance.fireChanged`?

This paragraph contains the goals and practices that should be in t

[2017-11-14 14:45] samreid commented on #213
I introduced TParticles in the preceding commits.  I also added Particles.addParticle because it seemed odd to have TParticles calling a method which did not exist on Particles.  @pixelzoom can you please take a look?

[2017-11-14 15:15] samreid commented on #213
I also added a new section to the "how to instrument docs" https://github.com/phetsims/phet-io/blob/master/doc/how-to-instrument-a-phet-simulation-for-phet-io.md#ttypes-should-use-proper-inheritance  @pixelzoom can you please take a look?

[2017-11-14 18:26] phet-steele commented on #209
Also no errors or performance concerns here.

[2017-11-14 18:42] pixelzoom commented on #213
@samreid said:

Two problems with Particles/TParticles, both fixed in the above commit:

(1) TParticles is calling `instance.removeAllParticles`, which is not defined in Particles, but in its subtypes. I added abstract method `removeAllParticles` to Particles, so that TParticles is not using anything that isn't defined in Particles.

(2) Particles `addParticle` was added above.  It already existed

[2017-11-14 18:43] pixelzoom commented on #213
@samreid said:

Looks good, thanks.

[2017-11-14 20:03] samreid commented on #213
Here is `Precipitate.removeAllParticles`:

[code]

Here is `ShakerParticles.removeAllParticles`

[code]

Some questions:

1. Why is `fireChanged` called in `ShakerParticles` but not `Precipitate`?
2. Should we move `ShakerParticles.removeAllParticles` and `ShakerParticles.removeParticle` up to `Particles`, then delete around 25 lines of code in `Precipitate`?

[2017-11-14 20:36] pixelzoom commented on #213
@samreid asked:

ShakerParticles calls `fireChanged` in `step` (an optimization that results in 1 fire per step, instead of 1 per particle) and in `removeAllParticles` (because `step` is short circuited when there are no particles).

Precipitate handles the `fireChanged` in `updateParticles`, which adds/removes particles based on  the amount of precipitate.  This optimization results in 1 fire per

[2017-11-14 20:47] pixelzoom commented on #213
I said:

Decided I'm not going to do this.  ShakerParticles and Precipitate are different for good reasons.

@samreid There's a fundamental problem in `TParticles`.  The implementation of `clearChildInstances ` and `addParticle` are appropriate for ShakerParticles, but not for Precipitate.  Precipitate updates itself based on model Properties -- it has no `step` method, and its `removeAllChildren`

[2017-11-15 18:36] pixelzoom commented on #213
@samreid and I worked on the TParticles issue via Slack.  We ultimately deleted TParticles and TPrecipitate, and moved all functionality into TShakerParticles.

We decided not to save state of individual Precipitate particles, because Precipitate particles are derived from the model. Problems: (1) depending on whether we restored model or view first, we could end up with different behavior; (2) sa

[2017-11-15 18:36] #213 closed

[2017-11-15 18:46] samreid opened #218 "State wrapper playback state has black background"
Beer's Law Lab instance proxies seems to be working now.  Beer's Law Lab state seems to be working except for the background color:

![image](https://user-images.githubusercontent.com/679486/32820620-9f356838-c98c-11e7-9d1e-b9f5844a98d9.png)

See https://github.com/phetsims/tandem/issues/31#issuecomment-344491419

[2017-11-15 19:21] samreid commented on #218
Launching the same thing with ?screens=1 causes the problem to go away.

[2017-11-15 19:23] samreid commented on #218
I tried changing the home screen background to green and this leaked over to the concentration screen color.

[2017-11-15 19:36] samreid commented on #218
It looks like the problem is that the `showHomeScreenProperty` is no longer ending up in the state.

[2017-11-15 19:39] samreid commented on #218
Fixed in the preceding commit, closing.

[2017-11-15 19:39] #218 closed

[2017-11-17 01:23] zepumph commented on #215
I think the proposed change above is safe, and appropriate. Feel free to proceed.

[2017-11-17 05:06] samreid commented on #215
I'm at about 25/100 of these and wondering if our lives would be better if we moved the instance-based methods (like `clearChildInstances`, `setValue` and `toStateObject`) to instance methods instead of static methods that take an instance.  I guess one contraindication is when using a parameterized type like PropertyIO<NumberIO> then we need to be able to use to/fromStateObject on NumberIO even t

[2017-11-17 05:08] samreid commented on #215
On the other hand, even for parameterized type or function type parameters, it wouldn't hurt too much to instantiate a wrapper then use it to do toStateObject(), would it?  Or would that create too much garbage?

[2017-11-17 05:23] samreid commented on #215
I think `toStateObject` must remain static so it can be called for function types and type parameters, it cannot be wrapped by a temporary wrapper--the temporary wrapper would need a `phetioID`.

[2017-11-17 05:36] samreid commented on #215
I added type checks for static methods, @zepumph can you spot check and close?  I'll move https://github.com/phetsims/beers-law-lab/issues/215#issuecomment-345146610 to a new issue.

[2017-11-17 05:39] samreid commented on #215
@zepumph if your spot check seems good, please reassign to @pixelzoom to verify.

[2017-11-17 17:35] zepumph commented on #215
It looks good to me!

[2017-11-17 20:48] zepumph commented on #215
In below commits, @samreid and I added a NullableIO type that will handle cases where the above assertions were failing because of nulls. I also converted many `{min:x, max:y}` to `Range`. https://github.com/phetsims/capacitor-lab-basics/issues/215 is handling a special case for Vector2 and Vector3.

[2017-11-28 16:19] pixelzoom commented on #215
I'm not thrilled with the `NullableIO` pattern (see https://github.com/phetsims/phet-io/issues/1275), but this issue can be closed.

[2017-11-28 16:19] #215 closed

[2017-11-29 17:45] samreid opened #219 "branch: ioobject"
To support https://github.com/phetsims/tandem/issues/36

[2017-12-03 14:35] samreid commented on #219
On hold (so it won't appear in my todo list) until https://github.com/phetsims/tandem/issues/36 is complete.

[2017-12-04 22:17] pixelzoom opened #220 "erroneous documentation in SoluteParticleIO"
Noted in https://github.com/phetsims/tandem/issues/36#issuecomment-349118684, present in master and ioobject branches.

SoluteParticleIO.js, line 45:

`    documentation: 'A particle that shows at the bottom of a saturated solution.'`

This is incorrect and looks like it was copy-pasted from PrecipitateParticleIO.

Since this is the subtype for PrecipitateParticleIO and ShakerParticleIO, both of w

[2017-12-04 22:23] pixelzoom opened #221 "problems with this.tandemName"
[code]

Problems:
(1) No documentation
(2) No visibility annotations
(3) Bad names - these are not the tandem names of these instances. These are the tail of the tandem ids.

[2017-12-14 21:52] samreid commented on #219
https://github.com/phetsims/tandem/issues/36 is approved and now we should move this code to master.  Note we will need to rename as described in https://github.com/phetsims/tandem/issues/43#issuecomment-351846924

I'll take care of this and reassign to @pixelzoom for review afterwards.

[2017-12-14 21:58] samreid commented on #219
Renamed, merged to master, deleted `ioobject` branch, reassigning to @pixelzoom for review.

[2017-12-15 02:31] pixelzoom commented on #219
BLL was failing lint in master after the merge, fixed in the above commit.  I also made a few gratuitous/OCD formatting tweaks.

Looks generally good, closing.

[2017-12-19 22:37] pixelzoom opened #222 "clean up IO types"
IO types in BLL have inconsistencies in naming and documentation.

ShakerParticles.js appears to be an up-to-date example. It has parameter names that make sense, and type expressions:

[code]

PrecipitateParticle.js appears to be an out-of-date example. It uses `instance` for the first parameter, and has no type expressions:

[code]

Since I'm responsible for this sim, I'm going to bring all the

[2017-12-19 22:44] pixelzoom commented on #222
I cleaned up the IO types, but was unable to test because of https://github.com/phetsims/joist/issues/469.   Assigning to @samreid to review and test.

[2017-12-19 23:17] pixelzoom opened #223 "ShakerParticlesIO is calling private methods"
Noted while working on #222.

ShakerParticlesIO is calling 2 private methods of ShakerParticles: `removeAllParticles` and `addParticle`.  I never intended these method to be part of the public API.  This needs to be fixed.

[2017-12-19 23:23] pixelzoom commented on #222
@samreid search for "TODO #222" and you'll find some cleanup that still needs to be done.

[2017-12-19 23:36] pixelzoom opened #224 "question about IO types"
Many questions while I was doing #222 (clean up IO types)

- [x] (1) `fromStateObject` (I assume from it's name) returns an instance of the same type that appears in the IO type's constructor.  But `SoluteParticle` returns `{{location: Vector2, orientation: number}}`.  What's going on here?  Similarly for `Shaker` - how is this serializing and deserializing a `Shaker`?

- [x] (2) What does `clearC

[2018-01-09 04:46] samreid commented on #222
I added docs in the preceding commit, ready for review.

[2018-01-09 04:54] samreid commented on #223
Would you be opposed to marking those methods as `public (phet-io)`?  If so, can you suggest an alternate approach that would allow PhET-iO to set the state of the shaker particles?

Also, there is a chance that we may be able to eliminate the state of the shaker particles when we have the "Stable PhET-iO Design" for this simulation--if the design team decides that the shaker particles are ultimat

[2018-01-09 05:05] samreid commented on #224
For value types like `Vector2`, `fromStateObject` returns a newly created instance.  For reference types like `Property` and `Shaker`, the value deserialized in `fromStateObject` is set to the instance in `setValue`.  I'm not sure what's happening in `SoluteParticle`, probably something odd--will need further investigation.

Please see the "Support Dynamic State" section in the phet-io instrumenta

[2018-01-09 16:57] samreid opened #225 "SoluteParticleIO doesn't implement setValue"
From https://github.com/phetsims/beers-law-lab/issues/224 it seems like a reference type but there is no `setValue`, what's happening?

[2018-01-09 16:59] samreid opened #226 "State wrapper is crashing"
From #224, I observed that the state wrapper is crashing for BLL, but not for other sims.  Self-assigning for investigation.

[2018-01-09 17:00] samreid commented on #224
I decided to move the outstanding work to new issues, reassigning the remainder of this issue to @pixelzoom for discussion.  If all seems well, ok to close.

[2018-01-09 17:36] pixelzoom commented on #224
@samreid and I discussed a few subtitles over Zoom.  I'm (mostly) clear on what's going on here now. Closing.

[2018-01-09 17:54] #224 closed

[2018-01-09 17:56] pixelzoom commented on #222
👍

[2018-01-09 17:56] #222 closed

[2018-01-09 18:00] pixelzoom commented on #223
@samreid asked

Simply changing their visibility annotation to `@public` is not appropriate. As noted in https://github.com/phetsims/beers-law-lab/issues/223#issue-283400179, the are `@private` because they were not designed to be called by clients.   If we want them to be `@public`, I'll need to revisit the implementation, and investigate what changes are needed to make them `@public`.

I think w

[2018-01-09 18:10] pixelzoom commented on #225
PrecipitatePariticlesIO was also a reference type, but no longer exists.  It's still mentioned in the "How To" doc (see https://github.com/phetsims/phet-io/issues/1296).  But perhaps the example there is related to the missing `setValue` for SoluteParticleIO.  The example for PrecipitatePariticlesIO looks like this:

[code]

[2018-01-09 18:14] pixelzoom commented on #165
@samreid It would be nice to address this in the "Stable PhET-iO Design" meetings.

[2018-01-09 18:17] pixelzoom commented on #220
I'm confident that this `documentation` field was bogus, so I've deleted it.  @samreid @zepumph feel free to have a look and reopen if you disagree.

[2018-01-09 18:17] #220 closed

[2018-01-09 18:20] pixelzoom commented on #205
@samreid It would be nice to address this in the "Stable PhET-iO Design" meetings.

[2018-01-09 19:47] pixelzoom commented on #226
Related to https://github.com/phetsims/beers-law-lab/issues/225 perhaps?

[2018-01-09 20:37] samreid commented on #226
The fix committed above repairs the crash, but there are still several toStateObjects that are large (hundreds or thousands of lines of code) that need to be cleaned up.

[2018-01-09 20:42] pixelzoom commented on #226
Could you clarify the previous comment? Hundreds or thousands of lines of code in BLL, or elsewhere?

[2018-01-09 20:44] samreid commented on #226
I've got the simulation state pruned down to 14000 lines of JSON--I still have a long way to go!

[2018-01-09 20:46] pixelzoom commented on #226
So the "hundreds or thousands of lines of code" is in the saved state (JSON) that is the output of `toStateObject`?

[2018-01-09 20:48] samreid commented on #226
Yes, more specifically the 14000+ lines of JSON is the full text output in the state wrapper (which is a composite of all the individual `toStateObject` calls.

[2018-01-09 21:24] samreid commented on #226
After the preceding cleanup, it is down to 848 lines of JSON.  I'd volunteer to close the issue but wondering if @pixelzoom has questions about it that we should discuss now.

[2018-01-09 22:32] pixelzoom commented on #226
I don't understand this comment that was added to `Movable`:

`35 phetioState: false // location is through composition`

I understand that (as documented in `PhetioObject`) setting `phetioState: false` means that the instance is not included in the PhET-iO state.   I'm guessing that "location" is referring to the value of `this.locationProperty`.  But I have no guess for what "through composition

[2018-01-10 02:54] samreid commented on #226
I originally meant that the location of the Movable would be instrumented through the `Movable.locationProperty`.  However, I also realized that Movable doesn't need to extend PhetioObject, so this `phetioState:false` is a moot point.  Committed above and back to you for follow-up discussion, if any.  Close if all is well.

[2018-01-10 02:59] samreid commented on #225
I see, the SoluteParticleIO.toStateObject/fromStateObject are not called by PhET-iO directly, but rather called from its subtypes.  This seems reasonable and I'll add a note to the docs as such.

[2018-01-10 02:59] samreid commented on #225
@pixelzoom can you please review?  Close if all is well.

[2018-01-10 03:31] samreid commented on #223
Agreed, leaving open until after the stable PhET-iO design, unassigning for now.

[2018-01-11 18:10] pixelzoom commented on #225
@samreid said:

After previous discussions, my understanding was that "reference" types implemented `setValue` as a necessary means of restoring state.  Apparently that's not always true for reference types, and  SoluteParticleIO is an example.   But I don't understand why, and the documentation doesn't make it clear.

[2018-01-11 18:12] pixelzoom commented on #226
Reopening.  This was added to ShakerParticlesIO, and I don't understand it at all:

[code]

[2018-01-12 02:31] samreid commented on #226
ShakerParticlesIO inherits from ObjectIO which returns the entire object as its own state:

[code]

That fails because it tries to JSONify the entire object tree which includes many attributes which should not be serialized.

I tried using `phetioState: false` to disable state from the ShakerParticles altogether, but found out it is necessary to leave the default of `phetioState: true` since it us

[2018-01-12 04:00] samreid commented on #225
I see, this is confusing because `fromObjectState` is not called by the PhET-iO framework directly.  Instead it is called from ShakerParticles.addChildInstance:

[code]

[2018-01-12 21:54] pixelzoom commented on #226
I'm going to close this issue, even though I still don't full understand this. The fact that I don't have a good understanding of the IO types in a sim that I'm responsible for concerns me.  And I don't feel confident that I could implement custom IO types without a lot of hand holding.  There seem to be more patterns and special cases than are explained in [how-to-instrument-a-phet-simulation-for

[2018-01-12 21:54] #226 closed

[2018-01-12 21:55] pixelzoom commented on #225
I going to duplicate what I said over in https://github.com/phetsims/beers-law-lab/issues/226#issuecomment-357364999, because it applies here as well:

[2018-01-12 21:55] #225 closed

[2018-03-20 20:57] jbphet commented on #88
Sonification is now funded, and I'd like to keep this branch around for a while since it reflects and initial rough cut at sonification for this simulation.  I'll assign to myself, but at low priority.

[2018-04-05 20:14] jbphet commented on #88
Unassigning - should be reassigned when work is undertaken to sonify this sim.

[2018-04-13 00:37] zepumph commented on #221
@pixelzoom how is that? I'm not thrilled about renaming these two, as it has become a bit of a convention to call the tail `tandemName`. This corresponds to the instance's type name most often being the same as the tail. I tried to document that.

[2018-04-15 19:14] #221 closed

[2018-05-31 15:53] oliver-phet opened #227 "User suggestion: Add water"

[2018-05-31 17:17] pixelzoom commented on #227
I'm confused...  Concentration sim doesn't deal with absorption for _any_ solutions, and if you fill the beaker from the faucet, you have water.   Absorption and light color are in the _Beer's Law_ screen of the Beer's Law Lab sim.  Is the user referring to that sim?

[2018-05-31 17:20] pixelzoom commented on #227
I talked with @oliver-phet ... The hypothesis is that the user sent the wrong link and is actually referring to the Beer's Law Lab sim.

[2018-05-31 17:21] oliver-phet commented on #227
Since the original designer (JC) is no longer here, assigning to @ariel-phet.

[2018-06-01 16:19] ariel-phet commented on #227
@pixelzoom @oliver-phet

First of all, in a sense, water IS available in this sim. For any solution, simply set the value of concentration to 0 mM, and voila, you have water. So, I can see why water would not be included in the combo box, since you cannot change the concentration of pure water, it is always just 0.

This wikipedia article show absorption in the visible spectrum: https://en.wikiped

[2018-06-01 16:22] ariel-phet commented on #227
And for reference doing my calculations above with the formula

I = I_0*e^(-a*x)

[2018-06-01 16:23] ariel-phet commented on #227
Assigning back to @pixelzoom for thoughts...but certainly even if we went down this path, no work until after EqEx

[2018-06-04 15:18] pixelzoom commented on #227
I read through @ariel-phet's comments in https://github.com/phetsims/beers-law-lab/issues/227#issuecomment-393931693.   If we need to change data for other solutions, that's going to be a much bigger deal.   I'll leave it to the subject-matter experts to decide whether to proceed with this issue.  Back to @ariel-phet to decide who the responsible designer for this sim.

[2018-06-06 00:46] ariel-phet commented on #227
I will bring this up at a status or design meeting at some point (probably not until July, since KP is on travel most of June)

[2018-06-07 18:24] phet-steele commented on #209
@samreid @pixelzoom the quote I said above looks to not be true anymore. I tried BLL studio on master (and 1.5.6, and 1.6.4) and precip particles are not being removed from the list anymore. Kills performance. What happened?

[2018-06-07 18:27] pixelzoom commented on #209
No idea, I haven't changed anything related.  But phet-io has been undergoing big changes.  @samreid ?

[2018-06-07 18:47] phet-steele commented on #209
@samreid, when "checking against the prior published version", which is 1.5.5-phetio, the problem did not exist. So newly introduced again in 1.5.6.

Oh and this is for phetsims/QA/issues/128.

[2018-06-07 19:02] phet-steele opened #228 "[1.5.6-phetio] Precipitation particles are failing to be saved in state"
@samreid I could have sworn there was an issue about this somewhere at some point, so I think this is a regression and sorry in advance for the duplication.

In BLL 1.5.6-phetio instance-proxies:

1. Concentration screen
2. Shake some particles
3. Evaporate until there is precipitation
4. Press "Launch"

The launched sim will not have any precipitation and will throw this error:

[code]

The State

[2018-06-07 20:29] phet-steele commented on #228
Details at phetsims/phet-io/issues/1330.

[2018-06-07 21:05] zepumph commented on #228
If the problem is in the most recent production version ( 1.5.5-phetio) then we will likely not fix this for the maintenance release.  PhET-iO is in beta, and it was definitely in beta when 1.5.5-phetio was released, so since we haven't heard complaints from partners about this bug. I think the goal is to focus energy on moving phet-io forward. @samreid what do you think?

[2018-06-08 18:39] JRomero0613 commented on #228
I have noticed that along with the particles failing to be saved by the state that when in the state wrapper the PhET menu is not copied to the smaller simulation. This issue is present in version 1.5.5, 1.5.6 both RC and Production, 1.6.4, and master. For versions 1.5.5, 1.5.6, and 1.6.4 the copied screen does not dim as if the menu is popping up, it does in master which is where the attached scr

[2018-06-08 18:45] phet-steele commented on #228
@JRomero0613 great that you noticed, but this is expected in the State wrapper (although it would be a problem in the Mirror Inputs wrapper).

[2018-06-08 18:46] samreid commented on #228
To elaborate, we decided this is a "transient" behavior that should not be saved/loaded.

[2018-06-08 18:53] JRomero0613 commented on #228
Okay, I have just checked all versions mentioned above in the mirror inputs wrapper and they all function properly

[2018-06-08 22:19] zepumph commented on #228
Can this issue be closed then?

[2018-06-08 22:21] phet-steele commented on #228
No. It's still an issue, even if it does not get fixed right away.

[2018-06-11 18:32] samreid commented on #228
I reproduced the problem in 1.5.6-phetio, not planning on solving it in the branch, unless I hear otherwise.  Good to know though, in case our clients run into it.  Unassigning for now.

[2018-06-11 20:41] samreid commented on #209
Testing 1.5.6-phetio, I see 145 instrumented instances on startup.  Then shaking in some particles, it goes to 182 while they are in the air.  Then when they dissolve, it goes back to 145.  I also tried resetting while the particles were in the air, and it correctly went back to 145.  Am I doing this wrong?

[2018-06-11 20:57] phet-steele commented on #209
@samreid I don't see it in the 1.5.6 branch (don't know why I did earlier), but I do see it in 1.6.4 (and probably master, didn't double check).

[2018-06-11 21:09] samreid commented on #209
I confirmed the particles are leaking in studio/master.

[2018-06-19 16:35] ariel-phet commented on #227
I asked Amy H. if she would look over this issue, and she said:

Therefore this seems beyond the scope of this sim, and potentially would be a confusing/damaging change. Closing

[2018-06-19 20:04] pixelzoom commented on #227
Reopening. Since this was a user suggestion, should @oliver-phet get back to that user before closing the issue?

[2018-06-19 20:06] oliver-phet commented on #227
Thanks, @pixelzoom I replied to the user earlier. Re-closing!

[2018-06-19 20:06] #227 closed

[2018-07-12 15:53] pixelzoom opened #229 "make Concentration slider thumb move in increments of 5"
Requested by @kathy-phet for a PhET-iO client, but generally useful.  Make the Concentration slider thumb move in increments of 5 (view units), regardless of the units or range.  Tweakers will still move in increments of 1.

[2018-07-12 15:56] pixelzoom commented on #229
Also provide a maintenance release for the PhET-iO client.  @zepumph @samreid please identify release branch that needs to be patched.

[2018-07-12 15:59] samreid commented on #229
It would be safest to patch 1.5 and 1.6, but we may be able to rule out 1.5 if we can determine that clients will not be using it any longer.

[2018-07-12 16:00] pixelzoom commented on #229
@kathy-phet would like this in the next few days.

[2018-07-12 16:10] pixelzoom commented on #229
Ugh.  This is not going to be straightforward because BLL does not use the common-code slider (HSlider).  See https://github.com/phetsims/beers-law-lab/issues/126.   @kathy-phet Should we address that issue before doing this?  It will be significantly more work, and more difficult to patch in 1.6-phetio.

[2018-07-12 16:14] samreid commented on #229
When we switch to common code HSlider, that may warrant a new version from master instead of patching an old branch.

[2018-07-12 16:24] pixelzoom commented on #229
I figured out where to change this in ConcentrationSlider, so the most expedient way to satisfy this is to ignore HSlider.   But complicating this is the fact that the model units are M, while the view is in either uM or mM.   So constraining to '5' means computing what '5' would be in M.

[2018-07-12 17:04] pixelzoom commented on #229
@arouinfar Please review [1.7.0-dev.1](https://phet-dev.colorado.edu/html/beers-law-lab/1.7.0-dev.1/phet/beers-law-lab_en_phet.html).  If this looks OK, I'll patch the 1.6-phetio release branch.

[2018-07-12 17:19] pixelzoom opened #230 "Beers Law Lab - PhET-iO redesign"
There are several open issues labeled with dev:phet-io that have been open for quite awhile, with no progress.   Some have comments like "waiting until API redesign", e.g. https://github.com/phetsims/beers-law-lab/issues/223#issuecomment-356489916.   I'm responsible for this sim, and I don't like having things in a transient state for so long.  So... I think we should redesign the PhET-iO API for

[2018-07-12 17:21] pixelzoom commented on #152
On 9/5/2017, @amanda-phet said:

What is the status of this? Has the information been added to teacher tips?  Has this been discussed with @kathy-phet?

[2018-07-12 17:31] pixelzoom commented on #230
To do this redesign, we'll need to know what features clients are currently using, so that we don't remove something that is being used.  @samreid @zepumph how do we determine this?

[2018-07-12 18:47] kathy-phet commented on #229
I did quick trial and it seemed to work great to me.

[2018-07-12 18:53] arouinfar commented on #229
Looks good to me too. Thanks @pixelzoom!

[2018-07-13 00:32] pixelzoom commented on #229
We're ready to do a 1.6-phetio maintenance release. I haven't published a PhET-iO version yet, and it looks like this release branch requires chipper 1.0.   @samreid @zepumph please advise.

[2018-07-13 01:41] zepumph commented on #229
If @jonathanolson hasn't done this release yet for the scenery bug, then everything will be taken care of when he does that. @pixelzoom does this need an rc test before publishing?

[2018-07-13 15:41] pixelzoom commented on #229
@zepumph asked:

Since this is a release branch and has been published before, I would guess that it's already been through RC test.  But I can't find a test matrix or GitHub issue indicating that 1.6-phetio has been RC tested.  @samreid?

[2018-07-13 15:47] kathy-phet commented on #229
Steele tested it for the purposes of this study. Not sure if full rc.

Let’s publish for this particular use.

Kathy

Sent from my iPhone

On Jul 13, 2018, at 9:41 AM, Chris Malley <notifications@github.com<mailto:notifications@github.com>> wrote:

@zepumph<https://github.com/zepumph> asked:

does this need an rc test before publishing?

Since this is a release branch and has been published before

[2018-07-13 15:51] pixelzoom commented on #229
@kathy-phet What is the deadline for publishing?

@jonathanolson When will you be doing the "release for the scenery bug"?

[2018-07-13 17:09] amanda-phet commented on #152
I just checked and didn't see this in the teacher tips. I will bring it up at our website/design meeting on Tuesday.

[2018-07-13 17:11] samreid commented on #230
@kathy-phet is aware of how clients are leveraging some of the simulations, and it would be good for her to attend the design meetings.

[2018-07-13 18:00] pixelzoom commented on #229
Following Slack conversation with @jonathanolson, @samreid, @zepumph...

@jonathanolson will handle the 1.6.5 maintenance release.  Please report here when completed.

[2018-07-13 19:22] kathy-phet commented on #229
Thanks for the update. No definitive deadline but I will send it along when it is ready. I’m sure sooner would be better but I imagine they won’t do much with it until sometime next week.

Sent from my iPhone

On Jul 13, 2018, at 12:00 PM, Chris Malley <notifications@github.com<mailto:notifications@github.com>> wrote:

Following Slack conversation with @jonathanolson<https://github.com/jonathanols

[2018-07-13 19:34] pixelzoom commented on #152
Since this issue was created, additional "public facing" query parameters have been added.  For the most current list, see [BLLQueryParameters.js](https://github.com/phetsims/beers-law-lab/blob/master/js/common/BLLQueryParameters.js) and read the documentation.

[2018-07-13 22:43] jonathanolson commented on #229
1.6.5 is deployed, but still has the wrong path on the phet-io server. @samreid or @zepumph, can this sim be run from /sims/beers-law-lab/1.6.5, or is a workaround for the directory name needed?

[2018-07-15 22:46] samreid commented on #229
That path works great--we don't need to retrofit it to add the "phetio" to the directory name.

[2018-07-15 22:47] samreid commented on #229
I wasn't sure whether to reassign this to @jonathanolson or @pixelzoom, so I went for both!

[2018-07-15 22:48] pixelzoom commented on #229
I know nothing about phetio deployment paths, so self-unassigning.   When successfully deployed, this issue can be closed.

[2018-07-15 23:16] zepumph commented on #229
We should most definitely verify this in the wrappers.

[2018-07-16 00:16] samreid commented on #229
Good catch @zepumph I'm seeing this problem:

![image](https://user-images.githubusercontent.com/679486/42739786-0d291438-885b-11e8-9911-3cc921aebfd3.png)

You can see in the iframe it is referring to the "-phetio" path, so that would most likely resolve the problem.

@zepumph will renaming the directory be sufficient to solve this problem?

[2018-07-16 15:45] pixelzoom commented on #229
I said:

Sorry, this issue should not be closed when the phet-io version is deployed.  It should remain open until the next deployment of the public version.

[2018-07-17 00:52] zepumph commented on #229
I renamed the directory on phet-server and all works now,

https://phet-io.colorado.edu/sims/beers-law-lab/1.6.5-phetio/wrappers/index/

How should we document this, if at all?

[2018-07-17 15:10] samreid commented on #229
What if we decide not to do maintenance on legacy versions of Beer's Law Lab PhET-iO any more, and instead focus on getting a new version out that uses chipper 2.0?

[2018-07-17 16:50] pixelzoom commented on #229
@samreid said:

Yes.  I would really like to see us address the API redesign (https://github.com/phetsims/beers-law-lab/issues/230) and the open PhET-iO issues.    As the responsible developer, I don't like having this sim in "limbo" for this long.

[2018-07-17 16:52] pixelzoom commented on #229
@samreid @zepumph Is the 1.6.5 redeploy complete? Has @kathy-phet been notified?

If yes...  Then this issue should be relabeled with 'status:fixed-awaiting-deploy' until the next time we deploy the public version.

[2018-07-17 16:56] samreid commented on #229
I'm not sure--I asked in https://github.com/phetsims/phet-io/issues/1329#issuecomment-405652723

[2018-07-17 17:44] zepumph commented on #229
I updated the spreasheet for BLL to say the latest version is 1.6.5-phetio, and the sim is published and working. Since @jonathanolson unassigned himself yesterday, it seems like he thought there was nothing left for him to do. @jonathanolson please comment if you feel differently. Unassigning and marking "fixed-awaiting-deploy" for master.

[2018-07-18 16:18] samreid commented on #229
@kathy-phet said:

@zepumph said:

[2018-07-18 16:18] samreid commented on #229
I replied:

Kathy,

Beer's Law Lab was published to https://phet-io.colorado.edu/sims/beers-law-lab/1.6.5-phetio/wrappers/index/  This includes the Safari iOS touch bugfix as well as the "increments of 5" slider change as described in https://github.com/phetsims/beers-law-lab/issues/229

Best Regards,
Sam

[2018-07-18 16:23] samreid commented on #229
I updated partners.md in the preceding commit.  Not sure what else remains for this issue.  @pixelzoom can you review the preceding comments and see what remains?

[2018-07-18 18:27] pixelzoom commented on #229
Nothing else required for the PhET-iO redeploy.

Leaving this open and labeled "fixed-awaiting-deploy" to identify it as a change in the next public release.

[2018-07-18 21:06] amanda-phet commented on #152
We discussed this 8/17/18 (again) and in the short-term, either I or @CWilson4960 will add this to the BLL and Concentration teacher tips. Long-term we still need a teaching resources page about query parameters.

[2018-07-24 18:56] zepumph commented on #209
On second thought, dropping priority because I should work on FL thoughtful api first.

[2018-09-07 04:00] amanda-phet commented on #152
@CWilson4960 please close this issue when you have uploaded the updated teacher tips for Concentration and BLL.

[2018-09-07 17:48] #152 closed

[2018-10-03 18:07] zepumph commented on #230
https://github.com/phetsims/sun/issues/405 will need to be addressed for this too.

[2018-11-01 17:16] pixelzoom commented on #88
@jbphet Checking in on the status of this branch.  Is it still relevant, or has sonification matured to a state where this branch can be deleted?

[2018-11-01 17:36] jbphet commented on #88
Let's keep it around until a sound design is started for this sim, which might be a while.  There is a published dev version of the work that was done on this branch at https://phet-dev.colorado.edu/html/concentration/1.2.0-sonification.3/concentration_en.html, and there may be a desire to extract some of the sounds used for this initial cut and, if so, it'll be better to have the branch around.

[2018-11-01 17:40] jbphet commented on #85
This isn't really a duplicate of #88.  That one is that standard issue about why a branch exists, this is to track the request.  Or it was - the work is done on that.

For reference, here's a link to a published dev version of the concentration sim with prototyped sound: https://phet-dev.colorado.edu/html/concentration/1.2.0-sonification.3/concentration_en.html.

[2018-11-02 05:11] pixelzoom opened #231 "convert to BooleanProperty, NumberProperty, StringProperty"
... where possible. See https://github.com/phetsims/axon/issues/196.

[2018-11-02 05:28] pixelzoom commented on #231
Done. Tested with `?ea&fuzz` for brand=phet and in Studio.  Closing.

[2018-11-02 05:28] #231 closed

[2018-11-07 21:50] pixelzoom commented on #126
I got pretty far with what I proposed in https://github.com/phetsims/beers-law-lab/issues/126#issuecomment-436764297, not checked in, but see the screenshot below.  The top slider is the original implementation `ConcentrationControl`, which controls whatever solution is selected. The bottom slider is a `NumberControl` that is specific to "Drink Mix".

Two significant problems:

(1) Filling the tra

[2018-11-07 21:56] pixelzoom commented on #126
(1) above turned out to be easy.  NumberControl passes all options to Slider, and Slider does work with a LinearGradient track fill.  Screenshot:

![screenshot_839](https://user-images.githubusercontent.com/3046552/48163575-4464ce00-e29d-11e8-8f71-f181433c2c0a.png)

[2018-11-07 22:08] pixelzoom commented on #126
(2) above was resolved by using a DynamicProperty to map between model and view concentration values.

[2018-11-07 23:03] pixelzoom commented on #126
The new version of `ConcentrationControl` was committed above.  There is now one instance of `ConcentrationControl` per solution, and one instance is made visible depending on which solutions is selected in the combo box.  (There is of course nothing to prevent the client from making more than one, or the wrong one, visible.)

The phetioIDs for the 8 controls are:

[code]

I also added `phetioDocu

[2018-11-07 23:10] pixelzoom commented on #229
Ugh... https://github.com/phetsims/beers-law-lab/issues/126 broke this, and I'll need to reimplement it.  Starting over.

[2018-11-07 23:11] pixelzoom commented on #126
This also broke https://github.com/phetsims/beers-law-lab/issues/229 (moving the thumb in 5 unit increments), so I'll need to start over on that.

[2018-11-07 23:15] pixelzoom commented on #126
Removing the a11y label, since we're now using NumberControl and a11y should be handled therein.

[2018-11-07 23:44] pixelzoom commented on #126
Over to @samreid for review.  See https://github.com/phetsims/beers-law-lab/issues/126#issuecomment-436810280 for a summary of what was done.

[2018-11-07 23:56] pixelzoom commented on #229
Fixed in the above commit.  Back to "awaiting deploy".

[2018-11-08 00:03] pixelzoom commented on #165
This will be addressed in the API redesign #230.

[2018-11-08 00:03] #165 closed

[2018-11-08 00:03] pixelzoom commented on #205
This will be addressed in API redesign #230.

[2018-11-08 00:03] #205 closed

[2018-11-08 00:06] samreid commented on #126
What is the timeline for review?

[2018-11-08 00:07] pixelzoom commented on #230
From #230 - The concentration meter on the Concentration screen is the only readout that is currently instrumented. Decide whether to instrument other readouts similarly (AT detector, ...)

[2018-11-08 00:08] pixelzoom commented on #205
For these:

[code]

ConcentrationControl was reimplemented as a subtype of NumberControl in #126, and now has all of the instrumentation that comes with NumberControl.

[2018-11-08 00:10] pixelzoom commented on #205
For these:

[code]

... the problem (if it's still a problem) is likely in SCENERY_PHET/SpectrumSlider.

[2018-11-08 00:12] pixelzoom commented on #205
Looking at wavelengthSlider in Studio, I see something totally different now.   So leaving this closed, and we'll reconfirm when we revise the API.

[2018-11-08 00:16] pixelzoom commented on #126
Whenever this sim is ready for a new release branch.  No idea when that might be.

[2018-11-13 00:06] samreid commented on #126
Instead of this code:

[code]

Would it be appropriate to use `ToggleNode`?

[2018-11-14 15:49] pixelzoom commented on #126
See https://github.com/phetsims/beers-law-lab/commit/8c222d2c4f1a1d45e6c8df1ed1c0bdee19622605.

`ConcentrationControl` called `getDisplayConcentration`, which called `concentrationTransform.modelToView`:

[code]

And `getDisplayConcentration` was deleted from BeersLawSolution:

[code]

[2018-11-14 16:26] pixelzoom commented on #126
Done in the above commit.

[2018-11-14 16:27] pixelzoom commented on #126
Recommendation and question addressed.  Back to @samreid to review answer to his question in https://github.com/phetsims/beers-law-lab/issues/126#issuecomment-438710623.  If that's clear, feel free to close this issue.

[2018-11-14 16:52] samreid commented on #126
The newly introduced code for creating `toggleNodeElements` currently reads like this:

[code]

This is the perfect opportunity to use `map`:

[code]

Everything else looks great.

[2018-11-14 17:02] pixelzoom commented on #126
Done, closing.

[2018-12-04 15:50] KatieWoe opened #232 "CT: iframe api failed"
[code]

[2018-12-04 16:59] pixelzoom commented on #232
This is caused by https://github.com/phetsims/phet-io/issues/1418, nothing sim specific to do.

[2018-12-04 16:59] #232 closed

[2018-12-04 22:05] pixelzoom commented on #228
The issue of what precipitate state to save/restore will be addressed in #230 (redesign PhET-iO API).
So I doubt that we will ever address this in the 1.5-phetio branch.  @samreid can this issue be closed with "won't fix" ?

[2018-12-04 22:09] #228 closed

[2018-12-04 22:19] pixelzoom commented on #161
This should be addressed in #230 as part of PhET-iO API redesign.

[2018-12-28 18:50] pixelzoom commented on #126
Reopening because the arrow buttons have apparently never worked. See https://github.com/phetsims/scenery-phet/issues/448#issuecomment-450408651.

[2018-12-28 18:51] pixelzoom opened #233 "arrow buttons for Concentration control do not work"
The arrow buttons for the Concentration control do not work. Probably broken by https://github.com/phetsims/beers-law-lab/issues/126.  See `options.delta` in `ConcentrationControl`.

[2018-12-28 18:51] pixelzoom commented on #126
Move to new issue https://github.com/phetsims/beers-law-lab/issues/233. Closing.

[2018-12-28 18:51] #126 closed

[2018-12-28 19:00] pixelzoom commented on #233
Fixed, closing.

[2018-12-28 19:00] #233 closed

[2019-01-07 22:36] pixelzoom commented on #230
- [ ] Decide how to form the tandem names for ComboBoxItemNode instances. This is currently a little awkward.  Not sure whether to add "ItemNode" suffix, or store complete string (e.g. "drinkMixItemNode") as a field in the associated model element.

[2019-01-08 01:59] samreid commented on #230
Having fully formed tandem components such as `'drinkMixItemNode'` makes debugging and understanding a breeze.  In places where we have tried things like `element.tandemName+'ItemNode'`, it has been harder to understand and maintain.  Tagging @zepumph in case he has additional thoughts.

[2019-02-05 19:32] pixelzoom opened #234 "replace '{0}' with NumberDisplay.NUMBERED_PLACEHOLDER"
Noted in https://github.com/phetsims/scenery-phet/issues/446

ConcentrationControl:

[code]

[2019-02-05 21:50] pixelzoom commented on #234
Done, closing.

[2019-02-05 21:50] #234 closed

[2019-04-02 14:39] KatieWoe opened #235 "CT: Tandem was required but not supplied"
[code]

Wondering if this is another CT error.  Sorry if it is.

[2019-04-02 14:40] KatieWoe commented on #235
Actually, I'm seeing this error in a lot of places.  May make a general issue somewhere.

[2019-04-02 14:54] KatieWoe commented on #235
General issue made: https://github.com/phetsims/tandem/issues/83.  Closing

[2019-04-02 14:54] #235 closed

[2019-04-10 19:07] KatieWoe opened #236 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* Radio buttons
* Left and right arrow buttons
* Blue pointer area of concentration tools looks off in landscape

Screenshots:
![Image from

[2019-04-10 22:37] pixelzoom commented on #236
@KatieWoe noted:

Please create a separate issue for that, it's likely a bug.

[2019-04-11 13:49] arouinfar commented on #236
Let's include the solid/solution and preset/variable text in the touch area for the radio buttons.

The tweakers are in close proximity to other UI components, so we'd need to dilate the touch areas asymmetrically. For Wavelength, I think we would keep the same top/inner boundaries, and dilate a bit to the bottom/outside. For Concentration, I'd keep the same inner boundary, but dilate in the other

[2019-04-11 15:00] KatieWoe opened #237 "Blue pointer area of concentration tool droops down"
Documented in https://github.com/phetsims/beers-law-lab/issues/236.  Also seen in the Concentration sim.  When looking at the pointer areas of the concentration tool, the blue one that indicates mouse interaction droops down.  On my iphone it seemed to occur in landscape mode, but upon checking other platforms it seems to be the norm there.  This pointer area doesn't seem to be actually be interac

[2019-04-11 15:01] KatieWoe commented on #236
New issue made

[2019-04-11 15:49] pixelzoom commented on #236
@arouinfar wrote:

The label on radio buttons (text, icon, or text + icon) are automatically included in default pointer areas. And default point areas are not displayed using `?showPointerAreas`.   So I question where anything needs to be done for the solid/solution buttons.  @arouinfar?

[2019-04-11 16:07] pixelzoom commented on #237
Screenshot from #236:

![](https://user-images.githubusercontent.com/41024075/55906490-9e8df600-5b91-11e9-888e-2e033e5942a6.png)

[2019-04-11 16:14] pixelzoom commented on #237
This is bug in SCENERY_PHET/ProbeNode.  There's a problem with the default pointer areas when the probe is rotated. Default pointer areas are set like this:

[code]

scenery-phet demo shows the default orientation of the probe:

<img width="271" alt="screenshot_1128" src="https://user-images.githubusercontent.com/3046552/55973085-10257d00-5c42-11e9-9139-6913a8a50c9b.png">

If I rotate the scenery-

[2019-04-11 16:22] pixelzoom commented on #237
Transferring this issue from beers-law-lab to scenery-phet, since it's not specific to beers-law-lab.

[2019-04-11 23:34] pixelzoom commented on #236
@arouinfar said:

This is not supported by the WavelengthSlider common-code component.  Horizontal dilation is indeed to the outside direction.  But top and bottom dilation must be the same. So I'm going to proceed with that.

[2019-04-12 02:55] pixelzoom commented on #236
@arouinfar wrote:

Concentration is a NumberControl, and this is currently not supported.  In fact, this seems to be a general problem with NumberControl.  Pointer areas for the arrow buttons can only be dilated via `arrowButtonOptions`, and the dilation is the same amount around the button. That results in overlap with the slider thumb, e.g. in the screenshot below.   What we want is dilation sim

[2019-04-12 03:08] pixelzoom commented on #236
List of UI elements to be adjusted:

- [ ] Solid and Solution radio buttons
- [ ] preset and variable radio buttons
- [ ] wavelength arrow buttons
- [ ] Concentration arrow buttons (phetsims/scenery-phet#236)
- [ ] Concentration probe (https://github.com/phetsims/scenery-phet/issues/488)

[2019-04-12 19:25] pixelzoom commented on #236
Blocked by https://github.com/phetsims/scenery-phet/issues/488.

[2019-04-22 18:36] KatieWoe opened #238 "Solute particles jump around when tub is draining"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
Minor bug found in https://github.com/phetsims/QA/issues/309.
When there are a smaller number of particles sitting at the bottom of a saturated solution, draining the solution causes some of the particles to move along the bottom wildly until draining stops.  Seen in older versions, so not connected to

[2019-04-24 17:44] pixelzoom commented on #238
This is a duplicate of https://github.com/phetsims/beers-law-lab/issues/175. We thought that issue had mysteriously corrected itself, but apparently not.  I'm going to move the info in https://github.com/phetsims/beers-law-lab/issues/238#issue-436825355 to #175, and close this as a duplicate.

[2019-04-24 17:45] pixelzoom commented on #175
This problem has resurfaced.  In https://github.com/phetsims/beers-law-lab/issues/238#issue-436825355, @KatieWoe reported:

**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
Minor bug found in https://github.com/phetsims/QA/issues/309.
When there are a smaller number of particles sitting at the bottom of a saturated solution, draining the solution caus

[2019-04-24 17:45] #238 closed

[2019-04-25 18:42] pixelzoom commented on #236
4/25/19 dev meeting:

@ariel-phet said that the blocking issue phetsims/scenery-phet#488 is not a priority, so neither is this issue.  Unassigning.

[2019-06-18 01:22] pixelzoom opened #239 "Probes have incorrect pointer areas"
This was factored out of https://github.com/phetsims/beers-law-lab/issues/236.

This sim suffers from the issue described in https://github.com/phetsims/scenery-phet/issues/488.  Blocked until that issue is addressed.

[2019-06-18 01:23] pixelzoom commented on #236
I moved the ProbeNode issue to https://github.com/phetsims/beers-law-lab/issues/239.  It was the last issue discussed herein, and it's unlikely to be addressed in the near future.  Closing this issue.

[2019-06-18 01:23] #236 closed

[2019-07-18 18:28] pixelzoom opened #240 "migrate PhET-iO metadata from code to overrides.js"
Migrate specification of metadata from code to overrides.js (specified using Studio).  This task is similar to what I did for Graphing Quadratrics, summarized in https://github.com/phetsims/graphing-quadratics/issues/112#issuecomment-501020129.   It mainly involves relocating `phetioFeatured` and `phetioComponentOptions`.

In 7/18/19 status meeting, @kathy-phet said I should do this whenever I hav

[2019-08-08 17:51] pixelzoom commented on #240
On hold until @kathy-phet reports back on the plan for https://github.com/phetsims/phet-io/issues/1541.

[2019-08-19 19:15] pixelzoom commented on #240
Self unassigning until @kathy-phet determines priorities and schedule.

[2019-10-02 16:38] KatieWoe commented on #197
Saw this on iPhone for https://github.com/phetsims/QA/issues/433 on the later phet-io branch.

[2019-10-02 16:44] pixelzoom commented on #197
@KatieWoe does this issue need to be reopened?

[2019-10-02 16:46] KatieWoe commented on #197
I don't think so, I checked older releases of the same branch, and this isn't new.  I was just documenting.  But if others disagree It can be reopened.

[2019-10-02 17:11] pixelzoom commented on #197
I'm confused.... In https://github.com/phetsims/beers-law-lab/issues/197#issuecomment-272571044, @samreid said "The proposed workaround looks OK and seems to work properly".  But @KatieWoe says this doesn't need to be reopened because "this isn't new".    It may not be new, but it's also not fixed.  Can someone clarify?

[2019-10-02 17:12] KatieWoe commented on #197
It looks fixed in published, but it looks like the fix didn't go out to the phet-io branch.

[2019-10-02 17:14] pixelzoom commented on #197
@samreid Should the fix be applied to the phet-io branch?

[2019-10-02 17:16] pixelzoom commented on #197
... and what is "the phet-io branch".  I see no branch named "phet-io", and 3 branches with "phetio" in their name.

[2019-10-02 17:17] KatieWoe commented on #197
https://phet-dev.colorado.edu/html/beers-law-lab/1.6.14-rc.2/beers-law-lab_en-phetio.html?phetioStandalone

[2019-10-02 19:48] samreid commented on #197
Our policy is to spend a minimal or no time maintaining these legacy PhET-iO simulations, since we are focusing on their next major release (using modern studio).  Sound OK?

[2019-10-03 01:00] pixelzoom commented on #197
OK, let me summarize: It was fixed in the public version. It was not fixed in the legal PhET-iO version because we're not maintaining them.  Therefore it's OK to close this issue.   If I have that wrong, please reopen.

[2019-10-03 01:00] #197 closed

[2019-10-17 01:58] pixelzoom commented on #230
Adding "block-sim-publication" label because this sim is still in a sub-standard state.

[2019-11-15 15:44] KatieWoe opened #241 "CT api mismatches"
[code]

[2019-11-15 16:47] pixelzoom commented on #241
I suspect this is due to some change made by the PhET-iO team.  @zepumph @samreid @chrisklus?

[2019-11-15 16:58] chrisklus commented on #241
Thanks @KatieWoe @pixelzoom. Should be fixed, I'll close after another round of CT.

[2019-11-15 18:52] pixelzoom opened #242 "setting maxWidth for listboxParent causes scale/position problem"
See https://github.com/phetsims/sun/issues/542.

[2019-11-15 18:52] pixelzoom commented on #242
Fixed in the above commit.

[2019-11-15 20:46] chrisklus commented on #241
Looks good, closing.

[2019-11-15 20:46] #241 closed

[2020-02-14 01:18] samreid opened #243 "branch: dynamic-layout"
For https://github.com/phetsims/joist/issues/608

[2020-02-17 14:10] samreid opened #244 "CT: should have type: ShakerParticleIO in allTypes"
On Slack, @pixelzoom pointed out:

This problem can be reproduced by running Beer's Law Lab in studio, then shaking out some solute from the shaker.

I suspect the problem is that Beer's Law Lab is using the legacy pattern for dynamic state, and hence `ShakerParticleIO` is not created during baseline creation.  Porting to the new PhetioGroup pattern should address this.

This longstanding problem

[2020-02-18 16:54] pixelzoom commented on #244
Also occurs in Concentration.

[2020-02-20 22:51] pixelzoom opened #245 "use AquaRadioButtonGroup"
From https://github.com/phetsims/sun/issues/555, convert this sim to use AquaRadioButtonGroup for phet-io.

Use in place of AquaRadioButton in these places:

- [x] `SoluteFormNode`, we'll  have to drop the vertical separator here.
<img width="439" alt="screenshot_140" src="https://user-images.githubusercontent.com/3046552/74987583-bb719780-53f8-11ea-894d-ffc7ab17d814.png">

- [x] `ATDetectorNode`

[2020-02-25 21:23] pixelzoom commented on #244
I'm guesing that we'll need to do the same for SoluteParticle, which is a subclass of ShakerParticle.

[2020-02-25 21:24] pixelzoom commented on #244
Slack phet-io channel:

Chris Malley  1:48 PM
Can someone from the PhET-iO team point me to an example of "the new PhetioGroup pattern" so that I can address https://github.com/phetsims/beers-law-lab/issues/244?

Sam Reid  1:50 PM
If I recall correctly, “Charges and Fields” uses this pattern properly.  However, I wonder if it would be best to schedule a collaboration with CK, SR or MK as you take

[2020-02-25 21:27] pixelzoom commented on #244
I made baby steps, then bailed.

In ShakerParticle.js, I added:

[code]

In ShakerParticles.js (where ShakerParticle instances are created) I created the PhetioGroup in the constructor:

[code]

Then created ShakerParticle like this in `step`:

[code]

This was giving me this Error on startup:

[code]

[2020-02-26 15:05] pixelzoom commented on #245
Work has been completed in the above commits.  PhET-iO API was updates and tested in Studio.

Closing.

[2020-02-26 15:05] #245 closed

[2020-02-27 06:26] pixelzoom commented on #244
After converting beers-law-lab to ES6 classes, this Error has morphed into this:

[code]

Here's the line that's failing in SoluteIO. `phet.beersLawLab.Solute` is apparently "not an object".

[code]

[2020-02-27 06:27] pixelzoom opened #246 "CT: Right-hand side of 'instanceof' is not an object"
After converting beers-law-lab to ES6 classes, this Error started occurring in CT, and seems to be masking #244:

[code]

Here's the line that's failing in SoluteIO. `phet.beersLawLab.Solute` is apparently "not an object". I'm guessing that it's undefined.

[code]

[2020-02-28 16:07] KatieWoe commented on #246
Also in Concentration:
[code]

[2020-02-28 16:25] pixelzoom commented on #246
Now that we've converted to ES6 modules, my understanding is that cyclic dependencies are OK (because binding are imported, not references).  So I'm hoping that replacing `phet.beersLawLab.Solute` with `import` will resolve this issue.   @samreid does that sound promising?

[2020-02-28 16:32] samreid commented on #246
Yes, bindings are imported, but it is unclear whether it would help in this circumstance.  For instance:

[code]

This loads correctly and runs correctly.

Hopefully this advantage will translate to IO types, but I haven't tested it yet.

[2020-02-28 16:43] samreid commented on #246
I tested this in Energy Skate Park and it worked great:

[code]

[2020-02-28 16:44] samreid commented on #246
However, this fails:

[code]

with this error:

[2020-02-29 02:33] pixelzoom commented on #246
I'm trying this in ph-scale and it's failing.

Solute.js:

[code]

SoluteIO.js:

[code]

What am I doing wrong?

[2020-02-29 02:44] pixelzoom commented on #246
Maybe it's failing because I have static instances of `Solute`?  `grunt update` error says

`at http://localhost/~cmalley/GitHub/ph-scale/js/common/model/Solute.js:139:24`

... which is the line number of the first static instance.

[2020-02-29 14:09] samreid commented on #246
The problem is not merely that they `Solute` instances are being created statically.  The problem is that they are being created statically *during the definition of `Solute.js`*. By moving them to a separate file, SoluteIO and Solute can reference each other without any problem:

<details>

[code]

</details>

Note, I also tried to convert SelectableSolutes to `Enumeration.byMap` but got an error

[2020-03-02 17:46] pixelzoom commented on #246
Fixed in the above commits.  In general, static instances that have an associated IO type need to be factored out into their own .js file.   Otherwise the import (binding) of the IO-type is used to get its value, and that fails due to cyclic dependency.

I factored out SoluteInstances and BeersLawSolutionInstances, static instances of Solute and BeersLawSolution respectively.   Tested using http:/

[2020-03-02 17:46] #246 closed

[2020-03-02 21:10] pixelzoom commented on #244
@samreid and I paired on conversions of ShakerParticle via Zoom.  Then I worked on PrecipitateParticle, followed by generalization and cleanup.  See above commits.   Tested with standalone, state wrapper, and Studio.

@samreid would you please review, since you're most familiar with this?

Finally, some thoughts on this task, for the benefit of @samreid, @zepumph, @chrisklus, @kathy-phet, and @ari

[2020-03-02 21:13] pixelzoom commented on #223
ShakerParticlesIO was deleted as part of #244, so this issue can be closed.

[2020-03-02 21:13] #223 closed

[2020-03-02 21:16] pixelzoom commented on #209
With the conversion to PhetioGroup in #244, there's a possibility that performance may be impacted further.   The previous implementation resulted in at most 1 call to `invalidatePaint` on each call to `step`.  The PhetioGroup implementation results in a call to `invalidatePaint` for each particle added or removed, as well as 1 call to `invalidatePaint` per step if any particle has moved.

[2020-03-02 21:16] pixelzoom commented on #244
See also a potential performance impact of using PhetioGroup, described in https://github.com/phetsims/beers-law-lab/issues/209#issuecomment-593625698.

[2020-03-02 21:26] samreid commented on #244
Generally, this usage looks good, and it has nice behavior in the state wrapper.  Some review comments and questions:

* It looks like `ShakerParticles.createGroup` should be removed.
* `PrecipitateNode.js` isn't adding too much, perhaps it should be deleted. I don't feel too strongly about this one.
* Will you also need to `grunt update` in concentration?
* When shaking solute out in studio, and

[2020-03-02 21:29] kathy-phet commented on #209
Does each particle need to be instrumented? What if that wasn't part of state, but just populated based on how saturated the solution was?

[2020-03-02 21:48] pixelzoom opened #247 "spurious piece of solute appears after launching in Studio"
In https://github.com/phetsims/beers-law-lab/issues/244#issuecomment-593631064, @samreid reported:

We'll look at this as part of PhET-iO redesign #230.

[2020-03-02 21:50] pixelzoom commented on #244
Good catch, thanks, done in above commits.

I prefer to keep it, for symmetry with ShakerParticlesNode.  And it's unpacking `ShakerParticles` to super constructor args.

Done in above commits.

No idea, but I can't spend any more time on this now. Tracking in #247.

Closing.

[2020-03-02 21:50] #244 closed

[2020-03-02 21:59] pixelzoom commented on #209
We just did a lot of work in #244 to instrument every particle (mainly because it was causing the sim to fail CT), so it will be a shame if we chuck all of this.  But we can certainly revisit when we get to redesign in #230.   Populating based on how saturated the solution is only works for precipitate, and precipitate isn't the main performance issue (it just sits there on the bottom of the beake

[2020-03-02 22:08] kathy-phet commented on #209
Those particles dropping transient, so I would be OK with not instrumenting them. I don't think we need to support launching a saved simulation with particles that are actually dropping. @arouinfar - what do you think?

[2020-03-02 22:16] samreid commented on #209
Please confirm that multiple calls to `invalidatePaint` are actually a performance problem before making any changes based on that assumption.

[2020-03-02 23:20] pixelzoom commented on #247
To reproduce:

1. Start the sim in Studio
2. Go to Concentration screen
3. Move the shaker
4. Press the "Launch" button in Studio
5. The sim opens in a new tab. Note that 1 solute particle will be dispensed from the shaker.

The relevant Property is `dispensingProperty` in Shaker, and it's set in `step`:

[code]

Over in ShakerParticles, particle instances are created if:

`if ( shaker.dispensingR

[2020-03-03 02:52] pixelzoom commented on #247
I created phetsims/phet-io#1624 to come up with a general solution to knowing when state is being restored. Assigned to the PhET-iO team. This issue is blocked until that is addressed.

[2020-03-03 22:44] zepumph commented on #244
I am just entering this discussion now, so forgive me if we have discussed this, but did you thing about creating a separate PhetioGroup in the model and then creating an `ObservableArray` that listens to the PhetioGroup and populates itself based soley on the PhetioGroup? This is perhaps a bit redundant, but could potentially lead to less refactoring of code that had been interfacing with an arra

[2020-03-04 22:26] pixelzoom commented on #247
Over in phetsims/phet-io#1624,  `phet.joist.sim.isSettingPhetioStateProperty` was added to determine whether PhetioEngine is setting state. I'll proceed with that.

[2020-03-04 23:19] pixelzoom opened #248 "Reset All doesn't reset to PhET-iO restore state"
Some of the restored state in this sim does not become the new initial state, and pressing the Reset All button reverts to the default initial state.

For example:
1. Run BLL in Studio.
2. Go to Concentration screen
3. Change solute to Nickel(II) chloride
4. Shake some solute into the beaker
5. Press "Launch" in Studio
6. In the launched sim, press Reset All button. The solution reverts to 1/2L of

[2020-03-04 23:20] pixelzoom commented on #247
This was resolved by the above commits. Closing.

[2020-03-07 00:10] KatieWoe opened #249 "Reentry detected"
For ES6 testing. On master phet-io and phet brand.
If you add solute your mix, evaporate all the liquid, the try to add back water you are unable to and get this console error. You can then freeze the whole sim by, for instance, clicking remove solute.
![reentrydetected](https://user-images.githubusercontent.com/41024075/76131854-66737b00-5fcd-11ea-8a3b-621ac3508b7d.gif)

[2020-03-07 01:32] pixelzoom commented on #249
Steps to reproduce what @KatieWoe has shown above:

1. Run the sim with `?brand=phet&ea`.
2. Go to Concentration screen.
3. Shake some solute into the beaker.
4. Evaporate all solution from the beaker, leaving solute particles in the empty beaker.
5. Attempt to add water (via faucet) or solute (via dropper) to the beaker.

... then the Error shown in the gif above occurs.

Another way to cause the

[2020-03-07 01:32] pixelzoom commented on #249
Unassigning, no plans to work on beers-law-lab.

[2020-03-09 17:29] KatieWoe opened #250 "Evaporation slider can't be permanently disabled"
For ES6 Testing
When you use studio to disable the evaporation slider, adding or removing water/solution re-enables it.
![comesback](https://user-images.githubusercontent.com/41024075/76240607-255fae80-61f9-11ea-83dd-69d3d6a47fe4.gif)

[2020-03-09 17:52] pixelzoom commented on #250
My recommendation is to make `model.evaporator.enabledProperty` read only.  And if the Evaporation slider is irrelevant, then the client should set `view.evaporationControl.visibleProperty` to `false`.

[2020-03-09 17:58] pixelzoom commented on #250
While testing, I noticed that allowing the client to change `model.evaporator.evaporationRateProperty` is also problematic, and results in a hard failure.

So `model.evaporator.enabledProperty` and `model.evaporator.evaporationRateProperty` are now `phetioReadOnly: true` in the above commit.

Labeling this as "ready for review", but unassigned until we get to PhET-iO redesign in #230.

[2020-03-12 21:57] pixelzoom commented on #161
The "solute read out" mentioned here is the additional text that is added above the "Remove Solute" button in the Concentration screen, when the `showSoluteAmount` query parameter is added to the URL.  I.e.:

<img width="1107" alt="screenshot_180" src="https://user-images.githubusercontent.com/3046552/76570071-28b59d00-647a-11ea-948a-23fb3b30f3a0.png">

[2020-03-12 23:15] pixelzoom commented on #244
After this work was completed, @kathy-phet noted that we probably didn't need to instrument individual particles.   Oh well, at least I learned something about PhetioGroup.

[2020-03-13 04:27] samreid commented on #244
@kathy-phet @chrisklus and I discussed `PhetioGroup` usage earlier this week and, in my opinion, this usage of `PhetioGroup` is preferable to creating a function that re-randomizes the positions/locations of shaker particles or precipitate particles based on their number.  When we design the phet-io API for this sim, we may or may not decide that the falling solute particles are "transient" and sh

[2020-03-18 19:01] pixelzoom opened #251 "convert model.txt and implementation-notes.txt to .md"
.md is the PhET standard.

[2020-03-18 19:59] pixelzoom commented on #251
Done, closing.

[2020-03-18 19:59] #251 closed

[2020-03-20 23:14] arouinfar commented on #209
@kathy-phet agreed.

[2020-03-26 20:53] pixelzoom opened #252 "use subclassing for PhetioGroups"
Apply the pattern that's used in Natural Selection for PhetioGroups.  See for example `BunnyGroup` and `BunnyNodeGroup`.  Replace `createGroup` in ShakerParticle and PrecipitateParticle with `ShakerParticleGroup` and `PrecipitateParticle` respectively.

[2020-03-27 15:46] pixelzoom commented on #252
Done. Tested in Studio and State Wrapper. Closing.

[2020-03-27 15:46] #252 closed

[2020-05-15 17:37] pixelzoom opened #253 "invalid soluteGrams / should not be the same as current value"
Steps to reproduce:

1. Start Beer's Law Lab in State wrapper with `?sim=beers-law-lab&phetioDebug`
2. Go to Concentration screen
3. Select "Potassium permanganate" from Solute combo box
4. Shake the shaker until precipitate appears in the bottom of the beaker, and "Saturated!" is displayed.
5. Select another solute from Solute combo box

The sim will fail with:

[code]

This does not occur in the

[2020-05-29 01:55] pixelzoom opened #254 "why was 'on' changed to 'lazyLink'?"
In phetsims/beers-law-lab@a50707b for https://github.com/phetsims/scenery/issues/490, @jonathanolson made this change in ConcentrationMeterNode.js:

[code]

And in https://github.com/phetsims/scenery/issues/490#issuecomment-635691167, @zepumph asked why `on` was changed to `lazyLink` instead of `link`.   I'm interested in the answer.

[2020-06-02 15:18] jonathanolson commented on #254
It's because I was going for compatibility, and since `.on()` only added the listener without calling it, lazyLink is the appropriate thing to change it to.

[2020-06-02 15:33] pixelzoom commented on #254
Great, thanks for clarifying. Closing.

[2020-06-02 15:33] #254 closed

[2020-06-02 16:58] pixelzoom commented on #253
I'm going to unassigned this until this sim gets a PhET-iO overhaul in #230.

[2020-08-13 17:52] pixelzoom opened #255 "Add "Item" suffix to Solute combo box items"
For https://github.com/phetsims/sun/issues/615

In SoluteComboBox.js:

[code]

TODO list:

- [x] add "Item" suffix in SoluteComboBox.js (see above)
- [x] update any ids that appear in overrides.js

[2020-08-13 19:04] pixelzoom commented on #255
Done in the above commit.  Review will be done as part of #230 (PhET-iO redesign).  Closing.

[2020-08-13 19:04] #255 closed

[2020-09-02 23:56] zepumph commented on #209
I'm not sure who should be assigned here, perhaps the lead dev to determine if `invalidatePaint` is the cause of the issue?

[2020-09-03 00:03] pixelzoom commented on #209
This issue (and all PhET-iO related issues) is unassigned and deferred until work resumes on https://github.com/phetsims/beers-law-lab/issues/230  (redesign PhET-iO API).

[2020-09-08 17:02] oliver-phet opened #256 "User request: mass of solute added"

[2020-09-08 17:13] arouinfar commented on #256
@oliver-phet please direct the user to the Teacher Tips. The [?showSoluteAmount](https://phet.colorado.edu/sims/html/concentration/latest/concentration_en.html?showSoluteAmount) will display the amount of solute added in grams.

[2020-09-08 17:19] oliver-phet commented on #256
Replied to user. Closing!

[2020-09-08 17:19] #256 closed

[2020-09-08 23:34] pixelzoom opened #257 "replace deprecated input listeners"
Related to https://github.com/phetsims/scenery/issues/1078.

- [x] ATDetectorNode: MovableDragHandler > DragListener
- [x] ConcentrationMeterNode: MovableDragHandler > DragListener
- [x] BLLRulerNode: MovableDragHandler > DragListener
- [x] BLLDropperNode: MovableDragHandler > DragListener
- [x] ShakerNode: MovableDragHandler > DragListener
- [x] CuvetteNode: SimpleDragHandler > DragListener, Fill

[2020-09-09 02:05] pixelzoom commented on #257
I had the same difficulty with ATDetectorNode, ConcentrationMeterNode, and BLLRulerNode.  On press, they jumped to an unexpected position and stayed there ever after.

[2020-09-09 14:53] KatieWoe opened #258 "CT required tandems must be supplied"
[code]

[2020-09-09 17:36] pixelzoom commented on #258
This regression occurred when converting to PressListener for #257.    Fixed above, closing.

[2020-09-09 17:36] #258 closed

[2020-09-18 13:21] samreid commented on #253
I discovered this problem today while working on https://github.com/phetsims/tandem/issues/211.  I also noticed that if you switch from saturated Cobalt II Nitrate, then switch to drink mix, you get a slightly different error:

![image](https://user-images.githubusercontent.com/679486/93602176-83770680-f97f-11ea-908f-3b10451eb9ef.png)

[2020-09-21 06:11] pixelzoom opened #259 "revisions for new IO Type pattern"
Related to the new IO Type pattern conversion that's being done in https://github.com/phetsims/tandem/issues/211...

BeersLawSolutionIO should be moved into BeersLawSolution.  That will remove the circular reference, and then the static instances defined in BeersLawSolutionInstances can be defined in BeersLawSolution.

Ditto for SoluteIO, Solute, and SoluteInstances. (And similar to https://github

[2020-09-21 14:41] samreid commented on #259
So you're aware, in https://github.com/phetsims/tandem/issues/211#issuecomment-695075392 I commented that

I don't think changes like https://github.com/phetsims/ph-scale/issues/205 or even this issue are problematic.  But I wanted to make sure you are aware that this has not been reviewed by @zepumph or put through QA testing, and there may be more revisions to the strategy before it is complete.

[2020-09-21 16:23] pixelzoom commented on #259
Got it, I did see your comment.  But it didn't say anything about cleaning up static instances (which I don't regard as "busywork").  I don't plan to do this work right away, but created this issues as a reminder.

[2020-09-29 19:37] samreid commented on #247
The second-to-previous commit left some code commented out that seemed suspicious.  I discovered it as I was working on https://github.com/phetsims/tandem/issues/212.

Shaker has:

[code]

Is this meant to be commented out?  If so, can ShakerIO be deleted?

[2020-09-29 19:52] pixelzoom commented on #247
I commented it out in 0d53c0d1b9b9f4a4c9f257aa6e7522b66e2a9442, but I suspect that was not intentional. I typically do not commit dead code.

I didn't instrument this sim, so I don't know why ShakerIO was instrumented, or if it needs to be. Probably a topic for #230.

[2020-11-04 21:16] pixelzoom commented on #243
phetsims/joist#608 is closed. And dynamic layout has been in use for awhile, via LayoutBox option `excludeInvisibleChildrenFromBounds`.

@samreid can this branch be deleted?

[2020-11-04 21:18] pixelzoom commented on #259
@samreid are the revisions to IO Type completed? And if so, can I proceed with cleanup here?

[2020-11-04 22:24] zepumph commented on #259
https://github.com/phetsims/tandem/issues/217 was closed, so I think you are all good to go here.

[2020-11-04 22:35] samreid commented on #243
Yes, I'll delete it now then close this issue.

[2020-11-04 22:36] samreid commented on #243
Branch deleted, closing.

[2020-11-10 00:06] pixelzoom commented on #259
In the above commit, BeersLawSolutionInstances was moved into BeersLawSolution, and SoluteInstances was moved into Solute.  This resulted in no PhET-iO API changes, and there are no circular references when building.

Closing.

[2020-11-10 00:06] #259 closed

[2020-11-10 00:19] pixelzoom opened #260 "solutions and solutes should be under model"
The Studio tree currently looks like this:

[code]

`solutes` and `solutions` should be under `model`, not at the same level as `model` and `view`, like this:

[code]

[2020-11-10 00:21] pixelzoom commented on #260
Done in the above commit.

Labeling this as "ready for review", but unassigned until we get to PhET-iO redesign in #230.

[2020-11-23 14:26] samreid commented on #247
On hold until #230 has progress.

[2020-12-03 19:09] zepumph opened #261 "Support PhET-iO version for data recording"
@kathy-phet mentioned a PhET-iO study coming up for BLL, I said that the Metacog client version in our current BLL published version is out of date, and needs updating.

@zepumph to publish at least an MR updating to 3.5 (using https://github.com/phetsims/phet-io/issues/1262).

@kathy-phet will reach out to the researcher before I implement.

[2021-01-14 18:36] pixelzoom commented on #230
1/14/2021 PhET-iO meeting:

Ideally @kathy-phet would like this work to be done in 2021.  I can proceed with cleaning things up and moving things forward at my discretion.

[2021-02-03 17:31] pixelzoom opened #262 "upgrade PhET-iO implementation (12/31/2021)"
This is a prerequiste to https://github.com/phetsims/beers-law-lab/issues/230 (PhET-iO redesign).

From 1/14/2021 PhET-iO meeting:

Ideally @kathy-phet would like this work to be done in 2021.  I can proceed with cleaning things up at my discretion.

There are currently no milestones for QA and publishing.

[2021-02-26 01:50] kathy-phet opened #263 "Support hiding cuvette arrow"
In an old issue (https://github.com/phetsims/phet-io/issues/1220), client comment
They want to remove the beersLawLab.beersLawScreen.view.cuvetteNode.arrowNode so that you can't adjust the width of the cuvette. Problem was communicated as they tried to "disable" it, there was something in the "engineering of it that when trying to disable that one piece, it started to freeze everything in the sim.

[2021-03-09 00:29] pixelzoom opened #264 "Convert units to abbreviations"
There are deprecated uses of units.js that should be converted to abbreviations.  Search for "units:"

[2021-03-09 00:31] pixelzoom opened #265 "Revisit IOTypes"
Related to #262.  Revisit the IO Types in this sim. Are they necessary? Are they correct?

- [x] BeersLawSolutionIO
- [x] ~~ConcentrationModelIO~~
- [x] PrecipitateParticleIO
- [x] ~~ShakerIO~~
- [x] ShakerParticleIO
- [x] SoluteIO
- [x] ~~SoluteParticleIO~~

[2021-03-09 01:21] pixelzoom commented on #262
This work is now in progress, so block sim publication until reviewed and tested.

[2021-03-09 01:28] pixelzoom commented on #240
This was pretty easy. The only metadata that lives in overrides.js is `phetioFeatured`, and there were only 2 instances of that element:

beersLawLab.concentrationScreen.model.evaporator.enabledProperty
concentration.concentrationScreen.model.evaporator.enabledProperty

So done and closing.

[2021-03-09 01:28] #240 closed

[2021-03-09 01:45] pixelzoom commented on #265
ShakerIO is currently not used. In Shaker.js:

[code]

Why is this commented out?

[2021-03-09 02:00] pixelzoom commented on #264
Done and ready for review when PhET-iO is reviewed.  Deferring until then.

[2021-03-09 02:03] pixelzoom commented on #262
This comment will be a check list of things to address.

- [ ] `flowRateProperty` is a NumberProperty with a null range. Should it have a range, so that it gets a slider in Studio?

[2021-03-09 02:10] pixelzoom opened #266 "Changing soluteMolesProperty in Studio causes assertion failure"
Dragging the Studio slider for `beersLawLab.concentrationScreen.model.solution.soluteMolesProperty` crashes with:

[code]

[2021-03-09 19:54] pixelzoom opened #267 "Large amount of space below the wavelength slider thumb"
Why is there a large amount of space below the wavelength slider thumb?

<img width="298" alt="screenshot_897" src="https://user-images.githubusercontent.com/3046552/110529726-d59b1800-80d6-11eb-8aac-32a8233cfd55.png">

Older versions did not look like this, for example, the current published version [1.4.18](https://phet-dev.colorado.edu/html/beers-law-lab/1.4.18/beers-law-lab_en.html) (10/25/201

[2021-03-09 21:36] pixelzoom opened #268 "Revisit behavior of hint arrows for shaker"
The shaker has "hint arrows" that look like this:

<img width="229" alt="screenshot_899" src="https://user-images.githubusercontent.com/3046552/110540927-5280be80-80e4-11eb-83ec-2cd2e0c43983.png">

They are a hint to the user that the shaker can be moved.

Unfortunately, they only appear on pointer over, which is not at all useful for touch devices.

That behavior is very different from the hint a

[2021-03-09 22:43] pixelzoom opened #269 "Use NumberDisplay in ConcentrationMeterNode and ATDetectorNode"
ConcentrationMeterNode and ATDetectorNode currently do not use NumberDisplay.  They create their own Text node and background for the text, then manage the layout.

There is a concession that will need to be made if we use NumberDisplay.  These meters currently use ShadedRectangle to provide a psuedo-3D inset "look" to the display, and that is not supported by NumberDisplay.

[2021-03-09 23:46] pixelzoom opened #270 "Instrumentation of concentration NumberControls"
Related to https://github.com/phetsims/beers-law-lab/issues/262 (upgrade PhET-iO implementation), in the _Beer's Law_ screen:

Here's what the Studio tree looks like:

<img width="1108" alt="screenshot_903" src="https://user-images.githubusercontent.com/3046552/110553440-338b2800-80f6-11eb-8272-8a59ab7f0900.png">

There is a control for each solution because each solution has its own concentration

[2021-03-10 00:19] pixelzoom commented on #257
Not sure why BLLRulerNode and ConcentrationMeterNode went smoothly this time, but they did.

ATDetectorNode is still misbehaving.

[2021-03-10 00:42] pixelzoom opened #271 "Could not get values of absorbance as a function of concentration for making the table"
In https://github.com/phetsims/beers-law-lab/issues/263, there was one line that sounded like a second unrelated problem:

This is not enough info for me to guess what the client is trying to do, and how they are going about trying to do it.  Do you have more info?

@kathy-phet please advise on how to proceed

[2021-03-10 00:45] pixelzoom commented on #271
Based on phetsims/phet-io#1220 (comment), it looks like the client was using 1.5.5-phetio.

[2021-03-10 00:49] pixelzoom commented on #263
@arouinfar @kathy-phet please review. Confirm that cuvette arrow can be hidden via `beersLawLab.beersLawScreen.view.cuvetteNode.arrowNode.visibleProperty`, and that the sim continues to function.

[2021-03-10 02:31] pixelzoom commented on #257
The problem in ATDetectorNode was that I was doing this:

[code]

instead of this:

[code]

[2021-03-10 02:32] pixelzoom commented on #257
All deprecated input listeners have been replaced. Closing.

[2021-03-10 02:32] #257 closed

[2021-03-10 02:39] pixelzoom opened #272 "PhET-iO support for changing Solute name & formula"
Does this sim need Properties and instrumentation that support changing the names and formulas for solutes and solutions, similar to what was done for pH Scale?  (I don't understand why we'd want to let clients change those names, but I didn't understand it in pH Scale either.)

In pH Scale, there is a static instance of each solution, and it's name can be change via its `nameProperty`.  Here's th

[2021-03-10 04:37] pixelzoom opened #273 "Bring sim up to modern PhET code standards"
Related to #262 (upgrade PhET-iO instrumentation), this sim also needs a little general TLC, to bring it up to modern PhET code standards and patterns.

[2021-03-10 04:47] pixelzoom commented on #273
After the above commits, I realized I should publish a baseline dev version:

https://phet-dev.colorado.edu/html/beers-law-lab/1.7.0-dev.3/phet/beers-law-lab_en_phet.html
https://phet-dev.colorado.edu/html/beers-law-lab/1.7.0-dev.3/phet-io/

[2021-03-10 04:51] pixelzoom opened #274 "detector.body.positionProperty is PhET-iO only?"
The AT detector's body can be positioned via PhET-iO:

`beersLawLab.beersLawScreen.model.detector.body.positionProperty`

... but it is not draggable (has no DragListener) by design.

Is this what is desired?

[2021-03-10 06:16] pixelzoom commented on #266
soluteAmountProperty was renamed to soluteMolesProperty, for symmetry with soluteGramsProperty.

[2021-03-11 22:11] pixelzoom commented on #268
3/11/2021 design meeting @kathy-phet @arouinfar

Decide to totally remove the hint arrows.

[2021-03-11 22:15] pixelzoom opened #275 "Snap Concentration slider to 5 units"
Make the Concentration slider in the Beer's Law screen snap to 5 units while dragging.  No Studio slider for the associated Property.

[2021-03-11 22:20] pixelzoom commented on #272
3/11/21 design meeting @arouinfar @kathy-phet

Yes, we want to do the same thing as pH Scale.

Names & formulas are changeable to support "mystery" use cases.

[2021-03-11 22:22] pixelzoom opened #276 "Implement particles using Sprites"
To address the performance issues reported in #209, investigate using Sprites to draw shaker particles and precipitate particles.  They are currently implemented as a subclass of CanvasNode.  See base class ParticlesNode.ts.

ShakerParticlesNode.ts:

<img width="254" alt="screenshot_2054" src="https://user-images.githubusercontent.com/3046552/206940146-18f789dd-1b93-4d9b-bf1c-1c0e4fdd7643.png">

P

[2021-03-12 00:38] pixelzoom commented on #275
Snapping was already implemented for the Concentration sliders.  In ConcentrationControl.js:

[code]
Note that the snap intervals is "in view units". The model uses 'mol/L' throughout, but concentration is displayed in units that are specific to each solution.  So if a solution's concentration is displayed in mM, then the snap interval is 5 mM.  If  concentration is displayed in µM, then the snap

[2021-03-12 00:45] pixelzoom commented on #262
3/11/21 design meeting @arouinfar @kathy-phet @pixelzoom

Re:

Yes, they likely do.  Each particle is dispensed individually at random, and contributes to the solution after it has animated past the surface of the solution and dissolved in solution.  Due to this randomness, it's important to record and playback each shaker particle.

Re:

There is probably no reason to instrument the precipitate p

[2021-03-13 20:42] pixelzoom commented on #268
Done in the above commit.  There's really nothing to review here, so I'll just close this issue.

[2021-03-13 20:42] #268 closed

[2021-03-14 00:11] pixelzoom commented on #272
This is mostly done. All solutes now have `nameProperty` and `formulaProperty`, and changing them changes those strings everywhere in the sim.

These is one small PhET-iO design question for @arouinfar and @kathy-phet ... Solute formula is optional, so the value of `formulaProperty` can be a string or `null`.  If it's `null`, the solute's name will be used in contexts that require a formula - for

[2021-03-14 01:01] pixelzoom opened #277 "Values are not centered in meter display in State Wrapper downstream sim."
Weirdness with the Concentration meter in the State Wrapper. Steps to reproduce:

1. Start the sim with `phet-io-wrappers/state/?sim=beers-law-lab&phetioDebug&phetioValidation=true`
2. Go to the Concentration screen.
3. Drag the Concentration probe into the solution. You'll see the concentration value displayed in the meter is shifted to the right, not centered in the display area:

<img width="52

[2021-03-15 19:08] pixelzoom commented on #277
Note that the "Concentration" label is also beig shifted right in the downstream sim.  That will not be fixed by converting to NumberDisplay. I think this might have to do with this VBox in ConcentrationMeterNode, which changed in 6dcedcc20db5745eb2928d07748c2c72d8912519:

[code]

[2021-03-15 20:01] pixelzoom commented on #277
I resolved this by moving to the code that justifies the value to `valueNode.boundsProperty`.   And the centering of "Concentration" was fixed by setting `resizable: false` for the VBox.

Closing.

[2021-03-15 20:01] #277 closed

[2021-03-15 20:41] pixelzoom opened #278 "Replace deprecated WavelengthSlider"
From https://github.com/phetsims/beers-law-lab/issues/262#issuecomment-793265872:

This is definitely something we should do, for both PhET-iO and a11y standardization.

In Beer's Law screen, the Wavelength control panel looks like this:

<img width="224" alt="screenshot_914" src="https://user-images.githubusercontent.com/3046552/111218234-12b24f00-859c-11eb-8765-84b541451826.png">

The common-cod

[2021-03-15 20:56] pixelzoom commented on #260
This changed again in #272.  So we'll review there.  Closing this issue.

[2021-03-15 20:56] #260 closed

[2021-03-15 20:56] pixelzoom commented on #242
This is ancient, was fixed in sun, closing.

[2021-03-15 20:56] #242 closed

[2021-03-15 20:57] pixelzoom commented on #209
Consider using Sprites.js for particles, see #276.

[2021-03-15 21:00] pixelzoom opened #279 "Do individual particles need to be instrumented?"
From https://github.com/phetsims/beers-law-lab/issues/262#issuecomment-793265872:

[2021-03-15 21:01] pixelzoom commented on #279
3/11/21 design meeting @arouinfar @kathy-phet @pixelzoom

Re:

Yes, they likely do.  Each particle is dispensed individually at random, and contributes to the solution after it has animated past the surface of the solution and dissolved in solution.  Due to this randomness, it's important to record and playback each shaker particle.

Re:

There is probably no reason to instrument the precipitate p

[2021-03-15 21:39] pixelzoom commented on #273
This is in much better shape now.  Dev versions published after the above commits:

https://phet-dev.colorado.edu/html/beers-law-lab/1.7.0-dev.4/phet/beers-law-lab_en_phet.html
https://phet-dev.colorado.edu/html/beers-law-lab/1.7.0-dev.4/phet-io/

[2021-03-15 21:39] #273 closed

[2021-03-15 21:46] pixelzoom commented on #267
Also note that there is more space ABOVE the slider in published version [1.4.18](https://phet-dev.colorado.edu/html/beers-law-lab/1.4.18/beers-law-lab_en.html).

[2021-03-15 21:55] pixelzoom commented on #267
Here's the culprit, in WavelengthPanel.js:

[code]

[2021-03-15 21:59] pixelzoom commented on #267
Fixed, closing.

[2021-03-15 21:59] #267 closed

[2021-03-15 22:02] pixelzoom commented on #229
More on this in #275, so closing this issue.

[2021-03-15 22:02] #229 closed

[2021-03-15 22:10] pixelzoom commented on #266
To reproduce:

1. Start the sim in Studio `studio/?sim=beers-law-lab&phetioDebug&phetioElementsDisplay=all&phetioValidation=true`
2. Navigate to `beersLawLab.concentrationScreen.model.solution.soluteMolesProperty` in the Studio tree
3. Drag the Studio slider for  `soluteMolesProperty` to right, then start dragging to the left.  The assertion failure will occur.  And it only seems to occur if you'd

[2021-03-17 01:54] zepumph commented on #266
Short answer:

This was caused by an assertion error in the sim, thus you can add `?debugger` and get a debugger paused in assert.js on the sim side right when the error happens. Looks like it is occurring here:

https://github.com/phetsims/beers-law-lab/blob/f01f96d373fd2a0847e3fe8357fdde86625a5a13/js/concentration/model/Precipitate.js#L108

Long answer:

The error handling here is less than idea

[2021-03-18 17:46] pixelzoom opened #280 "Review inputEnabledProperty"
phetsims/scenery#1158 changed pickableProperty to inputEnabledProperty. Review this sim's use of inputEnbledProperty.

[2021-03-18 18:47] pixelzoom commented on #280
I see no reason to add `inputEnabledProperty` to the shaker, since it has no reason for being shown if it's not shakable.

[2021-03-18 19:04] pixelzoom commented on #280
I see no reason to add `inputEnabledProperty` to `cuvetteNode`.  If you don't want it to be resizable, set `beersLawLab.beersLawScreen.view.cuvetteNode.arrowNode.visibleProperty` to `false`.

[2021-03-18 19:06] pixelzoom commented on #280
I see no reason to instrument `inputEnabledProperty` for `lightNode`.  If you want the light to be permanently on, set `beersLawLab.beersLawScreen.view.lightNode.button.visibleProperty` to false.

[2021-03-18 19:17] pixelzoom commented on #280
Here are the cases where I see no reason to instrument `inputEnabledProperty`.

* `shakerNode` - It serves no purpose if it's not shakable. So if it's not interactive, there's no reason to show it.

* `cuvetteNode` - If you don't want it to be resizable, set `beersLawLab.beersLawScreen.view.cuvetteNode.arrowNode.visibleProperty` to `false`.

* `lightNode` -  If you want the light to be permanently

[2021-03-18 19:18] pixelzoom commented on #280
Closing, assuming review will be handled as part of #262.

[2021-03-18 19:18] #280 closed

[2021-04-03 15:02] pixelzoom commented on #272
@arouinfar @kathy-phet I realize that Beer's Law Lab is not a high priority right now.  But it would be really good (and cost effective!) to be able to wrap up this issue before I forget what I've done, so I'm raising the priority of this issue.   I'm looking for an answer to 1 design question, described in https://github.com/phetsims/beers-law-lab/issues/272#issuecomment-798805821.

[2021-04-14 01:07] pixelzoom opened #281 "model.dropper instrumentation"
From https://github.com/phetsims/beers-law-lab/issues/262#issuecomment-793265872:

[2021-04-14 01:08] pixelzoom opened #282 "model.shaker instrumentation"
From https://github.com/phetsims/beers-law-lab/issues/262#issuecomment-793265872:

[2021-04-14 01:12] pixelzoom commented on #262
The remaining items in the https://github.com/phetsims/beers-law-lab/issues/262#issuecomment-793265872 checklist are being tracked in their own GitHub issues.  So I think it's safe to close this issue, and consider this sim to be "mostly upgraded".

[2021-04-14 01:12] #262 closed

[2021-04-14 01:13] pixelzoom commented on #266
No plans to work on this until this sim comes up for republication and/or PhET-iO redesign.  So unassigning.

[2021-04-15 21:25] pixelzoom commented on #272
@arouinfar and I reviewed. The current behavior looks good.  That is, `null` and `''` are treated differently.

Closing.

[2021-04-15 21:25] #272 closed

[2021-04-20 18:06] pixelzoom commented on #243
Due to https://github.com/phetsims/special-ops/issues/196#issuecomment-823486502, this branch was restored.  It will need to be deleted again.  Reopening and self assigning.

[2021-04-20 18:07] pixelzoom commented on #219
Due to https://github.com/phetsims/special-ops/issues/196#issuecomment-823486502, this branch was restored.  It will need to be deleted again.  Reopening and self assigning.

[2021-04-20 18:08] pixelzoom commented on #207
Due to https://github.com/phetsims/special-ops/issues/196#issuecomment-823486502, this branch was restored.  It will need to be deleted again.  Reopening and self assigning.

[2021-04-20 18:09] pixelzoom commented on #107
Due to https://github.com/phetsims/special-ops/issues/196#issuecomment-823486502, this branch was restored.  It will need to be deleted again.  Reopening and self assigning.

[2021-04-22 21:14] pixelzoom commented on #107
Re-deleted using GitHub UI.  Closing.

[2021-04-22 21:14] #107 closed

[2021-04-22 21:14] pixelzoom commented on #219
Re-deleted using GitHub UI.  Closing.

[2021-04-22 21:14] #219 closed

[2021-04-22 21:15] pixelzoom commented on #243
Re-deleted using GitHub UI.  Closing.

[2021-04-22 21:15] #243 closed

[2021-04-22 21:16] pixelzoom commented on #207
Re-deleted using GitHub UI.  Closing.

[2021-04-22 21:16] #207 closed

[2021-04-27 17:10] pixelzoom opened #283 "Factor out duplicated credits."
These credits are duplicated in beers-law-lab-main.js and concentration.js.  The more modern pattern is to factor shared credits out into a constants file (BLLConstants.js).

[code]

[2021-04-27 17:14] pixelzoom commented on #283
Done, closing.

[2021-04-27 17:14] #283 closed

[2021-04-29 20:23] pixelzoom commented on #239
Closing this. It's covered by phetsims/scenery-phet#488, and is a general problem that occurs in all sims that have a probe.

[2021-07-13 19:38] pixelzoom commented on #239
The general issue was moved to https://github.com/phetsims/kite/issues/77, and is still not addressed.  Reopening this issue so that QA doesn't re-report.

[2021-07-13 21:59] pixelzoom commented on #239
Self assigning.  @samreid has a fix in https://github.com/phetsims/kite/issues/77. I'm going to wait until @jonathanolson has reviewed and closed https://github.com/phetsims/kite/issues/77 before I close this issue.

[2021-07-14 13:30] samreid commented on #239
https://github.com/phetsims/kite/issues/77 has been reviewed and closed.

[2021-07-14 13:32] #239 closed

[2022-01-04 20:46] pixelzoom commented on #230
Status for 1/4/2022 quarterly-planning meeting:

Status is unchanged from the previous quarterly-planning meeting. There are several issues that need to be fixed (estimate: 2-3 weeks), and PhET-iO re-design needs to be done.

[2022-01-26 17:58] arouinfar commented on #275
Thanks @pixelzoom looks great in master.

[2022-01-26 17:58] #275 closed

[2022-01-26 18:00] arouinfar commented on #263
Looks good in master, closing.

[2022-01-26 18:00] #263 closed

[2022-03-28 16:14] KatieWoe opened #284 "CT Assertion failed: unexpected number of particles removed"
[code]

[2022-03-28 16:22] pixelzoom commented on #284
Manually mapping the stack trace from .js to .ts .... This assertion failed at line 108 in Precipitate.ts:

[code]

[2022-03-28 16:29] pixelzoom commented on #284
In the above commit, I added an assertion message, to provide a bit more info.   But beers-law-lab has not been touched in a very long time, I've never seen this error before, and I can't reproduce it with local fuzzing.  So I'm guessing it's either a very rare corner case, or something related specifically to the State wrapper.

[2022-03-28 16:47] pixelzoom commented on #284
This is not specific to the State wrapper. It's just difficult for CT to reproduce. I was able to reproduce this manually, running unbuilt with this URL:
`beers-law-lab/beers-law-lab_en.html?brand=phet&ea&debugger`

Steps:
1. Go to _Concentration_ screen
2. Choose "Potassium permanganate" from the Solute combo box, because it precipitates quickly.
3. Shake the shaker until "Saturated!" appears in

[2022-04-01 16:45] pixelzoom commented on #278
Also note that this sim is currently using WavelengthSlider, which is now deprecated.

[2022-04-01 16:51] pixelzoom commented on #278
Another design problem with using WavelengthNumberControl ...

When the "preset" radio button is selected, there is no slider and arrow buttons:

![screenshot_353](https://user-images.githubusercontent.com/3046552/161307237-1e501c1a-c7cf-4272-bcbd-8a91c0b4dfa1.png)

When the "variable" radio button is selected, there is a slider and arrow buttons:

![screenshot_352](https://user-images.githubuserc

[2022-04-01 17:12] pixelzoom commented on #278
Actually, we need arrow buttons too.  So what should be done is to replaced this bit with WavelengthNumberControl, with label and text field hidden:

![screenshot_354](https://user-images.githubusercontent.com/3046552/161310690-48af5b95-9807-4524-97de-9fcf7ad4060d.png)

[2022-04-01 18:51] pixelzoom commented on #278
After a significant amount of work in https://github.com/phetsims/scenery-phet/issues/730, because WavelengthNumberControl wasn't sufficiently customizable, this is done.  Vertical spacing is a little different (improved) but otherwise the same UI, see screenshot below.

![screenshot_356](https://user-images.githubusercontent.com/3046552/161324160-245d7314-6a79-44a9-bba2-596136b63957.png)

[2022-04-01 18:51] #278 closed

[2022-04-03 15:17] pixelzoom opened #285 "CT: required tandems must be supplied"
Caused by #278.

[code]

[2022-04-04 19:00] pixelzoom commented on #285
Fixed over in https://github.com/phetsims/scenery-phet/issues/730.

[2022-04-04 19:00] #285 closed

[2022-04-12 14:50] KatieWoe opened #286 "CT unexpected number of particles removed: expected 3, removed 0"
[code]

[2022-04-12 14:52] pixelzoom commented on #286
Duplicate of https://github.com/phetsims/beers-law-lab/issues/284.

[2022-04-12 14:52] #286 closed

[2022-04-12 14:54] pixelzoom commented on #284
From duplicate https://github.com/phetsims/beers-law-lab/issues/286, here's a more recent stack trace with the improved assertion message:

[code]

[2022-09-08 00:25] pixelzoom opened #287 "Convert to TypeScript"
Requested by @kathy-phet.

This also includes Concentration.